@import "../../../../../assets/scss/_variables";
.allbookings {
    .nav-tabs {
        border: none;
        margin-bottom: 30px;
        .nav-item {
            width: 33.33%;
            text-align: center;
            .nav-link {
                background: none;
                border: none;
                box-shadow: 0px 1px 0px 0px $grey-border;
                color: rgba(115, 133, 147, 0.6);
                font-size:$font-size-medium;
                font-weight: $font-weight-mid;
                font-family: $font-proxima;
                .badge {
                    opacity: 0.6;
                    font-size: 0.875rem !important;
                    font-weight:normal !important;
                    margin-left: 0.5rem;
                    border-radius: 20px;
                    min-width: 21px;
                    min-height: 21px;
                    line-height: 9px;
                    padding: 6px;
                }
                &.active {
                    box-shadow: 0px 2px 0px 0px $color-topmenuactive;
                    color: $color-topmenuactive;
                    .badge {
                        opacity: 1;
                        background-color: #00a2df;
                    }
                }
            }
        }
    }

    @media (max-width: $screen-md-screen) {
        .nav-tabs {
            justify-content: center !important;
            .nav-item {
                width: 50%;
                margin-bottom: 20px;
            }
        }
    }
    @media (max-width: $screen-sm-screen) {
        .nav-tabs {
            .nav-item {
                width: 100%;
                .nav-link {
                    justify-content: space-between;
                    display: flex;
                }
            }
        }
    }
}