@import '../../../../../../../assets/scss/_variables';
.directors-info {
    h2 {
        font-weight: 600;
        font-family: $font-proxima;
    } // p {
    //     margin-bottom: 2.3rem;
    // }
    .accordion {
        .card {
            border: 0;
            background-color: $right-side-background;
            &-header {
                padding: 0.5rem 0rem;
                border: 0;
                background-color: $right-side-background;
                a {
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            &-body {
                padding-left: 0;
                padding-right: 0;
            }
        }
        h5 {
            color: #212529;
            text-decoration: none;
        }
        .fa-angle-down {
            font-size: 1.2rem;
            margin-right: 1rem;
        }
    }
    .documentInfo {
        background: $white-color;
        padding: 20px;
        .uploaded-file {
            border: 1px solid $secondary-color;
            border-radius: 3px;
            margin-bottom: 20px;
            .fileIcon {
                width: 35px;
                height: 35px;
            }
        }
        .file-uploader {
            padding: 25px;
            border: 1px dashed #e1d8d8;
            text-align: center;
        }
    }
}

.info_text {
    margin-top:2 rem;
    p {
        font-size: 0.875rem;
        font-family: $font-proxima;
        color: $secondary-text-color;
        padding-top: 0.59rem;
    }
    a {
        @extend p;
        &:hover {
            text-decoration: none;
        }
    }
    img {
        display: inline;
        margin-right: 0.5rem;
        vertical-align: text-top;
    }
}

.submit-btn {
    .text {
        font-size: 0.8rem;
        font-weight: 500;
        margin-top: 0.5rem;
        color: #738593;
    }
    a {
        font-weight: 600;
        padding: 0.75rem 3.75rem;
    }
}