@import '../../../../../../../assets/scss/_variables';
.directors-info {
    h2 {
        font-family: $font-pragmatica;
        font-weight: $font-weight-mid;
        color: $text-color-default;
        span:nth-child(2) {
            font-family: $font-NeoSansArabic-Medium;
        }
    }
    h5 {
        margin-top: 1.3rem;
        span:nth-child(2) {
            font-family: $font-NeoSansArabic-Medium;
        }
    }
    
    // p {
    //     margin-bottom: 2.3rem;
    // }
    .accordion {
        .card {
            border: 0;
            background-color: $right-side-background;
            &-header {
                padding: 0.5rem 0rem;
                border: 0;
                background-color: $right-side-background;
                border-bottom: 1px solid $grey-border;
                a {
                    &:hover {
                        text-decoration: none;
                    }
                }
                &::after {
                    content: " ";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: #fbfbfd;
                    bottom: -1px;
                    z-index: 1;
                }
            }
            &-body {
                padding-left: 0;
                padding-right: 0;
            }
        }
        h5 {
            color: #212529;
            text-decoration: none;
        }
        .fa-angle-down {
            font-size: 1.2rem;
            margin-right: 1rem;
        }
    }
    .documentInfo {
        margin-bottom: 1.5rem;
        background: $white-color;
        padding: 20px;
        .uploaded-file {
            border: 1px solid $secondary-color;
            border-radius: 3px;
            margin-bottom: 20px;
            .fileIcon {
                width: 35px;
                height: 35px;
            }
        }
        .file-uploader {
            padding: 25px;
            border: 1px dashed #e1d8d8;
            text-align: center;
            small {
                color: $text-grey;
            }
        }
    }
}

.info_text {
    p {
        font-size: 0.875rem;
        font-family: $font-proxima;
        color: $secondary-text-color;
        padding-top: 0.59rem;
    }
    a {
        @extend p;
        &:hover {
            text-decoration: none;
        }
    }
    img {
        display: inline;
        margin-right: 0.5rem;
        vertical-align: text-top;
    }
}

.submit-btn {
    .btn {
        font-weight: 600;
        padding: 0.75rem 3.75rem;
        span:nth-child(2) {
            font-family: $font-NeoSansArabic-Regular;
        }
    }

}