<Section class="dashboard" *ngIf="providerInfo">
  <!-- row -->
  <div class="welcomeSection">
    <h3>Hey {{providerInfo.CompanyName}}, Welcome<span *ngIf="providerInfo.LoginRank > 1"> Back</span>!</h3>
    <p class="provider-info" *ngIf="providerInfo.LoginRank > 1">
      Last logged in {{providerInfo.LastLoginDate | date : "d MMM, yyyy"}} {{providerInfo.LastLoginDate | date :
      "H:mm"}} from {{providerInfo.LastLoginCountryName}}
    </p>
  </div>

  <!-- Booking Summary -->
  <div class="titleSection d-flex justify-content-between">
    <h5 class="m-0">Overview</h5>
    <div ngbDropdown class="dropdown">
      <div class="pointer" id="sortByYear" ngbDropdownToggle>
        <span>2017-2018</span>
      </div>
      <div aria-labelledby="sortByYear" class="sortFilter animated fadeIn dropdown-menu" ngbDropdownMenu x-placement="bottom-left">
        <ul class="list-group">
          <li class="list-group-item pointer">
            <span>2016</span>
          </li>
          <li class="list-group-item pointer">
            <span>2015</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

<section class="bookingSummary mt-3">
  <div class="row">
  <div class="summarySection col-xl-6 col-md-6 col-sm-12">
    <div class="summaryTitle">
      <h5><img src="../../../../../assets/images/icons/icon_user02.svg" class="icon-size-24 mr-3"> Total Customers</h5>
    </div>
    <div class="summaryQuantity pt-2 pb-2">
      <div class="rates">
      <span>{{providerInfo.TotalCustomers}}</span>
      </div>
    </div>
  </div>

<div class="summarySection col-xl-6 col-md-6 col-sm-12">
    <div class="summaryTitle">
     <h5><img src="../../../../../assets/images/icons/icon_revenue.svg" class="icon-size-24 mr-3"> total Revenue</h5>
    </div>
    <div class="summaryQuantity d-flex pt-2 pb-2">
      <div class="rates">
      <small class="mr-2">{{providerInfo.BillingCurrencyCode}}</small>
      <span>{{providerInfo.BillingTillDate | number: '1.2-2'}}</span>
      </div>
    </div>
</div>
  </div>
  </section>

  <!-- Booking Summary End -->



  <!-- booking summery -->
<div class="titleSection d-flex justify-content-between">
  <h5 class="m-0">Bookings</h5>
</div>

<section class="bookingSummary">
  <div class="row">
    <div class="summarySection col-xl-6 col-md-6 col-sm-12">
      <div class="summaryTitle">
        <h5>
          <img src="../../../../../assets/images/icons/icon_booking_current.svg" class="icon-size-24 mr-3">Current Bookings</h5>
      </div>
      <div class="summaryQuantity pt-2 pb-2">
        <div class="rates">
          <span>{{providerInfo.CurrentBookingCount}}</span>
        </div>
      </div>
    </div>

    <div class="summarySection col-xl-6 col-md-6 col-sm-12">
      <div class="summaryTitle">
        <h5>
          <img src="../../../../../assets/images/icons/icon_booking_total.svg" class="icon-size-24 mr-3">Total Bookings</h5>
      </div>
      <div class="summaryQuantity d-flex pt-2 pb-2">
        <div class="rates">
          <span>{{providerInfo.TotalBookingCount}}</span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- booking summery end -->
  <div class="bookingTypeSection d-flex justify-content-end mt-3">
    <div ngbDropdown class="dropdown">
      <div class="pointer" id="bookingMode" ngbDropdownToggle>
        <span>{{selectedBookingMode}}</span>
      </div>
      <div aria-labelledby="bookingMode" class="sortFilter animated fadeIn dropdown-menu" ngbDropdownMenu x-placement="bottom-left">
  
        <ul class="list-group">
          <li class="list-group-item pointer" (click)="selectedBookingMode = 'CURRENT BOOKINGS'">
            <span>CURRENT BOOKINGS</span>
          </li>
          <li class="list-group-item pointer" (click)="selectedBookingMode = 'PAST BOOKINGS'">
            <span>PAST BOOKINGS</span>
          </li>
          <!-- <li class="list-group-item pointer" (click)="selectedBookingMode = 'ALL BOOKINGS'">
                        <span>ALL BOOKINGS</span>
                </li> -->
        </ul>
  
      </div>
    </div>
  </div>

  <div class="bookingCard overflow-hidden" *ngIf="providerInfo.BookingDetails">
      <div class="card animated bounceInDown pointer mt-2" *ngFor="let booking of bookings | BookingMode : selectedBookingMode" (click)="viewBookingDetails(booking.BookingID)"> 
        <div class="card-body pt-2">
          <!-- booking top row -->
          <div class="row">
            <div class="col-12">
              <div class="bookings-route border-right-0">
                <div class="bookings-route-number d-flex no-gutters">
                  <div class="col-xl-6 ">
                    <a href="javascript:;">
                      <img src="../../../../../assets/images/icons/icon_pin_sea.svg"> {{booking.HashMoveBookingNum}}
                    </a>
                    <small class="d-block ml-4 pt-1 mb-1">
                      Booked on {{booking.HashMoveBookingDate | date : "d MMM y"}} {{booking.HashMoveBookingDate | date
                      : "H:mm"}}
                    </small>
                  </div>
                  <div class="col-xl-6 ">
                    <span class="pull-right justify-content-center">
                      <img [src]="baseExternalAssets +'/'+ booking.CarrierImage"> {{booking.CarrierName}}
                    </span>
                  </div>
                </div>
                <hr class="hr-solid mt-0">
              </div>
            </div>
          </div>
          <!-- booking top row -->

          <!-- booking bottom row -->
          <div class="row">
            <div class="col-3 mt-1">
              <div class="bookings-route border-right-0 right-arrow">
                <div class="ports pull-left">
                  <div class="ports d-inline-block">
                    <small class="d-block mb-2">From</small>
                    <label class="ports-label mt-1">{{booking.PolCode}}</label>
                    <span class="d-block mb-3">Port of {{booking.PolCountry}}</span>
                    <span>
                      <img src="../../../../../assets/images/icons/Icons_Calendar.svg"> {{booking.EtdLcl | date : "d
                      MMM, yyyy"}} {{booking.EtdLcl | date : "H:mm"}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3 mt-1 pl-4">
              <div class="bookings-route">
                <div class="ports pull-left">
                  <div class="ports d-inline-block">
                    <small class="d-block mb-2">to</small>
                    <label class="ports-label mt-1">{{booking.PodCode}}</label>
                    <span class="d-block mb-3">Port of {{booking.PodCountry}}</span>
                    <div class="ports-calendar">
                      <span>
                        <img src="../../../../../assets/images/icons/Icons_Calendar.svg"> {{booking.EtaLcl | date : "d
                        MMM, yyyy"}} {{booking.EtaLcl | date : "H:mm"}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-3 mt-1 pl-4">
              <div class="bookings-route">
                <div class="ports pull-left">
                  <div class="ports d-inline-block ">
                    <small class="d-block">CUSTOMER</small>
                    <div class="dashboard-image-box mt-1">
                      <img src="../../../../../assets/images/logos/logo.jpg">
                    </div>
                    <label class="ports-label mt-1">
                      {{booking.CustomerName}}</label>
                    <small class="d-block pt-4 mb-1 mt-3">DOCUMENT STATUS</small>
                    <span class="pending">{{booking.DocumentStatus}}</span>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-3 mt-1 pl-4">
              <div class="bookings-route border-right-0">
                <div class="ports pull-left">
                  <div class="ports d-inline-block">
                    <small class="d-block mb-2">Price</small>
                    <label class="ports-label mt-1">
                      {{booking.CurrencyCode}} {{booking.BookingTotalAmount | number:'1.2-2'}}
                    </label>
                    <small class="d-block pt-2 mt-4 mb-1">SHIPPING STATUS</small>
                    <span class="secondary">{{booking.ShippingStatus}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <a href="javascript:;" class="hvr-icon-forward grey-anc-btn mt-3 pull-right pointer">
    <span class="link-hover-grey">View All Bookings</span>
    <img alt="icon" class="icon-size-14 hvr-icon" src="../../../../../assets/images/icons/icon_arrow_right.svg">
  </a>
</Section>