<div class="user-dashboard bookings">
  <!-- row -->
  <div class="user-dashborad-welcome-section">
    <h3>Hey beryl Logistics,
      <span>Welcome Back</span>
    </h3>
    <p class="user-info">Last logged in login in 3 days back from 123.12346782 United Arab Emirates </p>
  </div>
  <!--/ row -->

  <!-- booking summery -->
  <div class="row">
    <div class="summary-section col-md-12 pr-0">
      <h4 class="summary-title">Revenue Summary</h4>
      <div class="booking-summery">
        <div class="row pointer">
          <!-- Booking Summery Col -->
          <div class="summary-section-boxes col-xl-6 col-md-6 col-sm-12">
            <div class="summarybox booking-summary">
              <div class="summary-icon">
                <img src="../../../../../assets/images/icons/icon_user02.svg">
              </div>
              <div class="summary-box-title ml-2">
                <h5>Total in voice Amount</h5>
              </div>
              <div class="summery-quantity pl-4">
                <span class="ml-3">16</span>
              </div>
            </div>
          </div>
          <!--/ Booking Summery Col -->
          <!-- Booking Summery Col2 -->

          <!--/ Booking Summery Col2 -->
          <!-- Booking Summery Col3 -->
          <div class="summary-section-boxes col-xl-6 col-md-6 col-sm-12">
      
            <div class="summarybox booking-summary">
              <div class="summary-icon">
                <img src="../../../../../assets/images/icons/icon_billing.svg">
              </div>
              <div class="summary-box-title ml-2">
                <h5>total Revenue</h5>
              </div>
              <div class="summery-quantity d-flex">
                <small>USD</small>
                <span>1,000,0000.00</span>
              </div>
            </div>
          </div>
          <!--/ Booking Summery Col3 -->
        </div>
      </div>
    </div>
  </div>
  <!--/ booking summery -->

  <!-- booking summery -->
  <div class="row">
    <div class="summary-section col-md-12 pr-0">
      <h4 class="summary-title mt-2">Bookings</h4>
      <div class="booking-summery">
        <div class="row pointer">
          <!-- Booking Summery Col -->
          <div class="summary-section-boxes col-xl-6 col-md-6 col-sm-12">
      
            <div class="summarybox booking-summary">
              <div class="summary-icon">
                <img src="../../../../../assets/images/icons/icon_booking_current.svg">
              </div>
              <div class="summary-box-title ml-2">
                <h5>Current Bookings</h5>
              </div>
              <div class="summery-quantity pl-4">
                <span class="ml-3">16</span>
              </div>
            </div>
          </div>
          <!--/ Booking Summery Col -->

          <!-- Booking Summery Col2 -->
          <div class="summary-section-boxes col-xl-6 col-md-6 col-sm-12">
 
            <div class="summarybox booking-summary">
              <div class="summary-icon">
                <img src="../../../../../assets/images/icons/icon_booking_total.svg">
              </div>
              <div class="summary-box-title ml-2">
                <h5>Total Bookings</h5>
              </div>
              <div class="summery-quantity pl-4">
                <span class="ml-3">13</span>
              </div>
            </div>
          </div>
          <!--/ Booking Summery Col3 -->
        </div>
      </div>
    </div>
  </div>
  <!--/ booking summery -->

  <div class="row">
    <div class="col-12 pr-0 pt-2 mt-4">
      <div class="card">
        <div class="card-body pt-2">
          <!-- booking top row -->
          <div class="row">
            <div class="col-12">
              <div class="bookings-route border-right-0 ">
                <div class="bookings-route-number d-flex no-gutters">
                  <div class="col-xl-6 ">
                    <a href="javascript:;">
                      <img src="../../../../../assets/images/icons/Icons_Calendar.svg"> HM1823JDF323
                    </a>
                    <small class="d-block pl-1 ml-4">Booked on 6 nov 2018 </small>
                  </div>
                  <div class="col-xl-6 mt-2">
                    <span class="pull-right">
                      <img src="../../../../../assets/images/logos/carrierlogo.jpg">Maersk Line</span>
                  </div>
                </div>
                <hr class="hr-solid">
              </div>
            </div>
          </div>
          <!-- booking top row -->
          <!-- booking bottom row -->
          <div class="row">
            <div class="col-3 mt-1">
              <div class="bookings-route border-right-0 right-arrow">
                <div class="ports pull-left">
                  <div class="ports d-inline-block">
                    <small class="d-block mb-3">From</small>
                    <label class="ports-label">AEAJEA</label>
                    <span class="d-block mb-3">Port of Jebal Ali,Dubai</span>
                    <span>
                      <img src="../../../../../assets/images/icons/Icons_Calendar.svg">12 Jul,2018 3:11 </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3 mt-1 pl-4">
              <div class="bookings-route">
                <div class="ports pull-left">
                  <div class="ports d-inline-block">
                    <small class="d-block mb-3">to</small>
                    <label class="ports-label">AEAJEA</label>
                    <span class="d-block mb-3">Port of Felixstowe, UK</span>
                    <div class="ports-calendar">
                      <span>
                        <img src="../../../../../assets/images/icons/Icons_Calendar.svg">12 Jul,2018 3:11 </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-3 mt-1 pl-4">
              <div class="bookings-route">
                <div class="ports pull-left">
                  <div class="ports d-inline-block ">
                    <small class="d-block">CUSTOMER</small>
                    <div class="dashboard-image-box">

                      <img src="../../../../../assets/images/logos/comapnylogo.jpg">
                    </div>
                    <label class="ports-label mt-1">
                      TEXPO LLC</label>
                    <small class="d-block  pt-3  mt-4 mb-1">DOCUMENT STATUS</small>
                    <span class="pending">Pending</span>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-3 mt-1 pl-4">
              <div class="bookings-route border-right-0">
                <div class="ports pull-left">
                  <div class="ports d-inline-block">
                    <small class="d-block mb-3">Price</small>
                    <label class="ports-label">AED 2750.00</label>
                    <small class="d-block pt-2 mt-4 mb-1">DOCUMENT STATUS</small>
                    <span class="secondary">In Transit</span>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>