@import '../../../../../../assets/scss/_variables';
.businessDetail {
    .services {
        .servicechip {
            border-radius: 4px;
            border: 1px solid $input-border;
            background: $white-color;
            position: relative;
            font-family: $font-proxima;
            &.active {
                box-shadow: 0px 5px 20px 0px rgba(0, 162, 223, 0.15) !important;
                border-radius: 4px;
                border: 1px solid $primary-color !important;
                background: $white-color !important;
                &:before {
                    content: url('../../../../../../assets/images/icons/selection_tick.svg');
                    width: 44px;
                    height: 44px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
            &-provides,
            &-valueAdded {
                @extend .servicechip;
                height: 50px;
            }
            &-asscoiation {
                @extend .servicechip;
                height: 150px;
                padding: 1rem;

                img {
                    width: 40%;
                    align-self: center;
                    margin-bottom: 0.7rem;
                }
            }
        }
    }
    .document {
        &-Info {
            margin-bottom: 2.8rem;
            .uploaded-file {
                border: 1px solid $secondary-color;
                border-radius: 3px;
                .fileDesc {
                    a {
                        text-decoration: none;
                        .fileIcon {
                            width: 35px;
                            height: 35px;
                        }
                        span {
                            color: $text-color-default;
                        }
                    }
                }
            }
            .file-uploader {
                border: 1px dashed #e1d8d8;
                border-radius: 4px;
                .drag-support {
                    color: $text-grey;
                    font-size: $font-size-medium;
                    position: relative;
                    top: 35px;
                }
                .browse-span {
                    color: $secondary-color;
                    font-weight: 500;
                }
                text-align: center;
                app-ng-files-drag-n-upload {
                    label {
                        padding: 2.88rem 60px;
                    }
                }
                &.company-logo {
                    label {
                        padding: 1rem;
                    }
                }
            }
            &.removeBorder {
                border: none;
            }
        }
    }
    input[placeholder="Company Name"] {
        cursor: no-drop;
    }
}