<section class="businessDetail">
  <h3 class="title">Setup your business profile</h3>
  <p class="sub-title">It takes only a few minutes to send us your basic information.</p>
  <section class="info mt-3">
    <h5 class="m-0">Business Information</h5>
    <hr class="hr-solid">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label>Company Name</label>
          <input type="text" class="form-control" placeholder="Texpo LLC">
        </div>
      </div>
      <div class="col-6"></div>
    </div>
    <div class="row">
      <div class="col-6">
        logo
      </div>
      <div class="col-6"></div>
    </div>
  </section>
  <section class="services mt-3">
    <h5 class="m-0">Services</h5>
    <small>Select the services your company provides.</small>
    <hr class="hr-solid">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div #selectService class="service-btn text-center d-flex flex-column justify-content-center mb-2 pointer">
              <span>Sea Freight</span>
            </div>
          </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div #selectService class="service-btn text-center d-flex flex-column justify-content-center mb-2 pointer">
                <span>Air Freight</span>
              </div>
            </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div #selectService class="service-btn text-center d-flex flex-column justify-content-center mb-2 pointer">
                  <span>Ground Transport</span>
                </div>
              </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                  <div #selectService class="service-btn text-center d-flex flex-column justify-content-center mb-2 pointer">
                    <span>Warehousing</span>
                  </div>
                </div>
        </div>
  </section>
    <section class="services mt-3">
      <h5 class="m-0">Value Added Services</h5>
      <small>Select the value added services your company provides.</small>
      <hr class="hr-solid">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div #selectService class="service-btn text-center d-flex flex-column justify-content-center mb-2 pointer">
            <span>Sea Freight</span>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div #selectService class="service-btn text-center d-flex flex-column justify-content-center mb-2 pointer">
            <span>Air Freight</span>
          </div>
        </div>
 
      </div>
    </section>
    <section class="services mt-3">
      <h5 class="m-0">A Bit More Information</h5>
      <hr class="hr-solid">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div #selectService class="service-btn text-center d-flex flex-column justify-content-center mb-2 pointer">
            <span>Sea Freight</span>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div #selectService class="service-btn text-center d-flex flex-column justify-content-center mb-2 pointer">
            <span>Air Freight</span>
          </div>
        </div>
    
      </div>
    </section>

</section>