<table datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">

<thead>
  <tr>
    <th>ID</th>
    <th>First name</th>
    <th>Last name</th>
<th>First name</th>
<th>Last name</th>
<th>First name</th>
<th>Last name</th>
<th>First name</th>
<th>Last name</th>
<th>First name</th>
<th>Last name</th>
<th>First name</th>
<th>Last name</th>
<th>First name</th>
<th>Last name</th>
<th>First name</th>
<th>Last name</th>
<th>First name</th>
<th>Last name</th>
<th>First name</th>
<th>Last name</th>
<th>First name</th>
<th>Last name</th>
<th>First name</th>
<th>Last name</th>

  </tr>
</thead>
<tbody>
<tr *ngFor="let obj of allRatesList">
    <td>{{ obj.id }}</td>
<td>{{ obj.title }}</td>
<td>{{ obj.shortName }}</td>
<td>{{ obj.title }}</td>
<td>{{ obj.shortName }}</td>
<td>{{ obj.title }}</td>
<td>{{ obj.shortName }}</td>
<td>{{ obj.title }}</td>
<td>{{ obj.shortName }}</td>
<td>{{ obj.title }}</td>
<td>{{ obj.shortName }}</td>
<td>{{ obj.title }}</td>
<td>{{ obj.shortName }}</td>
<td>{{ obj.title }}</td>
<td>{{ obj.shortName }}</td>
<td>{{ obj.title }}</td>
<td>{{ obj.shortName }}</td>
<td>{{ obj.title }}</td>
<td>{{ obj.shortName }}</td>
<td>{{ obj.title }}</td>
<td>{{ obj.shortName }}</td>
<td>{{ obj.title }}</td>
<td>{{ obj.shortName }}</td>
<td>{{ obj.title }}</td>
<td>{{ obj.shortName }}</td>

  </tr>
</tbody>

</table>
<button class="btn btn-primary" (click)="discardDraft()">Discard Draft</button>