<section class="directors-info">

  <h2> Business Profile </h2>
  <p>It takes less than 60 seconds to add your business and get started </p>

  <form>
    <div class="row justify-content-between">
      <div class="col-3">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Job Title </label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>CEO</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group dir-otherLanguage">
          <label for="exampleFormControlSelect1">المسمى الوظيفي </label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>المدير التنفيذي</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="first name">First Name</label>
          <input type="text" class="form-control" placeholder="John">
        </div>
      </div>

      <div class="col">
        <div class="form-group dir-otherLanguage">
          <label for="first name">الاسم الاول </label>
          <input type="text" class="form-control" placeholder="المثال : جون">
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col">
        <div class="form-group">
          <label for="first name">Last Name</label>
          <input type="text" class="form-control" placeholder="Smith">
        </div>
      </div>

      <div class="col">
        <div class="form-group dir-otherLanguage">
          <label for="first name">الاسم الأخير</label>
          <input type="text" class="form-control" placeholder="الاسم الأخير">
        </div>
      </div>
    </div>


    <div class="row">
        <div class="col-6">
          <div class="check-boxes-main">
            <input id="1" name="documentsUpload" type="checkbox">
            <label for="1">
              <span></span>Mubashira
            </label>
          </div>
        </div>
        <div class="col-6">
          <div class="check-boxes-main dir-rtl">
            <input id="2" name="documentsUpload" type="checkbox">
            <label for="2">
              <span></span>Mubashira
            </label>
          </div>
        </div>
      </div>




    <div class="document-upload-box">
      <div class="col-12">
        <img src="../../../assets/images/icons/manager-icon.png">
        <p> Drag here or browse to upload</p>
      </div>

    </div>

    <div class="row form-group">
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Job Title </label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>CEO</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <label for="first name">First Name</label>
        <input type="text" class="form-control" placeholder="John">

        <label for="first name">Last Name</label>
        <input type="text" class="form-control" placeholder="Smith">
      </div>

      <div class="col dir-rtl">
        <div class="form-group">
          <label for="exampleFormControlSelect1">المسمى الوظيفي </label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>المدير التنفيذي</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <label for="first name">الاسم الاول </label>
        <input type="text" class="form-control" placeholder="المثال : جون">


        <label for="first name">الاسم الأخير</label>
        <input type="text" class="form-control" placeholder="الاسم الأخير">

      </div>
    </div>

    <div class="text">
      <p> Add More / إضافة المزيد </p>
    </div>

    <div class="submit-btn  mt-5">
      <a href="javascript:;" class="btn btn-primary btn-register hvr-sweep-to-right pull-right">Submit / خضع</a>
    </div>

    <div class="text">
      <p> GO BACK / الى الخلف </p>
    </div>
  </form>




</section>