<section class="directors-info">

  <h2> Business Profile </h2>
  <p>It takes less than 60 seconds to add your business and get started </p>


  <ngb-accordion [closeOthers]="true" activeIds="static-1">
    <ngb-panel id="static-1">
      <ng-template ngbPanelTitle>
        <h5>
          <i class="fa fa-angle-down"></i> Directors Info</h5>
        <hr class="hr-solid">
      </ng-template>
      <ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
        aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-2">
      <ng-template ngbPanelTitle>
        <h5>
          <i class="fa fa-angle-down"></i> Management Info</h5>
        <hr class="hr-solid">
      </ng-template>
      <ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
        aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <form>
    <div class="row justify-content-between">
      <div class="col-3">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Job Title </label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>CEO</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group dir-otherLanguage">
          <label for="exampleFormControlSelect1">المسمى الوظيفي </label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>المدير التنفيذي</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="first name">First Name</label>
          <input type="text" class="form-control" placeholder="John">
        </div>
      </div>

      <div class="col">
        <div class="form-group dir-otherLanguage">
          <label for="first name">الاسم الاول </label>
          <input type="text" class="form-control" placeholder="المثال : جون">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="fancyRadioBoxes">
          <input id="1" name="accountSetup" type="radio">
          <label for="1">
            <span></span>
            Passport
          </label>
        </div>
      </div>
      <div class="col-6">
        <div class="fancyRadioBoxes dir-otherLanguage">
          <input id="4" name="accountSetup" type="radio">
          <label for="4">
            <span class="mr-0 ml-2"></span>
            جواز سفر
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="fancyRadioBoxes">
          <input id="5" name="accountSetup" type="radio">
          <label for="5">
            <span></span>
            Emirates ID
          </label>
        </div>
      </div>
      <div class="col-6">
        <div class="fancyRadioBoxes dir-otherLanguage">
          <input id="5" name="accountSetup" type="radio">
          <label for="5">
            <span class="mr-0 ml-2"></span>
            هوية الإمارات
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="fancyRadioBoxes">
          <input id="6" name="accountSetup" type="radio">
          <label for="6">
            <span></span>
            Drivers License
          </label>
        </div>
      </div>
      <div class="col-6">
        <div class="fancyRadioBoxes dir-otherLanguage">
          <input id="6" name="accountSetup" type="radio">
          <label for="6">
            <span class="mr-0 ml-2"></span>
            رخصة السائق
          </label>
        </div>
      </div>
    </div>




    <div class="document-upload-box">
      <div class="col-12">
        <img src="../../../assets/images/icons/manager-icon.png">
        <p> Drag here or
          <span> browse </span>to upload</p>
      </div>

    </div>


    <div class="row justify-content-between">
      <div class="col-3">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Job Title </label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>CEO</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group dir-otherLanguage">
          <label for="exampleFormControlSelect1">المسمى الوظيفي </label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>المدير التنفيذي</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="first name">First Name</label>
          <input type="text" class="form-control" placeholder="John">
        </div>
      </div>

      <div class="col">
        <div class="form-group dir-otherLanguage">
          <label for="first name">الاسم الاول </label>
          <input type="text" class="form-control" placeholder="المثال : جون">
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col">
        <div class="form-group">
          <label for="first name">Last Name</label>
          <input type="text" class="form-control" placeholder="Smith">
        </div>

      </div>

      <div class="col">
        <div class="form-group dir-otherLanguage">
          <label for="first name">الاسم الأخير</label>
          <input type="text" class="form-control" placeholder="الاسم الأخير">
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="fancyRadioBoxes">
          <input id="1" name="accountSetup" type="radio">
          <label for="1">
            <span></span>
            Passport
          </label>
        </div>
      </div>
      <div class="col-6">
        <div class="fancyRadioBoxes dir-otherLanguage">
          <input id="1" name="accountSetup" type="radio">
          <label for="1">
            <span class="mr-0 ml-2"></span>
            جواز سفر
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="fancyRadioBoxes">
          <input id="2" name="accountSetup" type="radio">
          <label for="2">
            <span></span>
            Emirates ID
          </label>
        </div>
      </div>
      <div class="col-6">
        <div class="fancyRadioBoxes dir-otherLanguage">
          <input id="2" name="accountSetup" type="radio">
          <label for="2">
            <span class="mr-0 ml-2"></span>
            هوية الإمارات
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="fancyRadioBoxes">
          <input id="3" name="accountSetup" type="radio">
          <label for="3">
            <span></span>
            Drivers License
          </label>
        </div>
      </div>
      <div class="col-6">
        <div class="fancyRadioBoxes dir-otherLanguage">
          <input id="1" name="accountSetup" type="radio">
          <label for="1">
            <span class="mr-0 ml-2"></span>
            رخصة السائق
          </label>
        </div>
      </div>
    </div>

    <!-- <div class="col-6">
         
          <label>Select a document to Upload</label>
    
  
  
        </div> -->
    <!-- <div class="col-6  dir-rtl">
          <label> اختر وثيقة للتحميل</label>
         
        </div> -->

    <div class="info_text">
      <p>
        <img src="../../../assets/images/icons/icon_add.svg" alt="icons">Add More / إضافة المزيد </p>
    </div>

    <div class="submit-btn  mt-5">
      <a href="javascript:;" class="btn btn-primary btn-register hvr-sweep-to-right pull-right">Submit / خضع</a>
    </div>
    <div class="info_text">
      <p class="text mt-4">
        <img src="../../../assets/images/icons/icon_arrow_left.svg" alt="icons">GO BACK / الى الخلف </p>
    </div>
  </form>
</section>