<div class="provider-modal animated fadeIn">
  <div class="modal-header">
    <h4 class="provider-modal-title">Rate Validity</h4>
    <a class="pointer crossIcon" (click)="closePopup()">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
    </a>
  </div>
  <div class="modal-body">
    <div class="form-group date-control">
       <div class="dateIcon mb-2">
          <input autocomplete="off" #rangeDp class="form-control" placeholder="Start Date - End Date"
            [(ngModel)]="model"  placement="bottom-right">
        </div>
        <ngb-datepicker #dp [maxDate]="maxDate" [minDate]="minDate" [navigation]="false" [displayMonths]="2" [dayTemplate]="t"
          outsideDays="true">
        </ngb-datepicker>
        <ng-template #t let-date="date" let-focused="focused">
          <span class="custom-day" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
            [class.faded]="isHovered(date) || isInside(date)" (click)="onDateSelection(date)" (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>
      <button type="submit" class="btn btn-primary pull-right hvr-sweep-to-right mt-4 mb-4">
          Update Password
       </button>
    </div>
  </div>
</div>
