<div class="provider-modal animated fadeIn">
  <div class="modal-header">
    <h4 class="provider-modal-title">Rate Validity</h4>
    <a class="pointer crossIcon" (click)="closeModal(null)">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
    </a>
  </div>
  <div class="modal-body">
    <div class="form-group date-control">
      <!-- <label>Rate Validity</label> -->
      <div class="dateIcon">
          <input autocomplete="off" #rangeDp class="form-control" placeholder="Start Date - End Date" name="dp"
            [(ngModel)]="model" ngbDatepicker [dayTemplate]="t" [autoClose]="false" placement="bottom-right"
            [outsideDays]="true" [navigation]="false" [displayMonths]="2" [maxDate]="maxDate" [minDate]="minDate"
            #dp="ngbDatepicker" (click)="dp.toggle()" (ngModelChange)="filterBydate(model)">
        </div>
        <ng-template #t let-date="date" let-focused="focused">
          <span class="custom-day" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
            [class.faded]="isHovered(date) || isInside(date)" (click)="onDateSelection(date)" (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>
      
<!-- <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
  </ngb-datepicker> -->
  
  <!-- <ng-template #t let-date let-focused="focused">
    <span class="custom-day"
          [class.focused]="focused"
          [class.range]="isFrom(date)"
          [class.faded]="isHovered(date) || isInside(date)"
          (mouseenter)="hoveredDate = date"
          (mouseleave)="hoveredDate = null">
      {{ date.day }}
    </span>
  </ng-template> -->
      <button type="submit" class="btn btn-primary pull-right hvr-sweep-to-right mt-4 mb-4">
          Update Password
        </button>
    </div>
  </div>
</div>
