<section class="shipping-info">
    <h3 class="registration-title">Request to Join our Partner Network</h3>
    <p class="sub-title">It takes only a few minutes to send us your basic information.</p>
    <div class="row">
      <div class="col-xl-6 bg-white">
        <img src="../../../assets/images/icons/manager-icon.png" alt="icons" class="">
        <h4>Upload Your Rates</h4>
        <small>Upload your rates if you already have it</small>
        <button class="btn btn-primary hvr-sweep-to-right mt-4">Start Uploading</button>
        <a class="pull-right hvr-icon-forward" href="javascript:;">
            <span class="link-hover-secondary">Download our preferred Format</span>
            <i class="fa fa-angle-right hvr-icon"></i>
        </a>
      </div>
      <div class="col-xl-6 bg-white">
          <img src="../../../assets/images/icons/manager-icon.png" alt="icons" class="">
          <small>Or</small>
          <h4>Add Your Rates<br />Manually</h4>
          <button class="btn btn-primary hvr-sweep-to-right mt-4">Start Adding</button>
        </div>
    </div>
</section>