<section class="add-route">
    <div class="row">
      <div class="col">
          <div class="info_text">
              <a class="text" href="javascript:;" (click)="previousForm()">
                <img alt="icons" class="icon-size-16" src="../../../assets/images/icons/icon_arrow_left.svg">
                <span>Go Back</span>
              </a>
          </div>
          <h2>Add Your Route</h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <h5>Route Detail</h5>
        <span class="sub-title">Please enter route detail</span>
        <hr class="hr-solid">
      </div>
      <div class="col-6">
          <div class="form-group">
              <label>Port of Origin</label>
              <input type="text" maxlength="100" class="form-control" placeholder="Enter Port of Origin">
            </div>
      </div>
      <div class="col-6">
          <div class="form-group">
              <label>Port of Destination</label>
              <input type="text" maxlength="100" class="form-control" placeholder="Enter Port of Destination">
            </div>
      </div>
    </div>
    <div class="row mb-4 mt-5">
      <div class="col-12">
        <h5>Rates</h5>
        <span class="sub-title">Please enter the rates for the above selected route</span>
      </div>
    </div>

  
  
  <ngb-tabset>
      <ngb-tab>
          <ng-template ngbTabTitle>Main Tab One</ng-template>
        <ng-template ngbTabContent>    
  <ngb-tabset>
      <ngb-tab>
          <ng-template ngbTabTitle>Main Tab One inner 1</ng-template>
        <ng-template ngbTabContent>
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
            dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
            iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Main Tab One inner 2</ng-template>
        <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Main Tab Two</ng-template>
        <ng-template ngbTabContent>
            <ngb-tabset>
                <ngb-tab>
                    <ng-template ngbTabTitle>Main Tab Two inner 1</ng-template>
                  <ng-template ngbTabContent>
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                      master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                      dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                      iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>Main Tab Two inner 2</ng-template>
                  <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                          master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                          dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                          iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </section>