@import './_variables.scss';
@import './_global';
/* set container size */


body {
  font-family: $font-pragmatica; //font-size: $base-font-size;
  font-weight: $font-weight-normal;
  font-style: normal; // background: rgba(243,245,247,1);

  background: rgb(239, 241, 246);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(239, 241, 246, 1) 0%, rgba(239, 241, 246, 1) 47%, rgba(247, 248, 252, 1) 48%, rgba(247, 248, 252, 1) 48%, rgba(247, 248, 252, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(239, 241, 246, 1) 0%, rgba(239, 241, 246, 1) 47%, rgba(247, 248, 252, 1) 48%, rgba(247, 248, 252, 1) 48%, rgba(247, 248, 252, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(239, 241, 246, 1) 0%, rgba(239, 241, 246, 1) 47%, rgba(247, 248, 252, 1) 48%, rgba(247, 248, 252, 1) 48%, rgba(247, 248, 252, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff1f6', endColorstr='#f7f8fc', GradientType=1);
  /* IE6-9 */

}