<div class="left-sidebar">
  <ul class="list-group">
    <a href="javascript:;" class="list-group-item d-flex flex-column align-items-center">
      <h6>YOUR PROGRESS</h6>
      <circle-progress [percent]="10" [maxPercent]="100" [radius]="50" [outerStrokeWidth]="9" [innerStrokeWidth]="9" [space]="-9"
        [outerStrokeColor]="'#ca1d21'" [innerStrokeColor]="'#e7e8ea'" [animation]="true" [outerStrokeLinecap]="round" [showTitle]="false"
        [showSubtitle]="true" [showUnits]="false" [unitsFontSize]="15" [animationDuration]="300"></circle-progress>
    </a>
    <a href="javascript:;" class="list-group-item">
      <img src="../../../assets/images/icons/icon_user.svg" alt="profile" />
      <h6>My Profile</h6>
    </a>
    <a href="javascript:;" class="list-group-item active">
      <h6>My Organization</h6>
    </a>
    <a href="javascript:;" class="list-group-item">
      <img src="../../../assets/images/icons/icon_setup.svg" alt="profile" />
      <h6>Setup</h6>
    </a>
  </ul>


  <!-- customer support -->
  <div class="support">
      <div class="card border-0 pull-right">
        <div class="card-body">
          <h6 class="card-title">Customer Support</h6>
          <small>Helpline</small>
          <p>+9714 1234567</p>
          <small>Email</small>
          <p>support@hashmove.com</p>

        </div>
      </div>
  </div>