<section class="user-creation h-100">
  <div class="row h-100">
    <div class="col-xl-2 col-lg-3 col-md-3 p-0 left-section">
      <app-leftsidebar></app-leftsidebar>
      <div class="support">
        <div class="card border-0 pull-right">
          <div class="card-body">
            <h6 class="card-title mb-2 mt-1">Customer Support</h6>
            <!-- <small>Helpline</small>
            <p>+9714 1234567</p> -->
            <small>Email</small>
            <p>
              <a href="mailto:support@hashmove.com">support@hashmove.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="offset-xl-1 offset-lg-1 offset-md-1 col-xl-8 col-lg-7 col-md-7 col-sm-12 right-section-portal">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>