@import "../../../../../assets/scss/_variables";

.settings {
  ngb-tabset {
    .nav {
      border: none;
      margin-bottom: 1rem;

      &-item {
        width: 33.33%;
        text-align: center;
      }

      &-link {
        background: none !important;
        border: none !important;
        box-shadow: 0 1px 0 0 $grey-border;
        font-family: $font-proxima;
        font-size: $font-size-medium;
        color: $color-topmenu;
        font-weight: $font-weight-mid;
        text-transform: uppercase;
        letter-spacing: 1px;

        &.active {
          box-shadow: 0 2px 0 0 $primary-color;
          color: $primary-color;
        }
      }
    }
  }

  .accordion {
    >.card {
      background: none;
      border: none;

      >.card-header {
        background: none;
        border: none;
        margin-top: 5px;

        a {
          font-family: $font-pragmatica;
          font-weight: $font-weight-mid;
          color: $text-color-default;
          font-size: 20px;
          position: relative;
          padding-left: 12px;

          &:before {
            content: "";
            position: absolute;
            left: -24px;
            height: 17px;
            width: 20px;
            transform: rotate(270deg);
            top: 3px;
            transition: all 0.8s ease-in-out;
            display: flex;
            background: url("../../../../../assets/images/icons/icon_arrow_left.svg") no-repeat;
          }
        }
        &.active {
          margin-bottom: 5px;
          a {
            &:before {
              transform: rotate(90deg);
            }
          }
        }
      }

      >.card-body {
        background: $color-white;
        border: 1px solid $grey-border;
        overflow: hidden;

        .city-dropdown {
          position: relative;
          display: inline-block;
          width: 100%;
      
          .flag-container {
            width: 16px;
            height: 12px;
            position: absolute;
            left: 20px;
            top: 19px;
            display: flex;
      
            img {
              width: 16px;
              height: 12px;
              border: 1px solid $primary-grey;
            }
          }
          input {
            &.routeSelected {
              padding-left: 2.8rem;
            }
          }
        }
      }
    }
  }
}
