
<div class="card">
  <p class="text-center m-0">
    This page is currently under progress and will be enhanced in a future release.
  </p>
</div>
<!-- <nav class="navbar navbar-light p-0">
  <ul class="nav">
    <li>
      <a class="nav-link" href="javascript:;" (click)="tonavigate('/provider/manage-rates/sea')" [ngClass]="getClass('/provider/manage-rates/sea')">
        <span class="menu-text">
          Profile
        </span>
      </a>
    </li>
    <li>
      <a class="nav-link" href="javascript:;" (click)="tonavigate('/provider/manage-rates/air')" [ngClass]="getClass('/provider/manage-rates/air')">
        <span class="menu-text">
          Document Manager
        </span>
      </a>
    </li>
    <li>
      <a class="nav-link" href="javascript:;" (click)="tonavigate('/provider/manage-rates/ground')" [ngClass]="getClass('/provider/manage-rates/ground')">
        <span class="menu-text">
          Notifications
        </span>
      </a>
    </li>
  </ul>
</nav>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">Email</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" placeholder="Email" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">First Name</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" placeholder="Email" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">Last Name</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" placeholder="Email" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">Job Title</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" placeholder="Email" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">City</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" placeholder="Email" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">Mobile No.</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" placeholder="Email" />
        </div>
      </div>
    </div>
    <hr class="hr-solid">
    <div class="row">
      <div class="col-8">
        <h5>Regional Settings</h5>
        <p>Update these regional settings to change the way that dates, quotes and units of measurement are displayed
          to you on HashMove.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">My Region</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <select class="form-control"></select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">My Currency</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <select class="form-control"></select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">My Timezone</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <select class="form-control"></select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        Buttons
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">Logo</label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          Image
        </div>
      </div>
      <div class="col-2">
        Change Logo
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">Company Name</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" placeholder="Email" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">Address</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" placeholder="Email" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">P.O Box</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" placeholder="Email" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">City</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" placeholder="Email" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">Telephone</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" placeholder="Email" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">Website</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" placeholder="Email" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">HashMove Public URL</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" placeholder="Email" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">About Your Business</label>
        </div>
      </div>
      <div class="col-7">
        <div class="form-group">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.
        </div>
      </div>
      <div class="col-2">
        Edit Icon
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">Services</label>
        </div>
      </div>
      <div class="col-7">
        <div class="form-group">

        </div>
      </div>
      <div class="col-2">
        Edit Icon
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">Value Added Services</label>
        </div>
      </div>
      <div class="col-7">
        <div class="form-group">

        </div>
      </div>
      <div class="col-2">
        Edit Icon
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">Associations</label>
        </div>
      </div>
      <div class="col-7">
        <div class="form-group">

        </div>
      </div>
      <div class="col-2">
        Edit Icon
      </div>
    </div>
  </div>
</div>

 <div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="document-Info d-flex flex-column mt-2">
              <div class="file-uploader">
                <app-ng-files-drag-n-upload (filesSelect)="selectDocx($event, 'certificate')" [configId]="'config'">
                  <img src="../../../assets/images/icons/manager-icon.png" />
                  <p class="m-0 mt-3">
                    Drag here or <span class="browse-span">browse</span> to upload
                  </p>
                </app-ng-files-drag-n-upload>
              </div>
              <div class="row uploadedDocx">
                <div class="col-lg-3 mb-2">
                  <div class="display-upload delete">
                    <img class="w-100" [src]="certDocx.DocumentFile" />
                    <img src="../../../../../../assets/images/icons/icon_del_round.svg" alt="del" class="pointer delete-icon"
                      (click)="removeSelectedDocx(i, certDocx, 'certificate')" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="document-Info d-flex flex-column mt-2">
              <div class="file-uploader">
                <app-ng-files-drag-n-upload (filesSelect)="selectDocx($event, 'certificate')" [configId]="'config'">
                  <img src="../../../assets/images/icons/manager-icon.png" />
                  <p class="m-0 mt-3">
                    Drag here or <span class="browse-span">browse</span> to upload
                  </p>
                </app-ng-files-drag-n-upload>
              </div>
              <div class="row uploadedDocx">
                <div class="col-lg-3 mb-2">
                  <div class="display-upload delete">
                    <img class="w-100" [src]="certDocx.DocumentFile" />
                    <img src="../../../../../../assets/images/icons/icon_del_round.svg" alt="del" class="pointer delete-icon"
                      (click)="removeSelectedDocx(i, certDocx, 'certificate')" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">Current Password</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" placeholder="Email" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">New Password</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" placeholder="Email" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">Confirm Password</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input class="form-control" placeholder="Email" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        Buttons
      </div>
    </div>
  </div>
</div>

<hr class="hr-solid">

<div class="row">
  <div class="col-8">
    <h5>Delete Account</h5>
    <p>This action cannot be undone. Once you hit this button and confirm your intention to delete your account, the
      data associated to your account will be deleted. Data related to your company will be still be retained however
      all your activity will be lost - forever!</p>
  </div>
</div>
-->