<div class="left-sidebar">
  <ul class="list-group">
    <a href="javascript:;" class="list-group-item d-flex flex-column align-items-center">
      <h6>YOUR PROGRESS</h6>
      <circle-progress [percent]="10" [maxPercent]="100" [radius]="50" [outerStrokeWidth]="9" [innerStrokeWidth]="9"
        [space]="-9" [outerStrokeColor]="'#ca1d21'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
        [outerStrokeLinecap]="round" [showTitle]="false" [showSubtitle]="true" [showUnits]="false" [unitsFontSize]="15"
        [animationDuration]="300"></circle-progress>
    </a>
    <a href="javascript:;" class="list-group-item active">
      <img src="../../../assets/images/icons/icon_user.svg" alt="profile" />
      <h6>My Profile</h6>
    </a>
    <a href="javascript:;" class="list-group-item">
      <img src="../../../assets/images/icons/icon_business.svg" alt="profile" />
      <h6>My Organization</h6>
    </a>
    <a href="javascript:;" class="list-group-item">
      <img src="../../../assets/images/icons/icon_setup.svg" alt="profile" />
      <h6>Setup</h6>
    </a>
  </ul>

</div>
