@import '../../../../../assets/scss/_variables';
.left-sidebar {
    .list-group {
        align-items: flex-end;
        padding-top: 15px;
        padding-right: 10px;
        &-item {
            margin-right: 0.5rem;
            width: 162px;
            margin: 8px 0;
            border-radius: 5px;
            text-align: center;
            background-color: transparent;
            border: none;
            color: #243748;
            h6 {
                margin-top: 0.8rem;
                font-family: $font-proxima;
                font-weight: $font-proxima-weight-semibold;
                font-size:$root-font-size;
            
            }
            &:first-child {
                margin-top: 0;
                cursor: default;
                border-bottom: 1px solid $grey-border;
                color: $disabled-text-color;
                margin-bottom:15px;
                h6 {
                    font-size:$font-size-medium;
                    font-family:  $font-proxima;
                    color: rgba(115, 133, 147, 0.6);
                    text-transform: uppercase;
                }
                &:after {
                    content: " ";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: #f7f8fa;
                    bottom: -3px;
                }

                .progress-circle {
                    background-color: #e6e8ec;
                    border-radius: 50%;
                    display: inline-block;
                    height: 130px;
                    position: relative;
                    width: 130px;
                    margin-bottom: 12px;
                    margin-top: 10px;
                    &:before {
                        align-items: center;
                        background-color: #eef1f5;
                        border-radius: 50%;
                        content: attr(data-progress) '%';
                        display: flex;
                        justify-content: center;
                        position: absolute;
                        left: 0.6rem;
                        right: 0.6rem;
                        top: 0.6rem;
                        bottom: 0.6rem;
                        transition: -webkit-transform 0.2s ease;
                        transition: transform 0.2s ease;
                        transition: transform 0.2s ease, -webkit-transform 0.2s ease;
                        box-shadow: 0 0px 0px 1px rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 0 -1px 5px -1px inset;
                        color: #000;
                        font-size: 25px;
                        font-weight: 500;
                      }
                      &:after {
                        background-color: #d2272a;
                        border-radius: 50%;
                        content: '';
                        display: inline-block;
                        height: 100%;
                        width: 100%;
                        box-shadow: 0 1px 1px 0.8px inset rgba(0, 0, 0, 0.1);
                      }
                      &:hover:before,
                        &:focus:before {
                            -webkit-transform: scale(0.9);
                                    transform: scale(0.9);
                        }
                      &[data-progress="0"]:after {
                        background-image: linear-gradient(90deg, #e6e8ec 50%, transparent 50%, transparent), linear-gradient(90deg, #d2272a 50%, #e6e8ec 50%, #e6e8ec);
                      }
                      &[data-progress="20"]:after {
                        background-image: linear-gradient(90deg, #e6e8ec 50%, transparent 50%, transparent), linear-gradient(162deg, #d2272a 50%, #e6e8ec 50%, #e6e8ec);
                      }
                      &[data-progress="30"]:after {
                        background-image: linear-gradient(90deg, #e6e8ec 50%, transparent 50%, transparent), linear-gradient(198deg, #d2272a 50%, #e6e8ec 50%, #e6e8ec);
                      }
                      &[data-progress="40"]:after {
                        background-image: linear-gradient(90deg, #e6e8ec 50%, transparent 50%, transparent), linear-gradient(234deg, #d2272a 50%, #e6e8ec 50%, #e6e8ec);
                      }
                      &[data-progress="50"]:after {
                        background-image: linear-gradient(-90deg, #d2272a 50%, transparent 50%, transparent), linear-gradient(270deg, #d2272a 50%, #e6e8ec 50%, #e6e8ec);
                      }
                      &[data-progress="60"]:after {
                        background-image: linear-gradient(-54deg, #d2272a 50%, transparent 50%, transparent), linear-gradient(270deg, #d2272a 50%, #e6e8ec 50%, #e6e8ec);
                      }
                      &[data-progress="70"]:after {
                        background-image: linear-gradient(-18deg, #d2272a 50%, transparent 50%, transparent), linear-gradient(270deg, #d2272a 50%, #e6e8ec 50%, #e6e8ec);
                      }
                      &[data-progress="80"]:after {
                        background-image: linear-gradient(18deg, #d2272a 50%, transparent 50%, transparent), linear-gradient(270deg, #d2272a 50%, #e6e8ec 50%, #e6e8ec);
                      }
                      &[data-progress="90"]:after {
                        background-image: linear-gradient(54deg, #d2272a 50%, transparent 50%, transparent), linear-gradient(270deg, #d2272a 50%, #e6e8ec 50%, #e6e8ec);
                      }
                      &[data-progress="100"]:after {
                        background-image: linear-gradient(90deg, #d2272a 50%, transparent 50%, transparent), linear-gradient(270deg, #d2272a 50%, #e6e8ec 50%, #e6e8ec);
                      }
                  }
                
            }
            svg {
                margin-top: 0.8rem;
                width: 45px;
            }
            &.active {
                font-family: "proxima-nova", sans-serif;
                color: $white-color;
                background-color: $primary-color;
                svg {
                    path,
                    rect {
                        fill: $white-color !important;
                    }
                    g {
                        g {
                            path:last-child {
                                fill: $primary-color !important;
                            }
                        }
                    }
                }
                svg#eb6db949-8587-45a7-94bb-b3cd8c3892a4 {
                    path {
                        fill: transparent !important;
                    }
                } 
                svg#eb6db949-8587-45a7-94bb-b3cd8c3892a4 {
                    g {
                        path {
                            fill:  $white-color !important;
                        }
                    }
                }
            }
        }
    }
}
