@import '../../../../../../assets/scss/_variables';
.registration {
    .heading {
        small {
            span {
                font-family: $font-proxima;
                font-weight: $font-weight-mid;
                color: $secondary-text-color;
                font-size: $font-size-medium;
                &:nth-child(2) {
                    font-family: $font-NeoSansArabic-Regular !important;
                }
            }
        }
    }
    .country-select {
        input {
            &::-ms-clear,
            &::-ms-reveal {
                display: none;
            }
        }
        .flag-container {
            width: 16px;
            height: 12px;
            align-items: center;
            position: absolute;
            left: 8px;
            top: 10px;
        }
        .dropdown-menu {
            &.show {
                .dropdown-item {
                    .flag-container {
                        position: relative;
                        left: auto;
                        top: auto;
                    }
                }
            }
        }
    }
    &-paragraph {
        font-family: $font-proxima;
        font-weight: $font-weight-normal;
        color: $secondary-text-color;
        font-size: $font-size-large;
    }
    &-head-titles {
        span:nth-child(2) {
            font-family: $font-NeoSansArabic-Medium;
        }
    }
    &-form {
        .info-text {
            span {
                font-size: 0.875rem;
                font-family: $font-proxima;
                color: $secondary-text-color;
                padding-top: 0.59rem;
                img {
                    width: 16px;
                    vertical-align: text-top;
                }
                &:nth-child(2) {
                    font-family: $font-NeoSansArabic-Regular;
                }
            }
        }
    }
    &-map-section {
        margin-top: 46px;
        agm-map {
            height: 360px;
            margin-bottom: 58px;
        }
        .select-city {
            position: absolute;
            z-index: 1;
            margin-top: 15px; // top: 0;
            margin-left: 15px;
            width: 340px;
            .prepend-flag {
                position: absolute;
                top: 12px;
                left: 8px;
            }
            input#typeahead {
                width: 100%;
                padding-left: 1.8rem;
                border-radius: 4px;
                box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
                z-index: 1;
                height: 48px;
                &[ng-reflect-model="[object Object]"] {
                    padding-left: 1.8rem;
                }
                &.glowElement {
                    padding-left: .75rem;
                }
            }
        }
    }
    ngb-typeahead-window {
        max-height: 200px;
        overflow-y: auto;
        .dropdown-item {
            &.active,
            &:active {
                background: $primary-grey;
            }
        }
    }
    .dir-otherLanguage {
        ngb-typeahead-window {
            &.dropdown-menu {
                top: auto !important;
                left: auto !important;
                text-align: right;
            }
        }
    }
    .hr-solid {
        margin-top: 0.5rem !important;
        margin-bottom: 1rem !important;
    }
    .fancyRadioBoxes {
        label {
            font-size: $font-size-large !important;
            line-height: 1;
        }
        &.dir-otherLanguage {
            label {
                font-family: $font-NeoSansArabic-Regular;
            }
        }
    }
    .btn-register {
        margin-top: 0.5rem;
        font-size: $font-size-large;
        color: $white-color;
        text-transform: uppercase;
        font-weight: $font-proxima-weight-semibold;
        padding: 0.75rem;
        &:disabled {
            font-weight: $font-proxima-weight-semibold;
        }
        span:nth-child(2) {
            font-family: $font-NeoSansArabic-Regular;
        }
    }
}

.registration-form {
    .fancyRadioBoxes {
        margin-bottom: 16px;
        label {
            align-items: center;
        }
    }
}

.radioError {
    -webkit-animation: 2s linear infinite blink;
    animation: 2s linear infinite blink;
    -ms-animation: 2s linear infinite blink;
}

@media (max-width: $screen-xs-screen) {
    section.registration {
        .registration-map-section {
            input#typeahead {
                font-size: 12px;
            }
            .select-city {
                width: 60%;
            }
        }
    }
}

@media (max-width: $screen-lg-eight-fourty) {
    .select-number {
        .input-group-prepend {
            input.select-country-code {
                width: 50% !important;
                padding-left: 20px !important;
            }
            .select-country-list {
                margin-left: 10px !important;
            }
        }
        .input-group-append {
            input.select-country-code {
                width: 50% !important;
                padding-right: 20px !important;
            }
            .select-country-list {
                margin-right: 10px !important;
            }
        }
    }
}
