<!-- <div class="bookings pointer mt-2">
  <div class="card">
    <div class="card-body pt-2">
       booking top row 
      <div class="bookings-header d-md-flex justify-content-md-between">
        <div class="d-flex bookings-header-number">
          <div *ngIf="booking.ShippingModeCode === 'SEA'"  class="bookings-header-number-icon sea-icon">
              <img src="../../../../../assets/images/icons/icon_pin_sea.svg">
          </div>
         
          <div *ngIf="booking.ShippingModeCode === 'AIR'" class="bookings-header-number-icon air-icon">
              <img src="../../../../../assets/images/icons/icon_pin_air.svg">
          </div>

          <div *ngIf="booking.ShippingModeCode === 'WAREHOUSE'" class="bookings-header-number-icon ware-icon">
              <img src="../../../../../assets/images/icons/icon_pin_warehouse.svg">
          </div>
          
          <div *ngIf="booking.ShippingModeCode === 'TRUCK'" class="bookings-header-number-icon truck-icon">
              <img src="../../../../../assets/images/icons/icon_pin_truck.svg">
          </div>
          
          <div class="d-flex flex-column info ml-5 pl-3">
            <span>{{booking.HashMoveBookingNum}}</span>
            <small>Booked on {{booking.HashMoveBookingDate | date : "d MMM y"}} {{booking.HashMoveBookingDate | date :
              "H:mm"}}</small>
          </div>
        </div>
        <div class="d-flex mt-1 bookings-header-company">
          <div class="mr-3">
            <span class="status">Booking:</span>
            <span class="badge badge-pill hashmove-badge-danger"
              *ngIf="booking.BookingStatusCode.toLowerCase() === statusCode.cancelled || booking.BookingStatusCode.toLowerCase() === statusCode.rejected">{{booking.BookingStatus}}</span>
            <span class="badge badge-pill hashmove-badge-active"
              *ngIf="booking.BookingStatusCode.toLowerCase() === statusCode.in_review">{{booking.BookingStatus}}</span>
            <span class="badge badge-pill hashmove-badge-warning"
              *ngIf="booking.BookingStatusCode.toLowerCase() === statusCode.draft">{{booking.BookingStatus}}</span>
            <span class="badge badge-pill hashmove-badge-secondary"
              *ngIf="booking.BookingStatusCode.toLowerCase() === statusCode.confirmed">{{booking.BookingStatus}}</span>
          </div>
          <div>
            <span class="status">Shipment:</span>
            <span class="badge badge-pill hashmove-badge-danger"
              *ngIf="booking.ShippingStatusCode.toLowerCase() === statusCode.cancelled || booking.ShippingStatusCode.toLowerCase() === statusCode.rejected">{{booking.ShippingStatus}}</span>
            <span class="badge badge-pill hashmove-badge-secondary"
              *ngIf="booking.ShippingStatusCode.toLowerCase() === statusCode.completed">{{booking.ShippingStatus}}</span>
            <span class="badge badge-pill hashmove-badge-active"
              *ngIf="booking.ShippingStatusCode.toLowerCase() === statusCode.readytoship || booking.ShippingStatusCode.toLowerCase() === statusCode.in_transit">{{booking.ShippingStatus}}</span>
            <span class="badge badge-pill hashmove-badge-warning"
              *ngIf="booking.ShippingStatusCode.toLowerCase() === statusCode.pending">{{booking.ShippingStatus}}</span>
          </div>
        </div>
      </div>
      <hr class="hr-solid mt-1">
       booking top row

       booking bottom row
      <div class="row ">
        <div class="col-lg-6 col-sm-12 border-separated">
          <div class="row">
            <div class="col-6">
              <div class="bookings-detail angle-arrow eq-height d-flex justify-content-between flex-column">
                <div class="ports">
                  <small class="d-block mb-2">From</small>
                  <label class="ports-label mt-1">{{booking.PolCode}}</label>
                  <span class="d-block mb-2">Port of {{booking.PolCountry}}</span>
                </div>
                <div class="ports-calendar">
                  <span>
                    <img src="../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16 mr-2 mb-1">
                    {{booking.EtdLcl | date : "d MMM, yyyy"}}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="bookings-detail eq-height d-flex justify-content-between flex-column">
                <div class="ports">
                  <small class="d-block mb-2">to</small>
                  <label class="ports-label mt-1">{{booking.PodCode}}</label>
                  <span class="d-block mb-2">Port of {{booking.PodCountry}}</span>
                </div>
                <div class="ports-calendar">
                  <span>
                    <img src="../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16 mr-2 mb-1">
                    {{booking.EtaLcl | date : "d MMM, yyyy"}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12 pl-4 border-separated">
          <div class="bookings-detail">
            <div class="ports">
              <small class="d-block mb-2">CUSTOMER</small>
              <div class="d-flex pt-1">
                <div class="customer-image mr-2">
                  <img [src]="baseExternalAssets + booking.CustomerLogo" alt="logo" *ngIf="booking.CustomerLogo" />
                  <img src="../../../../../assets/images/icons/icons_user.svg" alt="logo"
                    *ngIf="!booking.CustomerLogo" />
                </div>
                <label class="ports-label">
                  {{booking.CustomerName}}
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-12  pl-4">
          <div class="bookings-detail">
            <div class="ports">
              <small class="d-block mb-2">Price</small>
              <label class="ports-label mt-1"
                ngbTooltip="{{booking.CurrencyCode}} {{booking.BookingTotalAmount | number: '1.2-2'}}">
                {{booking.CurrencyCode}} {{booking.BookingTotalAmount | number:'1.2-2'}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="bookings pointer mt-2">
  <div class="card">
    <div class="card-body pt-2">
      <!-- booking top row -->
      <div class="bookings-header row">
        <div class="col-6 d-flex justify-content-start">
          <div class="d-flex bookings-header-number">
              <div *ngIf="booking.ShippingModeCode === 'SEA'"  class="bookings-header-number-icon sea-icon">
                  <img class="icon-size-24" src="../../../../../assets/images/icons/icons_cargo_ship_white.svg">
              </div>
             
              <div *ngIf="booking.ShippingModeCode === 'AIR'" class="bookings-header-number-icon air-icon">
                  <img  class="icon-size-24" src="../../../../../assets/images/icons/icon_plane_white.svg">
              </div>
    
              <div *ngIf="booking.ShippingModeCode === 'WAREHOUSE'" class="bookings-header-number-icon ware-icon">
                  <img class="icon-size-24" src="../../../../../assets/images/icons/icon_warehouse_white.svg">
              </div>
              
              <div *ngIf="booking.ShippingModeCode === 'TRUCK'" class="bookings-header-number-icon truck-icon">
                  <img class="icon-size-24" src="../../../../../assets/images/icons/Icons_Cargo_Truck_white.svg">
              </div>
              
              <div class="d-flex flex-column info ml-5 pl-2">
                <span>{{booking.HashMoveBookingNum}}</span>
                <small>Booked on {{booking.HashMoveBookingDate | date : "d MMM y"}} {{booking.HashMoveBookingDate | date :
                  "H:mm"}}</small>
              </div>

          </div>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
          <div class="d-flex bookings-header-company">
            <div class="mr-3">
              <span class="status">Booking:</span>
              <span class="badge badge-pill hashmove-badge-danger"
                *ngIf="booking.BookingStatusCode.toLowerCase() === statusCode.cancelled || booking.BookingStatusCode.toLowerCase() === statusCode.rejected">{{booking.BookingStatus}}</span>
              <span class="badge badge-pill hashmove-badge-active"
                *ngIf="booking.BookingStatusCode.toLowerCase() === statusCode.in_review">{{booking.BookingStatus}}</span>
              <span class="badge badge-pill hashmove-badge-warning"
                *ngIf="booking.BookingStatusCode.toLowerCase() === statusCode.draft">{{booking.BookingStatus}}</span>
              <span class="badge badge-pill hashmove-badge-secondary"
                *ngIf="booking.BookingStatusCode.toLowerCase() === statusCode.confirmed">{{booking.BookingStatus}}</span>
            </div>
            <div>
              <span class="status">Shipment:</span>
              <span class="badge badge-pill hashmove-badge-danger"
                *ngIf="booking.ShippingStatusCode.toLowerCase() === statusCode.cancelled || booking.ShippingStatusCode.toLowerCase() === statusCode.rejected">{{booking.ShippingStatus}}</span>
              <span class="badge badge-pill hashmove-badge-secondary"
                *ngIf="booking.ShippingStatusCode.toLowerCase() === statusCode.completed">{{booking.ShippingStatus}}</span>
              <span class="badge badge-pill hashmove-badge-active"
                *ngIf="booking.ShippingStatusCode.toLowerCase() === statusCode.readytoship || booking.ShippingStatusCode.toLowerCase() === statusCode.in_transit">{{booking.ShippingStatus}}</span>
              <span class="badge badge-pill hashmove-badge-warning"
                *ngIf="booking.ShippingStatusCode.toLowerCase() === statusCode.pending">{{booking.ShippingStatus}}</span>
            </div>
          </div>
        </div>
      </div>
      <hr class="hr-solid mt-1">
      <!-- booking top row -->

      <!-- booking bottom row -->
      <div class="row ">
        <div class="col-lg-6 col-sm-12 border-separated ">
          <div class="row">
            <div class="col-6">
              <div class="bookings-detail angle-arrow eq-height d-flex justify-content-between flex-column">
                <div class="ports">
                  <small class="d-block mb-2">From</small>
                  <label class="ports-label mt-1">{{booking.PolCode}}</label>
                  <span class="d-block mb-2">Port of {{booking.PolCountry}}</span>
                </div>
                <div class="ports-calendar">
                  <span>
                    <img src="../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16 mr-2 mb-1">
                    {{booking.EtdLcl | date : "d MMM, yyyy"}}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="bookings-detail eq-height d-flex justify-content-between flex-column">
                <div class="ports">
                  <small class="d-block mb-2">to</small>
                  <label class="ports-label mt-1">{{booking.PodCode}}</label>
                  <span class="d-block mb-2">Port of {{booking.PodCountry}}</span>
                </div>
                <div class="ports-calendar">
                  <span>
                    <img src="../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16 mr-2 mb-1">
                    {{booking.EtaLcl | date : "d MMM, yyyy"}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12 pl-4 border-separated">
          <div class="row">
            <div class="col-12 mb-2">
              <div class="bookings-detail">
                <div class="ports">
                  <small class="d-block mb-2">Customer</small>
                  <div class="d-flex pt-1">
                    <div class="customer-image mr-2">
                      <img [src]="baseExternalAssets + booking.CustomerLogo" alt="logo" *ngIf="booking.CustomerLogo" />
                      <img src="../../../../../assets/images/icons/icons_user.svg" alt="logo"
                        *ngIf="!booking.CustomerLogo" />
                    </div>
                    <label class="ports-label">
                      {{booking.CustomerName}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-12  pl-4">
          <div class="bookings-detail">
            <div class="ports">
              <small class="d-block mb-2">Price</small>
              <label class="ports-label mt-1"
                ngbTooltip="{{booking.CurrencyCode}} {{booking.BookingTotalAmount | number: '1.2-2'}}">
                {{booking.CurrencyCode}} {{booking.BookingTotalAmount | number:'1.2-2'}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
