<section class="ratesHistory">
  <div class="modal-header">
    <h4>Rate History</h4>
    <a class="pointer crossIcon" (click)="closeModal()">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
    </a>
  </div>

  <div class="modal-body rate-history pt-0">
    <div class="row">
      <div class="col-6">
        <div class="ports">
          <small class="d-block pt-2">From</small>
          <img alt="flag icon" src="../../../../assets/images/flags/1x1/ae.svg">
          <label class="ports-text">AE JEA</label>
          <span class=" d-block mb-2 ">Port of Jebel Ali, Dubai</span>
        </div>
      </div>

      <div class="col-6">
        <div class="ports">
          <small class="d-block pt-2">To</small>
          <img alt="flag icon" src="../../../../assets/images/flags/1x1/ae.svg">
          <label class="ports-text ">GB FXT</label>
          <span class=" d-block mb-2">Port of Felixstowe,UK</span>
        </div>

      </div>

      <div class="col-6 ">
        <div class="ports">
          <small class="d-block pt-4">shipping lines</small>
          <img alt="flag icon" src="../../../../assets/images/flags/1x1/ae.svg">
          <label class=" ports-text">Maersk</label>
        </div>
      </div>


      <div class="col-6 ">
        <div class="ports">
          <small class="d-block pt-4">customer</small>
          <img alt="flag icon" src="../../../../assets/images/flags/1x1/ae.svg">
          <label class="ports-text ">Texpo LLC</label>
        </div>
      </div>

      <div class="col-6 ">
        <div class="ports">
          <small class="d-block pt-4">container</small>
          <label class="ports-text pb-2">20 Standard</label>
        </div>
      </div>

      <div class="col-6">
        <div class="ports">
          <small class="d-block pt-4">cargo type</small>
          <label class="ports-text pb-2">Goods</label>
        </div>
      </div>
    </div>
  </div>

  <ul class="list-group">

    <li class="list-group-item">
      <label class="mb-0 ">Rate Validity updated by John Doe</label>
      <label class="ports-text d-block font-semibold">13 Dec 2018 - 12 Jan, 2019</label>
      <small class=" mb-2 d-block">on 13 dec 2018 - 11:30 from Dubai,UAE</small>

    </li>

    <li class="list-group-item">

      <label class="mb-0">Rate Validity updated by John Doe</label>
      <label class="ports-text d-block">13 Dec 2018 - 12 Jan, 2019</label>
      <small class=" mb-2 d-block">on 13 dec 2018 - 11:30 from Dubai,UAE</small>
    </li>


    <li class="list-group-item">

      <label class="mb-0">Rate Validity updated by John Doe</label>
      <label class="ports-text d-block">13 Dec 2018 - 12 Jan, 2019</label>
      <small class=" mb-2 d-block ">on 13 dec 2018 - 11:30 from Dubai,UAE</small>
    </li>

  </ul>
</section>


