<section class="ratesHistory">
  <div class="modal-header">
    <h4 class="m-0">Rate History</h4>
    <a class="pointer crossIcon" (click)="closeModal()">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
    </a>
  </div>

  <div class="modal-body bg-light">
    <div class="row detail">
      <div class="col-6 mb-4">
        <div class="ports">
          <small class="d-block">From</small>
          <div class="d-flex">
            <div class="flag-container">
              <img src="{{'../../../../assets/images/flags/1x1/'+ (recordList.FromCountryFlag | lowercase) + '.svg'}}"
                alt="icon">
            </div>
            <div class="location">
              <label class="ports-text">{{recordList.FromCountry}}</label>
              <span class=" d-block">Port of {{recordList.FromPort}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 mb-4">
        <div class="ports">
          <small class="d-block">To</small>
          <div class="d-flex">
            <div class="flag-container">
              <img src="{{'../../../../assets/images/flags/1x1/'+ (recordList.ToCountryFlag | lowercase) + '.svg'}}"
                alt="icon">
            </div>
            <div class="location">
              <label class="ports-text">{{recordList.ToCountry}}</label>
              <span class=" d-block">Port of {{recordList.ToPort}}</span>

            </div>
          </div>
        </div>

      </div>

      <div class="col-6 mb-4">
        <div class="ports">
          <small class="d-block">Shipping Lines</small>
          <div class="d-flex">
            <div class="flag-container">
              <img src="recordList.ShippingLineLogo" alt="icon">
            </div>
            <div class="location">
              <label class="ports-text">{{recordList.ShippingLine}}</label>
            </div>
          </div>
        </div>
      </div>


      <div class="col-6 mb-4">
        <div class="ports">
          <small class="d-block">Customer</small>
          <div class="d-flex">
            <div class="flag-container">
              <img src="recordList.CustomerLogo" alt="icon">
            </div>
            <div class="location">
              <label class="ports-text">{{recordList.Customer}}</label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 ">
        <div class="ports">
          <small class="d-block">Container</small>
          <label class="ports-text">{{recordList.Container}}</label>
        </div>
      </div>

      <div class="col-6">
        <div class="ports">
          <small class="d-block">Cargo Type</small>
          <label class="ports-text">{{recordList.CargoType}}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="list">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let list of recordList.History">
      <label class="mb-0">{{list.Desc}} by {{list.ModifiedBy}}</label>
      <label class="mb-0 activity">{{list.Activity}}</label>
      <small class="d-block">on {{list.CreatedDateTime}} from {{list.Location}}</small>
      </li>
    </ul>
  </div>

</section>
