<section class="ratesHistory">
  <div class="modal-header">
    <h4 class="m-0">Rate History</h4>
    <a class="pointer crossIcon" (click)="closeModal()">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
    </a>
  </div>

  <div class="modal-body bg-light">
    <app-loader-main *ngIf="loading"></app-loader-main>
    <div class="row detail" *ngIf="!loading">
      <div class="col-6 mb-4">
        <div class="ports">
          <small class="d-block">From</small>
          <div class="d-flex">
            <div class="flag-container">
              <img src="{{'../../../../assets/images/flags/1x1/'+ (originDet?.CountryCode | lowercase) + '.svg'}}" alt="icon">
            </div>
            <div class="location">
              <label class="ports-text">{{originDet?.PortCode}}</label>
              <span class=" d-block">Port of {{originDet?.PortName}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 mb-4">
        <div class="ports">
          <small class="d-block">To</small>
          <div class="d-flex">
            <div class="flag-container">
              <img src="{{'../../../../assets/images/flags/1x1/'+ (destinationDet?.CountryCode | lowercase) + '.svg'}}"
                alt="icon">
            </div>
            <div class="location">
              <label class="ports-text">{{destinationDet?.PortCode}}</label>
              <span class=" d-block">Port of {{destinationDet?.PortName}}</span>

            </div>
          </div>
        </div>

      </div>

      <div class="col-6 mb-4" *ngIf="getRecord.type == 'Rate_FCL' || getRecord.type == 'Rate_AIR'">
        <div class="ports">
          <small class="d-block" *ngIf="getRecord.type == 'Rate_FCL'">Shipping Lines</small>
          <small class="d-block" *ngIf="getRecord.type == 'Rate_AIR'">Air Lines</small>
          <div class="d-flex">
            <div class="flag-container shipping-logo">
              <img [src]="baseExternalAssets + '/' + shippingInfo[0]?.CarrierImage" alt="icon">
            </div>
            <div class="location">
              <label class="ports-text">{{shippingInfo[0]?.CarrierName}}</label>
            </div>
          </div>
        </div>
      </div>


      <div class="col-6 mb-4">
        <div class="ports">
          <small class="d-block">Customer</small>
          <div class="d-flex">
            <div class="flag-container customer-logo">
              <img src="{{getProviderImage(userProfile?.ProviderImage)}}" alt="icon">
            </div>
            <div class="location">
              <label class="ports-text">{{userProfile.FirstNameBL}} {{userProfile.LastNameBL}}</label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6" *ngIf="getRecord.type != 'Rate_LCL' && getRecord.type != 'Rate_AIR'">
        <div class="ports">
          <small class="d-block">Container</small>
          <label class="ports-text">{{containerInfo?.ContainerWithSize}}</label>
        </div>
      </div>

      <div class="col-6">
        <div class="ports">
          <small class="d-block">Cargo Type</small>
          <label class="ports-text">{{cargoInfo}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="list" *ngIf="history">
    <!-- <ng-scrollbar [autoHide]="true" class="history-scroll"> -->
    <ul class="list-group" >
      <li class="list-group-item d-flex flex-column" *ngFor="let list of history">
        <label class="mb-0">{{list.AuditDesc.Desc}} by {{list.AuditDesc.ModifiedBy}}</label>
        <label class="mb-0 activity">{{list.AuditDesc.Activity}}</label>
        <small>on {{list.AuditDesc.CreatedDateTime | date:'dd MMM, yyyy HH:mm'}} from {{list.AuditDesc.Location}}</small>
      </li>
    </ul>
    
    <!-- </ng-scrollbar> -->
  </div>
<p class=" m-0 text-center p-2" *ngIf="!history">No Results Found</p>
</section>
