<section class="shippinglines pl-1 pr-1">
  <h5 class="mt-0"> Preffered Shipping Type</h5>
  <small class="mt-2">Select your preferred shipping lines.</small>
  <hr class="hr-solid">
  <span class="mt-2"> Recommended</span>
  <div class="row">
  
      <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
        <div #selectService class="shippinglines-service  text-center d-flex flex-column justify-content-center pointer active">
          <span class="pb-2">
            <img src="../../../assets/images/icons/Goods.png"> </span>
          <span> Goods </span>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
        <div #selectService class="shippinglines-service text-center d-flex flex-column justify-content-center pointer">
          <span class="pb-2">
            <img src="../../../assets/images/icons/Autos.png"> </span>
          <span> Autos </span>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
        <div #selectService class="shippinglines-service text-center d-flex flex-column justify-content-center pointer active">
          <span class="pb-2">
            <img src="../../../assets/images/icons/Perishables.png"> </span>
          <span> Perishables </span>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
        <div #selectService class="shippinglines-service text-center d-flex flex-column justify-content-center pointer ">
          <span class="pb-2">
            <img src="../../../assets/images/icons/HeavyItems.png"> </span>
          <span> Heavy Equipments </span>
        </div>
      </div>

    </div>


</section>