<section class="region pl-1 pr-1">
  <div class="alert alert-warning hvr-icon-wobble-horizontal pointer p-0">
    <div class="alert-img">
      <img src="../../../assets/images/icons/info_white.svg">
    </div>

    <div class="alert-text d-flex justify-content-between align-items-center">
      <div class="d-flex flex-column">
        <span> your business profile is not verified</span>
        <small>it usually take 1-3 days for the verification</small>
      </div>

      <div class="alert-link mr-4">
        <a href="#" class="hvr-icon-forward" aria-pressed="true">
          <span>Learn more</span>
          <img src="../../../../../../assets/images/icons/icon_arrow_right.svg" class="icon-size-16 align-text-top hvr-icon">
        </a>
      </div>
    </div>

  </div>

  <h2 class="m-0"> Setup Business</h2>
  <p class="mt-2"> Select the regions where your organization operates and can accept bookings for export.</p>
  <h5 class="mt-5">Exclude Regions</h5>
  <p class="mt-2"> Select or type Continent / Country / State you don't prefer to work in </p>


  <div class="region-map">
  </div>

  <div class="region-continue mt-5">
    <span class="mt-2">
      <img src="../../../../../../assets/images/icons/icon_arrow_left.svg" class="icon-size-16 align-text-top hvr-icon">go back</span>
    <button class="btn btn-primary btn-register hvr-sweep-to-right pull-right">Continue</button>
  </div>


</section>