<section class="on-boarding">
    <h3 class="registration-title">Request to Join our Partner Network</h3>
    <p class="sub-title">It takes only a few minutes to send us your basic information.</p>
    <div class="row">
       <div class="licenseNaming col-6">
          <h5 class="m-0">Company Activities</h5>
          <small>Your company provides expertise in the following</small>
       </div>
       <div class="licenseNaming col-6 dir-otherLanguage">
          <h5 class="m-0">نشاطات الشركة</h5>
          <small class="arabicLng">توفر شركتك الخبرة في ما يلي</small>
       </div>
    </div>
    <hr class="hr-solid">
    <div class="row">
       <div class="col-lg-3 col-md-6 col-sm-12 ">
          <div class="service-btn text-center d-flex flex-column justify-content-center mb-2 pointer"
             (click)="serviceSelection(service, selectService)">
             <span>{{service.ServiceNameBaseLang}}</span>
             <span>{{service.ServiceNameOtherLang}}</span>
          </div>
       </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
           <div class="form-group">
              <label for="13">Country</label>
              <input id="13" type="text" class="form-control" maxlength="100" (keypress)="textValidation($event)">
              <!-- <span>
                 <p class="inputError animated fadeIn">Org
                    name must be at least 4 characters long
                 </p>
                 <p class="inputError animated fadeIn">Org
                    name should not exceed from 100 characters
                 </p>
                 <p class="inputError animated fadeIn">Please
                    enter valid information
                 </p>
              </span> -->
           </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
           <div class="form-group dir-otherLanguage text-right">
              <label for="14">بلد</label>
              <input id="14" type="text" class="form-control">
              <!-- <span>
                 <p class="inputError animated fadeIn" >يجب
                    ألا يقل اسم المؤسسة عن 4 أحرف
                 </p>
                 <p class="inputError animated fadeIn">يجب
                    ألا يتجاوز اسم المؤسسة 100 حرف
                 </p>
                 <p class="inputError animated fadeIn">يرجى
                    إدخال معلومات صحيحة
                 </p>
              </span> -->
           </div>
        </div>
     </div>
    <div class="row">
       <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
             <label for="13">Organization Name</label>
             <input id="13" type="text" class="form-control" maxlength="100" (keypress)="textValidation($event)">
             <!-- <span>
                <p class="inputError animated fadeIn">Org
                   name must be at least 4 characters long
                </p>
                <p class="inputError animated fadeIn">Org
                   name should not exceed from 100 characters
                </p>
                <p class="inputError animated fadeIn">Please
                   enter valid information
                </p>
             </span> -->
          </div>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group dir-otherLanguage text-right">
             <label for="14">اسم المنظمة</label>
             <input id="14" type="text" class="form-control">
             <!-- <span>
                <p class="inputError animated fadeIn" >يجب
                   ألا يقل اسم المؤسسة عن 4 أحرف
                </p>
                <p class="inputError animated fadeIn">يجب
                   ألا يتجاوز اسم المؤسسة 100 حرف
                </p>
                <p class="inputError animated fadeIn">يرجى
                   إدخال معلومات صحيحة
                </p>
             </span> -->
          </div>
       </div>
    </div>
    <h5 class="d-flex justify-content-between mt-5 pt-1">
       <span>Contact Details</span>
       <span class="text-right" >بيانات المتصل</span>
    </h5>
    <hr class="hr-solid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
              <label>{{telPhoneLabelBaseLanguage}}</label>
              <div class="select-number">
                <div id="17" class="input-group-prepend" [ngClass]="{
                  'inputError': phoneError && contactInfoForm.controls['phone'].errors,
                 'inputErrorRemove': contactInfoForm.controls['phone'].value && !phoneError}"
                  (focusout)="errorValidate()">
                  <div ngbDropdown class="select-country-list">
                    <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
                      <div class="flag-container">
                        <img *ngIf="!countryFlagImage" src="../../../../../assets/images/flags/4x3/ae.svg" alt="flags" type="image/svg+xml"
                          class="mw-100 w-auto h-auto mh-100">
                        <img *ngIf="countryFlagImage" [src]="'../../../../../assets/images/flags/4x3/' + (countryFlagImage | lowercase) + '.svg'"
                          alt="flags" type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                      </div>
                      <span>{{phoneCode}}</span>
                    </div>
                    <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
                      <ul class="list-group">
                        <li class="list-group-item" *ngFor="let list of countryList" (click)="selectPhoneCode(list)">
                          <div class="flag-container">
                            <img [src]="'../../../../../assets/images/flags/4x3/' + (list.code | lowercase) + '.svg'" alt="{{list.code + '-flag'}}"
                              class="mw-100 w-auto h-auto mh-100">
                          </div>
                          <span> {{list.desc[0].CountryPhoneCode}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <input type="text" class="form-control select-country-code" maxlength="13" placeholder="123456789"
                    formControlName="phone" (blur)="activePhone=false" (ngModelChange)="onModelPhoneChange(activeTransPhone, activePhone, 'transLangPhone', $event)"
                     (focus)="translangPhoneError=false; phoneError=false; activePhone=true; inputValidate(17)" (keypress)="NumberValid($event)"  />
                </div>
                <span class="animated fadeIn" *ngIf="phoneError && contactInfoForm.controls['phone'].errors">
                  <!-- <p class="inputError animated fadeIn" *ngIf="contactInfoForm.controls['phone'].hasError('required') && (contactInfoForm.controls.phone.dirty || contactInfoForm.controls.phone.touched)">{{requiredFields}}</p> -->
                  <p class="inputError animated fadeIn" *ngIf="!contactInfoForm.controls['phone'].hasError('pattern') && contactInfoForm.controls['phone'].hasError('minlength') && (contactInfoForm.controls.phone.dirty || contactInfoForm.controls.phone.touched)">Phone
                    number should be minimum 7 digits</p>
                  <p class="inputError animated fadeIn" *ngIf="!contactInfoForm.controls['phone'].hasError('pattern') && contactInfoForm.controls['phone'].hasError('maxlength') && (contactInfoForm.controls.phone.dirty || contactInfoForm.controls.phone.touched)">Phone
                    number should not exceed from 13 digits</p>
                  <p class="inputError animated fadeIn" *ngIf="contactInfoForm.controls['phone'].hasError('pattern') && (contactInfoForm.controls.phone.dirty || contactInfoForm.controls.phone.touched)">Please
                    enter valid information</p>
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="showTranslatedLangSide">
              <div class="form-group dir-otherLanguage">
                <label>{{telPhoneLabelOtherLanguage}}</label>
                <div class="select-number">
                  <div id="18" class="input-group-append" [ngClass]="{
                     'inputError': translangPhoneError && contactInfoForm.controls['transLangPhone'].errors,
                     'inputErrorRemove': contactInfoForm.controls['transLangPhone'].value && !translangPhoneError
                    }">
                    <div ngbDropdown class="select-country-list">
                      <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
                        <div class="flag-container">
                          <img *ngIf="!countryFlagImage" src="../../../../../assets/images/flags/4x3/ae.svg" alt="flags" type="image/svg+xml"
                            class="mw-100 w-auto h-auto mh-100">
                          <img *ngIf="countryFlagImage" [src]="'../../../../../assets/images/flags/4x3/' + (countryFlagImage | lowercase) + '.svg'"
                            alt="flags" type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                        </div>
                        <span>{{transPhoneCode}}</span>
                      </div>
                      <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
                        <ul class="list-group">
                          <li class="list-group-item" *ngFor="let list of countryList" (click)="selectPhoneCode(list)">
                            <div class="flag-container">
                              <img [src]="'../../../../../assets/images/flags/4x3/' + (list.code | lowercase) + '.svg'" alt="{{list.code + '-flag'}}"
                                class="mw-100 w-auto h-auto mh-100">
                            </div>
                            <span> {{list.desc[0].CountryPhoneCode_OtherLang}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <input type="text" class="form-control select-country-code" formControlName="transLangPhone" (focusout)="errorValidate()"
                       (blur)="activeTransPhone=false" (focus)="translangPhoneError=false; phoneError=false; activeTransPhone=true; inputValidate(18)"
                      (ngModelChange)="onModelTransPhoneChange(activePhone, activeTransPhone, 'phone', $event)" maxlength="13"
                      placeholder="۹۸۷۶۵۴۳۲۱" (keypress)="NumberValid($event)">
                  </div>
                  <span class="animated fadeIn" *ngIf="translangPhoneError && contactInfoForm.controls['transLangPhone'].errors">
                    <!-- <p class="inputError animated fadeIn" *ngIf="contactInfoForm.controls['transLangPhone'].hasError('required') && (contactInfoForm.controls.transLangPhone.dirty || contactInfoForm.controls.transLangPhone.touched)">{{requiredFieldsOthrLng}}</p> -->
                    <p class="inputError animated fadeIn" *ngIf="!contactInfoForm.controls['transLangPhone'].hasError('pattern') && contactInfoForm.controls['transLangPhone'].hasError('minlength') && (contactInfoForm.controls.transLangPhone.dirty || contactInfoForm.controls.transLangPhone.touched)">يجب
                      أن يكون رقم الهاتف 7 أرقام كحد أدنى</p>
                    <p class="inputError animated fadeIn" *ngIf="!contactInfoForm.controls['transLangPhone'].hasError('pattern') && contactInfoForm.controls['transLangPhone'].hasError('maxlength') && (contactInfoForm.controls.transLangPhone.dirty || contactInfoForm.controls.transLangPhone.touched)">يجب
                      ألا يتجاوز رقم الهاتف 13 أرقام</p>
                    <p class="inputError animated fadeIn" *ngIf="contactInfoForm.controls['transLangPhone'].hasError('pattern') && (contactInfoForm.controls.transLangPhone.dirty || contactInfoForm.controls.transLangPhone.touched)">يرجى
                      إدخال معلومات صحيحة</p>
                  </span>
                </div>
              </div>
            </div>
    </div>
    <div class="row">
       <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
             <label class="d-flex justify-content-start">Social Media Accounts (Optional)</label>
             <div class="select-number">
                <div class="input-group-prepend">
                   <div class="select-country-list">
                      <div class="pointer phone" id="phoneCode">
                         <span>{{selectedSocialsite.title}}</span>
                      </div>
                      <div class="animated fadeIn country-section" aria-labelledby="social">
                         <ul class="list-group">
                            <li class="list-group-item" (click)="selectedSocialLink(link)">
                               <span>{{link.title}}</span>
                            </li>
                         </ul>
                      </div>
                   </div>
                   <input type="text" class="form-control select-country-code" formControlName="socialUrl" [(ngModel)]="socialSites"
                   maxlength="100" placeholder="www.company.com" (focus)="inputValidate(19)" (focusout)="socialLinkValidate()" />
                </div>
                <p class="inputError animated fadeIn">{{socialInputValidate}}</p>
             </div>
          </div>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
             <label class="arabicLng text-right">(حساب وسائل الاعلام الاجتماعية (اختياري</label>
             <div class="select-number">
                <div class="input-group-prepend">
                   <div class="select-country-list">
                      <div class="pointer phone" id="phoneCode">
                         <span>{{selectedSocialsite.title}}</span>
                      </div>
                      <div class="animated fadeIn country-section" aria-labelledby="social">
                         <ul class="list-group">
                            <li class="list-group-item" (click)="selectedSocialLink(link)">
                               <span>{{link.title}}</span>
                            </li>
                         </ul>
                      </div>
                   </div>
                   <input type="text" class="form-control select-country-code" formControlName="socialUrl"
                   maxlength="100" placeholder="www.company.com" (focus)="inputValidate(19)" (focusout)="socialLinkValidate()" />
                </div>
                <p class="inputError animated fadeIn">{{socialInputValidate}}</p>
             </div>
          </div>
       </div>
    </div>
    <h5 class="d-flex justify-content-between pt-2 mt-5">
       <span>Business Location</span>
       <span class="text-right">موقع العمل</span>
    </h5>
    <hr class="hr-solid">
    <div class="row ">
       <div class="col-lg-6 col-md-6 col-sm-12 ">
          <div class="form-group">
             <label for="address">Address Line 1</label>
             <input id="5" type="text" (keypress)="oneSpaceHandler($event)" class="form-control" maxlength="200"
             formControlName="address" (focusout)="errorValidate()" (focus)="addressError = false; addressArError = false; inputValidate(5)">
             <!-- <span>
                <p class="inputError animated fadeIn">Please
                   enter valid information
                </p>
                <p class="inputError animated fadeIn">Address
                   should not exceed from 200 characters
                </p>
                <p class="inputError animated fadeIn">Address
                   should be minimum 10 characters
                </p>
             </span> -->
          </div>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group dir-otherLanguage">
             <label for="address">العنوان السطر 1</label>
             <input id="6" type="text" class="form-control" (keypress)="oneSpaceHandler($event)" maxlength="200"
             formControlName="transAddress" (focusout)="errorValidate()" (focus)="addressError = false; addressArError = false; inputValidate(6)">
             <!-- <span>
                <p class="inputError animated fadeIn">يرجى
                   إدخال معلومات صحيحة
                </p>
                <p class="inputError animated fadeIn">يجب
                   ألا يتجاوز العنوان 200 حرف
                </p>
                <p class="inputError animated fadeIn">يجب
                   أن يكون العنوان 10 حرفًا كحد أدنى
                </p>
             </span> -->
          </div>
       </div>
    </div>
    <div class="row ">
       <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
             <label for="address">Address Line 2 (Optional)</label>
             <input id="7" type="text" (keypress)="oneSpaceHandler($event)" class="form-control" maxlength="200"
             formControlName="address2" (focusout)="errorValidate()" (focus)="addressError2 = false; addressArError2 = false; inputValidate(7)">
             <!-- <span *ngIf="addressError2 && businessLocForm.controls['address2'].errors">
                <p class="inputError animated fadeIn">Please
                   enter valid information
                </p>
                <p class="inputError animated fadeIn">Address
                   should not exceed from 200 characters
                </p>
                <p class="inputError animated fadeIn">Address
                   should be minimum 10 characters
                </p>
             </span> -->
          </div>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group dir-otherLanguage">
             <label for="address">العنوان السطر 2 (اختياري)</label>
             <input id="8" type="text" class="form-control" (keypress)="oneSpaceHandler($event)" maxlength="200"
             formControlName="transAddress2" (focusout)="errorValidate()" (focus)="addressError2 = false; addressArError2 = false; inputValidate(8)">
             <!-- <span *ngIf="addressArError2 && businessLocForm.controls['transAddress2'].errors">
                <p class="inputError animated fadeIn">يرجى
                   إدخال معلومات صحيحة
                </p>
                <p class="inputError animated fadeIn">يجب
                   ألا يتجاوز العنوان 200 حرف
                </p>
                <p class="inputError animated fadeIn">يجب
                   أن يكون العنوان 10 حرفًا كحد أدنى
                </p>
             </span> -->
          </div>
       </div>
    </div>
    <div class="row ">
       <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
             <label for="city">City</label>
             <input id="9" type="text" (keypress)="oneSpaceHandler($event)" class="form-control" maxlength="200"
             formControlName="city" (focusout)="errorValidate()" (focus)="cityArError = false; cityError = false; inputValidate(9)">
             <!-- <span *ngIf="cityError && businessLocForm.controls['city'].errors">
                <p class="inputError animated fadeIn">Please
                   enter valid information
                </p>
                <p class="inputError animated fadeIn">city
                   should not exceed from 100 characters
                </p>
                <p class="inputError animated fadeIn">city
                   should be minimum 3 characters
                </p>
             </span> -->
          </div>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group dir-otherLanguage">
             <label for="city">مدينة</label>
             <input id="10" type="text" class="form-control" (keypress)="oneSpaceHandler($event)" maxlength="200"
             formControlName="transCity" (focusout)="errorValidate()" (focus)="cityArError = false; cityError = false; inputValidate(10)">
             <!-- <span>
                <p class="inputError animated fadeIn">يرجى
                   إدخال معلومات صحيحة
                </p>
                <p class="inputError animated fadeIn">يجب
                   ألا يتجاوز العنوان 100 حرف
                </p>
                <p class="inputError animated fadeIn">يجب
                   أن يكون العنوان 3 حرفًا كحد أدنى
                </p>
             </span> -->
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
             <label for="Address">P.O Box</label>
             <input id="11" type="text" class="form-control" maxlength="16" (focusout)="errorValidate()" (focus)="poBoxError = false; poBoxArError = false; inputValidate(11)">
             <!-- <span>
                <p class="inputError animated fadeIn">Please
                   enter valid information
                </p>
                <p class="inputError animated fadeIn">PO
                   address should not exceed from 16 characters
                </p>
                <p class="inputError animated fadeIn">PO
                   address should be minimum 4 characters
                </p>
             </span> -->
          </div>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group dir-otherLanguage">
             <label for="address">صندوق بريد</label>
             <input id="12" type="text" class="form-control" maxlength="16" (focusout)="errorValidate()" (focus)="poBoxError = false; poBoxArError = false; inputValidate(12)">
             <!-- <span>
                <p class="inputError animated fadeIn">يرجى
                   إدخال معلومات صحيحة
                </p>
                <p class="inputError animated fadeIn">يجب
                   ألا يتجاوز عنوان PO من 16 حرفًا
                </p>
                <p class="inputError animated fadeIn">يجب
                   أن يكون عنوان PO 4 أحرف كحد أدنى
                </p>
             </span> -->
          </div>
       </div>
    </div>
    <div class="heading">
       <h5 class="registration-head-titles mt-5 d-flex justify-content-between">
          <span>Your Personal Information</span>
          <span class="text-right arabicLng">المعلومات الشخصية الخاصة بك</span>
       </h5>
       <small class="d-flex justify-content-between">
       <span>We require your personal information to get in touch with you</span>
       <span class="text-right">نطلب المعلومات الشخصية الخاصة بك للحصول على اتصال معكم</span>
       </small>
    </div>
    <hr class="hr-solid">
    <div class="row">
       <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
             <label for="leftFirstName">First Name</label>
             <input id="1" type="text" maxlength="100" (keypress)="textValidation($event)" 
             (focusout)="errorValidate()" (blur)="activeFirstName=false" (focus)="firstNameError=false; transfirstNameError=false; activeFirstName=true; ; inputValidate(1)"
             (ngModelChange)="onModelChange(activeTransFirstName, activeFirstName, 'transLangfirstName', 'en', 'ar' ,$event)"
             class="form-control" placeholder="eg: John" formControlName="firstName" name="firstName">
             <!-- <span *ngIf="firstNameError && regForm.controls['firstName'].errors">
                <p class="inputError animated fadeIn">First
                   name must be at least 2 characters long
                </p>
                <p class="inputError animated fadeIn">First
                   name should not exceed from 100 characters
                </p>
                <p class="inputError animated fadeIn">Please
                   enter valid information
                </p>
             </span> -->
          </div>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group dir-otherLanguage">
             <label for="rightFirstName">الاسم الاول</label>
             <input id="2" type="text" maxlength="100" class="form-control"
             (focusout)="errorValidate()" (blur)="activeTransFirstName=false" (focus)="transfirstNameError=false; firstNameError=false;  activeTransFirstName=true; inputValidate(2)"
             (ngModelChange)="onTransModel(activeFirstName, activeTransFirstName, 'firstName' ,$event)" placeholder="المثال : جون"
             formControlName="transLangfirstName">
             <!-- <span *ngIf="transfirstNameError && regForm.controls['transLangfirstName'].errors">
                <p class="inputError animated fadeIn">يجب
                   أن يتكون الاسم الأول من حرفين على الأقل
                </p>
                <p class="inputError animated fadeIn">يجب
                   ألا يتجاوز الاسم الأول 100 حرف
                </p>
                <p class="inputError animated fadeIn">يرجى
                   إدخال معلومات صحيحة
                </p>
             </span> -->
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
             <label for="leftLastName">Last Name</label>
             <input id="3" type="text" maxlength="100" (keypress)="textValidation($event)"
             (focusout)="errorValidate()" (blur)="activeLastName=false" (focus)="lastNameError=false; translastNameError=false; activeLastName=true; inputValidate(3)"
             (ngModelChange)="onModelChange(activeTransLastName, activeLastName, 'transLanglastName', 'en', 'ar' ,$event)"
             class="form-control" placeholder="eg: Smith" formControlName="lastName">
             <!-- <span>
                <p class="inputError animated fadeIn">Last
                   name must be at least 2 characters long
                </p>
                <p class="inputError animated fadeIn">Last
                   name should not exceed from 100 characters
                </p>
                <p class="inputError animated fadeIn">Please
                   enter valid information
                </p>
             </span> -->
          </div>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group dir-otherLanguage">
             <label for="leftLastName">الاسم الاخير</label>
             <input id="4" type="text" maxlength="100" class="form-control" placeholder="المثال : سمىت"
             (focusout)="errorValidate()" (blur)="activeTransLastName=false" (focus)="lastNameError=false; translastNameError=false; activeTransLastName=true; inputValidate(4)"
             (ngModelChange)="onTransModel(activeLastName, activeTransLastName, 'lastName' ,$event)" formControlName="transLanglastName">
             <!-- <span *ngIf="translastNameError && regForm.controls['transLanglastName'].errors">
                <p class="inputError animated fadeIn">يجب
                   ألا يقل الاسم الأخير عن 2 حرف
                </p>
                <p class="inputError animated fadeIn">يجب
                   ألا يتجاوز الاسم الأخير 100 حرف
                </p>
                <p class="inputError animated fadeIn">يرجى
                   إدخال معلومات صحيحة
                </p>
             </span> -->
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
             <label for="lefttransLangjobTitle">Job Title</label>
             <input id="5" type="text" maxlength="100" class="form-control" (keypress)="textValidation($event)"
             placeholder="eg: Manager" [ngClass]="{'inputError': jobTitleError && regForm.controls['jobTitle'].errors, 'inputErrorRemove': regForm.controls['jobTitle'].value && !jobTitleError}"
             formControlName="jobTitle" [(ngModel)]="selectedjobTitle" [ngbTypeahead]="jobSearch" [resultTemplate]="jt"
             [inputFormatter]="formatterjob" formControlName="jobTitle" name="jobTitle" (focusout)="errorValidate(); onModeljobtitle(activeTransjobTitle, !activejobTitle, 'transLangjobTitle', 'en', 'ar' ,selectedjobTitle)"
             (focus)="transjobTitleError=false; jobTitleError=false; activejobTitle=true; inputValidate(5)" (blur)="activejobTitle=false">
             <ng-template #jt let-r="result">
                <ngb-highlight [result]="r.baseLanguage"></ngb-highlight>
             </ng-template>
             <!-- <span *ngIf="jobTitleError && regForm.controls['jobTitle'].errors">
                <p class="inputError animated fadeIn">Job
                   title must be at least 3 characters long
                </p>
                <p class="inputError animated fadeIn">Job
                   title should not exceed from 100 characters
                </p>
                <p class="inputError animated fadeIn">Please
                   enter valid information
                </p>
             </span> -->
          </div>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group dir-otherLanguage">
             <label for="leftJobTitle">عنوان</label>
             <input id="6" type="text" maxlength="100" class="form-control" [(ngModel)]="selectedjobTitle" placeholder="المثال : مدير"
             [ngbTypeahead]="jobSearchOtherLng" [resultTemplate]="jto" placement="right" [inputFormatter]="formatterjobOtherLng"
             [ngClass]="{'inputError': transjobTitleError && regForm.controls['transLangjobTitle'].errors, 'inputErrorRemove': regForm.controls['transLangjobTitle'].value && !transjobTitleError}"
             (focusout)="errorValidate(); onTransModeljobTitle(activejobTitle, !activeTransjobTitle, 'jobTitle' ,selectedjobTitle)"
             formControlName="transLangjobTitle" name="transLangjobTitle" (focus)="transjobTitleError=false; jobTitleError=false; activeTransjobTitle=true; inputValidate(6)"
             (blur)="activeTransjobTitle=false">
             <ng-template #jto let-r="result">
                <ngb-highlight [result]="r.otherLanguage"></ngb-highlight>
             </ng-template>
             <!-- <span>
                <p class="inputError animated fadeIn">يجب
                   أن يكون عنوان الوظيفة 3 أحرف على الأقل
                </p>
                <p class="inputError animated fadeIn">يجب
                   ألا يتجاوز عنوان الوظيفة 100 حرف
                </p>
                <p class="inputError animated fadeIn">يرجى
                   إدخال معلومات صحيحة
                </p>
             </span> -->
          </div>
       </div>
    </div>
    <h5 class="registration-head-titles pt-1 mt-5 d-flex justify-content-between">
       <span>Contact Details</span>
       <span class="text-right">بيانات المتصل</span>
    </h5>
    <hr class="hr-solid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
              <label>{{telPhoneLabelBaseLanguage}}</label>
              <div class="select-number">
                <div id="17" class="input-group-prepend" [ngClass]="{
                  'inputError': phoneError && contactInfoForm.controls['phone'].errors,
                 'inputErrorRemove': contactInfoForm.controls['phone'].value && !phoneError}"
                  (focusout)="errorValidate()">
                  <div ngbDropdown class="select-country-list">
                    <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
                      <div class="flag-container">
                        <img *ngIf="!countryFlagImage" src="../../../../../assets/images/flags/4x3/ae.svg" alt="flags" type="image/svg+xml"
                          class="mw-100 w-auto h-auto mh-100">
                        <img *ngIf="countryFlagImage" [src]="'../../../../../assets/images/flags/4x3/' + (countryFlagImage | lowercase) + '.svg'"
                          alt="flags" type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                      </div>
                      <span>{{phoneCode}}</span>
                    </div>
                    <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
                      <ul class="list-group">
                        <li class="list-group-item" *ngFor="let list of countryList" (click)="selectPhoneCode(list)">
                          <div class="flag-container">
                            <img [src]="'../../../../../assets/images/flags/4x3/' + (list.code | lowercase) + '.svg'" alt="{{list.code + '-flag'}}"
                              class="mw-100 w-auto h-auto mh-100">
                          </div>
                          <span> {{list.desc[0].CountryPhoneCode}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <input type="text" class="form-control select-country-code" maxlength="13" placeholder="123456789"
                    formControlName="phone" (blur)="activePhone=false" (ngModelChange)="onModelPhoneChange(activeTransPhone, activePhone, 'transLangPhone', $event)"
                     (focus)="translangPhoneError=false; phoneError=false; activePhone=true; inputValidate(17)" (keypress)="NumberValid($event)"  />
                </div>
                <span class="animated fadeIn" *ngIf="phoneError && contactInfoForm.controls['phone'].errors">
                  <!-- <p class="inputError animated fadeIn" *ngIf="contactInfoForm.controls['phone'].hasError('required') && (contactInfoForm.controls.phone.dirty || contactInfoForm.controls.phone.touched)">{{requiredFields}}</p> -->
                  <p class="inputError animated fadeIn" *ngIf="!contactInfoForm.controls['phone'].hasError('pattern') && contactInfoForm.controls['phone'].hasError('minlength') && (contactInfoForm.controls.phone.dirty || contactInfoForm.controls.phone.touched)">Phone
                    number should be minimum 7 digits</p>
                  <p class="inputError animated fadeIn" *ngIf="!contactInfoForm.controls['phone'].hasError('pattern') && contactInfoForm.controls['phone'].hasError('maxlength') && (contactInfoForm.controls.phone.dirty || contactInfoForm.controls.phone.touched)">Phone
                    number should not exceed from 13 digits</p>
                  <p class="inputError animated fadeIn" *ngIf="contactInfoForm.controls['phone'].hasError('pattern') && (contactInfoForm.controls.phone.dirty || contactInfoForm.controls.phone.touched)">Please
                    enter valid information</p>
                </span>
              </div>
            </div>
          </div>
       <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="showTranslatedLangSide">
          <div class="form-group dir-otherLanguage">
            <label>{{telPhoneLabelOtherLanguage}}</label>
            <div class="select-number">
              <div id="18" class="input-group-append" [ngClass]="{
                 'inputError': translangPhoneError && contactInfoForm.controls['transLangPhone'].errors,
                 'inputErrorRemove': contactInfoForm.controls['transLangPhone'].value && !translangPhoneError
                }">
                <div ngbDropdown class="select-country-list">
                  <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
                    <div class="flag-container">
                      <img *ngIf="!countryFlagImage" src="../../../../../assets/images/flags/4x3/ae.svg" alt="flags" type="image/svg+xml"
                        class="mw-100 w-auto h-auto mh-100">
                      <img *ngIf="countryFlagImage" [src]="'../../../../../assets/images/flags/4x3/' + (countryFlagImage | lowercase) + '.svg'"
                        alt="flags" type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                    </div>
                    <span>{{transPhoneCode}}</span>
                  </div>
                  <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
                    <ul class="list-group">
                      <li class="list-group-item" *ngFor="let list of countryList" (click)="selectPhoneCode(list)">
                        <div class="flag-container">
                          <img [src]="'../../../../../assets/images/flags/4x3/' + (list.code | lowercase) + '.svg'" alt="{{list.code + '-flag'}}"
                            class="mw-100 w-auto h-auto mh-100">
                        </div>
                        <span> {{list.desc[0].CountryPhoneCode_OtherLang}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <input type="text" class="form-control select-country-code" formControlName="transLangPhone" (focusout)="errorValidate()"
                   (blur)="activeTransPhone=false" (focus)="translangPhoneError=false; phoneError=false; activeTransPhone=true; inputValidate(18)"
                  (ngModelChange)="onModelTransPhoneChange(activePhone, activeTransPhone, 'phone', $event)" maxlength="13"
                  placeholder="۹۸۷۶۵۴۳۲۱" (keypress)="NumberValid($event)">
              </div>
              <span class="animated fadeIn" *ngIf="translangPhoneError && contactInfoForm.controls['transLangPhone'].errors">
                <!-- <p class="inputError animated fadeIn" *ngIf="contactInfoForm.controls['transLangPhone'].hasError('required') && (contactInfoForm.controls.transLangPhone.dirty || contactInfoForm.controls.transLangPhone.touched)">{{requiredFieldsOthrLng}}</p> -->
                <p class="inputError animated fadeIn" *ngIf="!contactInfoForm.controls['transLangPhone'].hasError('pattern') && contactInfoForm.controls['transLangPhone'].hasError('minlength') && (contactInfoForm.controls.transLangPhone.dirty || contactInfoForm.controls.transLangPhone.touched)">يجب
                  أن يكون رقم الهاتف 7 أرقام كحد أدنى</p>
                <p class="inputError animated fadeIn" *ngIf="!contactInfoForm.controls['transLangPhone'].hasError('pattern') && contactInfoForm.controls['transLangPhone'].hasError('maxlength') && (contactInfoForm.controls.transLangPhone.dirty || contactInfoForm.controls.transLangPhone.touched)">يجب
                  ألا يتجاوز رقم الهاتف 13 أرقام</p>
                <p class="inputError animated fadeIn" *ngIf="contactInfoForm.controls['transLangPhone'].hasError('pattern') && (contactInfoForm.controls.transLangPhone.dirty || contactInfoForm.controls.transLangPhone.touched)">يرجى
                  إدخال معلومات صحيحة</p>
              </span>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
       <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
             <label for="address">Email Address</label>
             <input id="9" type="email" autocomplete="nope" (focusout)="errorValidate()" (focus)="transEmailError=false; EmailError=false; inputValidate(9)"
              [(ngModel)]="transLangEmail" (keypress)="spaceHandler($event)" class="form-control" placeholder="eg: john@company.com" formControlName="email"
              name="email">
             <!-- <span *ngIf="EmailError && regForm.controls['email'].errors">
                <p class="inputError animated fadeIn">Please
                   enter valid information
                </p>
                <p class="inputError animated fadeIn">Email
                   should not exceed from 320 characters
                </p>
             </span> -->
          </div>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group dir-otherLanguage">
             <label for="address">البريد الإلكتروني</label>
             <input id="10" type="email" class="form-control" placeholder="eg: john@company.com" (focusout)="errorValidate()"
             (focus)="transEmailError=false; EmailError=false; inputValidate(10)" [ngClass]="{
             'inputError': transEmailError && regForm.controls['transLangEmail'].errors, 
             'inputErrorRemove': regForm.controls['transLangEmail'].value
             }"
             (keypress)="spaceHandler($event)" formControlName="transLangEmail" name="transLangEmail">
             <!-- <span>
                <p class="inputError animated fadeIn">يرجى
                   إدخال معلومات صحيحة
                </p>
                <p class="inputError animated fadeIn">يجب
                   ألا يتجاوز البريد الإلكتروني 320 حرفًا
                </p>
             </span> -->
          </div>
       </div>
    </div>
    <div class="row mt-5">
       <div class="col">
          <button class="btn btn-primary btn-register hvr-sweep-to-right pull-right" type="submit" [disabled]="regForm.invalid">
          <span>Register</span><span> / تسجيل</span>
          </button>
       </div>
    </div>
 </section>