<section class="on-boarding">
  <h3 class="registration-title">Request to Join our Partner Network</h3>
  <p class="sub-title">It takes only a few minutes to send us your basic information.</p>
  <div class="row">
    <div class="licenseNaming col-6">
      <h5 class="m-0">Company Activities</h5>
      <small>Your company provides expertise in the following</small>
    </div>
    <div class="licenseNaming col-6 dir-otherLanguage">
      <h5 class="m-0">نشاطات الشركة</h5>
      <small class="arabicLng">توفر شركتك الخبرة في ما يلي</small>
    </div>
  </div>
  <hr class="hr-solid">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let service of serviceOffered">
      <div #selectService class="service-btn text-center d-flex flex-column justify-content-center mb-2 pointer" (click)="serviceSelection(service, selectService)">
        <span>{{service.ServiceNameBaseLang}}</span>
        <span>{{service.ServiceNameOtherLang}}</span>
      </div>
    </div>
  </div>
  <form autocomplete="off" novalidate [formGroup]="organizationForm">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Country</label>
          <input type="text" class="form-control" maxlength="100" (keypress)="textValidation($event)">

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group dir-otherLanguage text-right">
          <label>بلد</label>
          <input type="text" class="form-control">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Organization Name</label>
          <input type="text" class="form-control" maxlength="100" (keypress)="textValidation($event)" [ngClass]="{
                  'inputError': orgNameError && organizationForm.controls['orgName'].errors
                  }" (focusout)="errorValidate()" (blur)="activeOrgName=false" (focus)="transorgNameError=false; orgNameError=false; activeOrgName=true"
            (ngModelChange)="onModelChange(activeTransOrgName, activeOrgName, 'transLangOrgName', 'en', 'ar' ,$event)" placeholder="Company Name"
            formControlName="orgName">
          <span *ngIf="orgNameError && organizationForm.controls['orgName'].errors">
            <p class="inputError animated fadeIn" *ngIf="organizationForm.controls['orgName'].hasError('required') && (organizationForm.controls.orgName.dirty || organizationForm.controls.orgName.touched)">{{requiredFields}}</p>
            <p class="inputError animated fadeIn" *ngIf="!organizationForm.controls['orgName'].hasError('pattern') && organizationForm.controls['orgName'].hasError('minlength') && (organizationForm.controls.orgName.dirty || organizationForm.controls.orgName.touched)">Org name must be at least 4 characters long</p>
            <p class="inputError animated fadeIn" *ngIf="!organizationForm.controls['orgName'].hasError('pattern') && organizationForm.controls['orgName'].hasError('maxlength') && (organizationForm.controls.orgName.dirty || organizationForm.controls.orgName.touched)">Org name should not exceed from 100 characters</p>
            <p class="inputError animated fadeIn" *ngIf="organizationForm.controls['orgName'].hasError('pattern') && (organizationForm.controls.orgName.dirty || organizationForm.controls.orgName.touched)">Please enter valid information</p>
          </span>
        </div>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group dir-otherLanguage text-right">
          <label>اسم المنظمة</label>
          <input type="text" class="form-control" [ngClass]="{
                  'inputError': transorgNameError && organizationForm.controls['transLangOrgName'].errors}" (focusout)="errorValidate()"
            (blur)="activeTransOrgName=false" (focus)="transorgNameError=false; orgNameError=false; activeTransOrgName=true"
            (ngModelChange)="onTransModel(activeOrgName, activeTransOrgName, 'orgName' ,$event)" placeholder="Company Name"
            formControlName="transLangOrgName">
          <span *ngIf="transorgNameError && organizationForm.controls['transLangOrgName'].errors">
            <p class="inputError animated fadeIn" *ngIf="organizationForm.controls['transLangOrgName'].hasError('required') && (organizationForm.controls.transLangOrgName.dirty || organizationForm.controls.transLangOrgName.touched)">{{requiredFieldsOthrLng}}</p>
            <p class="inputError animated fadeIn" *ngIf="!organizationForm.controls['transLangOrgName'].hasError('pattern') && organizationForm.controls['transLangOrgName'].hasError('minlength') && (organizationForm.controls.transLangOrgName.dirty || organizationForm.controls.transLangOrgName.touched)">يجب ألا يقل اسم المؤسسة عن 4 أحرف</p>
            <p class="inputError animated fadeIn" *ngIf="!organizationForm.controls['transLangOrgName'].hasError('pattern') && organizationForm.controls['transLangOrgName'].hasError('maxlength') && (organizationForm.controls.transLangOrgName.dirty || organizationForm.controls.transLangOrgName.touched)">يجب ألا يتجاوز اسم المؤسسة 100 حرف</p>
            <p class="inputError animated fadeIn" *ngIf="organizationForm.controls['transLangOrgName'].hasError('pattern') && (organizationForm.controls.transLangOrgName.dirty || organizationForm.controls.transLangOrgName.touched)">يرجى إدخال معلومات صحيحة</p>
          </span>
        </div>

      </div>
    </div>
  </form>
  <h5 class="d-flex justify-content-between mt-5 pt-1">
    <span>Contact Details</span>
    <span class="text-right">بيانات المتصل</span>
  </h5>
  <hr class="hr-solid">
  <form autocomplete="off" novalidate [formGroup]="contactInfoForm">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Telephone</label>
          <div class="select-number">
            <div class="input-group-prepend" [ngClass]="{
                                  'inputError': phoneError && contactInfoForm.controls['phone'].errors
                                 }" (focusout)="errorValidate()">
              <div ngbDropdown class="select-country-list">
                <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
                  <div class="flag-container">
                    <img *ngIf="!countryFlagImage" src="../../../../../assets/images/flags/4x3/ae.svg" alt="flags" type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                    <img *ngIf="countryFlagImage" [src]="'../../../../../assets/images/flags/4x3/' + (countryFlagImage | lowercase) + '.svg'"
                      alt="flags" type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                  </div>
                  <span>{{phoneCode}}</span>
                </div>
                <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let list of countryList" (click)="selectPhoneCode(list)">
                      <div class="flag-container">
                        <img [src]="'../../../../../assets/images/flags/4x3/' + (list.code | lowercase) + '.svg'" alt="{{list.code + '-flag'}}" class="mw-100 w-auto h-auto mh-100">
                      </div>
                      <span> {{list.desc[0].CountryPhoneCode}}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <input type="text" class="form-control select-country-code" maxlength="13" placeholder="123456789" formControlName="phone"
                (blur)="activePhone=false" (ngModelChange)="onModelPhoneChange(activeTransPhone, activePhone, 'transLangPhone', $event)"
                (focus)="translangPhoneError=false; phoneError=false; activePhone=true" (keypress)="NumberValid($event)" />
            </div>
            <span class="animated fadeIn" *ngIf="phoneError && contactInfoForm.controls['phone'].errors">
              <p class="inputError animated fadeIn" *ngIf="contactInfoForm.controls['phone'].hasError('required') && (contactInfoForm.controls.phone.dirty || contactInfoForm.controls.phone.touched)">{{requiredFields}}</p>
              <p class="inputError animated fadeIn" *ngIf="!contactInfoForm.controls['phone'].hasError('pattern') && contactInfoForm.controls['phone'].hasError('minlength') && (contactInfoForm.controls.phone.dirty || contactInfoForm.controls.phone.touched)">Phone number should be minimum 7 digits</p>
              <p class="inputError animated fadeIn" *ngIf="!contactInfoForm.controls['phone'].hasError('pattern') && contactInfoForm.controls['phone'].hasError('maxlength') && (contactInfoForm.controls.phone.dirty || contactInfoForm.controls.phone.touched)">Phone number should not exceed from 13 digits</p>
              <p class="inputError animated fadeIn" *ngIf="contactInfoForm.controls['phone'].hasError('pattern') && (contactInfoForm.controls.phone.dirty || contactInfoForm.controls.phone.touched)">Please enter valid information</p>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group dir-otherLanguage">
          <label>هاتف</label>
          <div class="select-number">
            <div id="18" class="input-group-append" [ngClass]="{'inputError': translangPhoneError && contactInfoForm.controls['transLangPhone'].errors}">
              <div ngbDropdown class="select-country-list">
                <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
                  <div class="flag-container">
                    <img *ngIf="!countryFlagImage" src="../../../../../../assets/images/flags/4x3/ae.svg" alt="flags" type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                    <img *ngIf="countryFlagImage" [src]="'../../../../../assets/images/flags/4x3/' + (countryFlagImage | lowercase) + '.svg'"
                      alt="flags" type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                  </div>
                  <span>{{transPhoneCode}}</span>
                </div>
                <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let list of countryList" (click)="selectPhoneCode(list)">
                      <div class="flag-container">
                        <img [src]="'../../../../../assets/images/flags/4x3/' + (list.code | lowercase) + '.svg'" alt="{{list.code + '-flag'}}" class="mw-100 w-auto h-auto mh-100">
                      </div>
                      <span> {{list.desc[0].CountryPhoneCode_OtherLang}}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <input type="text" class="form-control select-country-code" formControlName="transLangPhone" (focusout)="errorValidate()"
                (blur)="activeTransPhone=false" (focus)="translangPhoneError=false; phoneError=false; activeTransPhone=true"
                (ngModelChange)="onModelTransPhoneChange(activePhone, activeTransPhone, 'phone', $event)" maxlength="13" placeholder="۹۸۷۶۵۴۳۲۱"
                (keypress)="NumberValid($event)">
            </div>
            <span class="animated fadeIn" *ngIf="translangPhoneError && contactInfoForm.controls['transLangPhone'].errors">
              <p class="inputError animated fadeIn" *ngIf="contactInfoForm.controls['transLangPhone'].hasError('required') && (contactInfoForm.controls.transLangPhone.dirty || contactInfoForm.controls.transLangPhone.touched)">{{requiredFieldsOthrLng}}</p>
              <p class="inputError animated fadeIn" *ngIf="!contactInfoForm.controls['transLangPhone'].hasError('pattern') && contactInfoForm.controls['transLangPhone'].hasError('minlength') && (contactInfoForm.controls.transLangPhone.dirty || contactInfoForm.controls.transLangPhone.touched)">يجب أن يكون رقم الهاتف 7 أرقام كحد أدنى</p>
              <p class="inputError animated fadeIn" *ngIf="!contactInfoForm.controls['transLangPhone'].hasError('pattern') && contactInfoForm.controls['transLangPhone'].hasError('maxlength') && (contactInfoForm.controls.transLangPhone.dirty || contactInfoForm.controls.transLangPhone.touched)">يجب ألا يتجاوز رقم الهاتف 13 أرقام</p>
              <p class="inputError animated fadeIn" *ngIf="contactInfoForm.controls['transLangPhone'].hasError('pattern') && (contactInfoForm.controls.transLangPhone.dirty || contactInfoForm.controls.transLangPhone.touched)">يرجى إدخال معلومات صحيحة</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>
    <h5 class="d-flex justify-content-between pt-2 mt-5">
      <span>Business Location</span>
      <span class="text-right">موقع العمل</span>
    </h5>
    <hr class="hr-solid">
      <form autocomplete="off" novalidate [formGroup]="businessLocForm">
    <div class="row ">
      <div class="col-lg-6 col-md-6 col-sm-12 ">
        <div class="form-group">
          <label for="address">Address Line 1</label>
          <input type="text" (keypress)="oneSpaceHandler($event)" class="form-control" maxlength="200"
             formControlName="address" (focusout)="errorValidate()" (focus)="addressError = false; addressArError = false"
            [ngClass]="{
              'inputError': addressError && businessLocForm.controls['address'].errors
            }"
            [(ngModel)]="addressAr">
          <span *ngIf="addressError && businessLocForm.controls['address'].errors">
            <p class="inputError animated fadeIn" *ngIf="businessLocForm.controls['address'].hasError('required') && (businessLocForm.controls.address.dirty || businessLocForm.controls.address.touched)">{{requiredFields}}</p>
            <p class="inputError animated fadeIn" *ngIf="businessLocForm.controls['address'].hasError('pattern') && (businessLocForm.controls.address.dirty || businessLocForm.controls.address.touched)">Please
              enter valid information</p>
            <p class="inputError animated fadeIn" *ngIf="!businessLocForm.controls['address'].hasError('pattern') && businessLocForm.controls['address'].hasError('maxlength') && (businessLocForm.controls.address.dirty || businessLocForm.controls.address.touched)">Address
              should not exceed from 200 characters</p>
            <p class="inputError animated fadeIn" *ngIf="!businessLocForm.controls['address'].hasError('pattern') && businessLocForm.controls['address'].hasError('minlength') && (businessLocForm.controls.address.dirty || businessLocForm.controls.address.touched)">Address
              should be minimum 10 characters</p>
          </span>
        </div>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group dir-otherLanguage">
          <label for="address">العنوان السطر 1</label>
          <input type="text" class="form-control" (keypress)="oneSpaceHandler($event)" maxlength="200"
             formControlName="transAddress" (focusout)="errorValidate()" (focus)="addressError = false; addressArError = false"
            [ngClass]="{
              'inputError': addressArError && businessLocForm.controls['transAddress'].errors
            }"
            [(ngModel)]="addressAr">
          <span *ngIf="addressArError && businessLocForm.controls['transAddress'].errors">
            <p class="inputError animated fadeIn" *ngIf="businessLocForm.controls['transAddress'].hasError('required') && (businessLocForm.controls.transAddress.dirty || businessLocForm.controls.transAddress.touched)">{{requiredFieldsOthrLng}}</p>
            <p class="inputError animated fadeIn" *ngIf="businessLocForm.controls['transAddress'].hasError('pattern') && (businessLocForm.controls.transAddress.dirty || businessLocForm.controls.transAddress.touched)">يرجى
              إدخال معلومات صحيحة</p>
            <p class="inputError animated fadeIn" *ngIf="!businessLocForm.controls['transAddress'].hasError('pattern') && businessLocForm.controls['transAddress'].hasError('maxlength') && (businessLocForm.controls.transAddress.dirty || businessLocForm.controls.transAddress.touched)">يجب
              ألا يتجاوز العنوان 200 حرف</p>
            <p class="inputError animated fadeIn" *ngIf="!businessLocForm.controls['transAddress'].hasError('pattern') && businessLocForm.controls['transAddress'].hasError('minlength') && (businessLocForm.controls.transAddress.dirty || businessLocForm.controls.transAddress.touched)">يجب
              أن يكون العنوان 10 حرفًا كحد أدنى</p>
          </span>
        </div>

      </div>
    </div>
    <div class="row ">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="address">Address Line 2 (Optional)</label>
          <input type="text" (keypress)="oneSpaceHandler($event)" class="form-control" maxlength="200"
             formControlName="address2" (focusout)="errorValidate()" (focus)="addressError2 = false; addressArError2 = false"
            [ngClass]="{
                      'inputError': addressError2 && businessLocForm.controls['address2'].errors
                    }"
            [(ngModel)]="addressAr2">
          <span *ngIf="addressError2 && businessLocForm.controls['address2'].errors">
            <p class="inputError animated fadeIn" *ngIf="businessLocForm.controls['address2'].hasError('required') && (businessLocForm.controls.address2.dirty || businessLocForm.controls.address2.touched)">{{requiredFields}}</p>
            <p class="inputError animated fadeIn" *ngIf="businessLocForm.controls['address2'].hasError('pattern') && (businessLocForm.controls.address2.dirty || businessLocForm.controls.address2.touched)">Please
              enter valid information</p>
            <p class="inputError animated fadeIn" *ngIf="!businessLocForm.controls['address2'].hasError('pattern')&& businessLocForm.controls['address2'].hasError('maxlength') && (businessLocForm.controls.address2.dirty || businessLocForm.controls.address2.touched)">Address
              should not exceed from 200 characters</p>
            <p class="inputError animated fadeIn" *ngIf="!businessLocForm.controls['address2'].hasError('pattern') && businessLocForm.controls['address2'].hasError('minlength') && (businessLocForm.controls.address2.dirty || businessLocForm.controls.address2.touched)">Address
              should be minimum 10 characters</p>
          </span>
        </div>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group dir-otherLanguage">
          <label for="address">سطر العنوان 2 (اختياري)</label>
          <input type="text" class="form-control" (keypress)="oneSpaceHandler($event)" maxlength="200"
             formControlName="transAddress2" (focusout)="errorValidate()" (focus)="addressError2 = false; addressArError2 = false"
            [ngClass]="{
                      'inputError': addressArError2 && businessLocForm.controls['transAddress2'].errors
                    }"
            [(ngModel)]="addressAr2">
          <span *ngIf="addressArError2 && businessLocForm.controls['transAddress2'].errors">
            <p class="inputError animated fadeIn" *ngIf="businessLocForm.controls['transAddress2'].hasError('required') && (businessLocForm.controls.transAddress2.dirty || businessLocForm.controls.transAddress2.touched)">{{requiredFieldsOthrLng}}</p>
            <p class="inputError animated fadeIn" *ngIf="businessLocForm.controls['transAddress2'].hasError('pattern') && (businessLocForm.controls.transAddress2.dirty || businessLocForm.controls.transAddress2.touched)">يرجى
              إدخال معلومات صحيحة</p>
            <p class="inputError animated fadeIn" *ngIf="!businessLocForm.controls['transAddress2'].hasError('pattern') && businessLocForm.controls['transAddress2'].hasError('maxlength') && (businessLocForm.controls.transAddress2.dirty || businessLocForm.controls.transAddress2.touched)">يجب
              ألا يتجاوز العنوان 200 حرف</p>
            <p class="inputError animated fadeIn" *ngIf="!businessLocForm.controls['transAddress2'].hasError('pattern') && businessLocForm.controls['transAddress2'].hasError('minlength') && (businessLocForm.controls.transAddress2.dirty || businessLocForm.controls.transAddress2.touched)">يجب
              أن يكون العنوان 10 حرفًا كحد أدنى</p>
          </span>
        </div>

      </div>
    </div>
    <div class="row ">
      <div class="col-lg-6 col-md-6 col-sm-12 ">
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" (keypress)="oneSpaceHandler($event)" class="form-control" maxlength="200"
             formControlName="city" (focusout)="errorValidate()" (focus)="cityArError = false; cityError = false"
            [ngClass]="{
                          'inputError': cityError && businessLocForm.controls['city'].errors
                        }"
            [(ngModel)]="cityAr">
          <span *ngIf="cityError && businessLocForm.controls['city'].errors">
            <p class="inputError animated fadeIn" *ngIf="businessLocForm.controls['city'].hasError('required') && (businessLocForm.controls.city.dirty || businessLocForm.controls.city.touched)">{{requiredFields}}</p>
            <p class="inputError animated fadeIn" *ngIf="businessLocForm.controls['city'].hasError('pattern') && (businessLocForm.controls.city.dirty || businessLocForm.controls.city.touched)">Please
              enter valid information</p>
            <p class="inputError animated fadeIn" *ngIf="!businessLocForm.controls['city'].hasError('pattern')&& businessLocForm.controls['city'].hasError('maxlength') && (businessLocForm.controls.city.dirty || businessLocForm.controls.city.touched)">city
              should not exceed from 100 characters</p>
            <p class="inputError animated fadeIn" *ngIf="!businessLocForm.controls['city'].hasError('pattern') && businessLocForm.controls['city'].hasError('minlength') && (businessLocForm.controls.city.dirty || businessLocForm.controls.city.touched)">city
              should be minimum 3 characters</p>
          </span>
        </div>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group dir-otherLanguage">
          <label for="city">مدينة</label>
          <input type="text" class="form-control" (keypress)="oneSpaceHandler($event)" maxlength="200"
             formControlName="transCity" (focusout)="errorValidate()" (focus)="cityArError = false; cityError = false"
            [ngClass]="{
                          'inputError': cityArError && businessLocForm.controls['transCity'].errors
                        }"
            [(ngModel)]="cityAr">
          <span *ngIf="cityArError && businessLocForm.controls['transCity'].errors">
            <p class="inputError animated fadeIn" *ngIf="businessLocForm.controls['transCity'].hasError('required') && (businessLocForm.controls.transCity.dirty || businessLocForm.controls.transCity.touched)">{{requiredFieldsOthrLng}}</p>
            <p class="inputError animated fadeIn" *ngIf="businessLocForm.controls['transCity'].hasError('pattern') && (businessLocForm.controls.transCity.dirty || businessLocForm.controls.transCity.touched)">يرجى
              إدخال معلومات صحيحة</p>
            <p class="inputError animated fadeIn" *ngIf="!businessLocForm.controls['transCity'].hasError('pattern') && businessLocForm.controls['transCity'].hasError('maxlength') && (businessLocForm.controls.transCity.dirty || businessLocForm.controls.transCity.touched)">يجب
              ألا يتجاوز العنوان 100 حرف</p>
            <p class="inputError animated fadeIn" *ngIf="!businessLocForm.controls['transCity'].hasError('pattern') && businessLocForm.controls['transCity'].hasError('minlength') && (businessLocForm.controls.transCity.dirty || businessLocForm.controls.transCity.touched)">يجب
              أن يكون العنوان 3 حرفًا كحد أدنى</p>
          </span>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="Address">P.O Box</label>
          <input type="text" class="form-control" maxlength="16" (focusout)="errorValidate()" (focus)="poBoxError = false; poBoxArError = false"
            [ngClass]="{
             'inputError': poBoxError && businessLocForm.controls['poBoxNo'].errors,
             'inputErrorRemove': businessLocForm.controls['poBoxNo'].value && !poBoxError
            }"
            [(ngModel)]="poBoxAr" formControlName="poBoxNo">
          <span *ngIf="poBoxError && businessLocForm.controls['poBoxNo'].errors">
            <p class="inputError animated fadeIn" *ngIf="businessLocForm.controls['poBoxNo'].hasError('required') && (businessLocForm.controls.poBoxNo.dirty || businessLocForm.controls.poBoxNo.touched)">{{requiredFields}}</p>
            <p class="inputError animated fadeIn" *ngIf="businessLocForm.controls['poBoxNo'].hasError('pattern') && (businessLocForm.controls.poBoxNo.dirty || businessLocForm.controls.poBoxNo.touched)">Please
              enter valid information</p>
            <p class="inputError animated fadeIn" *ngIf="businessLocForm.controls['poBoxNo'].hasError('maxlength') && (businessLocForm.controls.poBoxNo.dirty || businessLocForm.controls.poBoxNo.touched)">PO
              address should not exceed from 16 characters</p>
            <p class="inputError animated fadeIn" *ngIf="businessLocForm.controls['poBoxNo'].hasError('minlength') && (businessLocForm.controls.poBoxNo.dirty || businessLocForm.controls.poBoxNo.touched)">PO
              address should be minimum 4 characters</p>
          </span>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group dir-otherLanguage">
          <label for="address">صندوق بريد</label>
          <input type="text" class="form-control" maxlength="16" (focusout)="errorValidate()" (focus)="poBoxError = false; poBoxArError = false"
            [ngClass]="{
            'inputError': poBoxArError && businessLocForm.controls['poBoxNoAr'].errors,
           'inputErrorRemove': businessLocForm.controls['poBoxNoAr'].value && !poBoxArError
          }"
            [(ngModel)]="poBoxAr" formControlName="poBoxNoAr">
          <span *ngIf="poBoxArError && businessLocForm.controls['poBoxNoAr'].errors">
            <p class="inputError animated fadeIn" *ngIf="businessLocForm.controls['poBoxNoAr'].hasError('required') && (businessLocForm.controls.poBoxNoAr.dirty || businessLocForm.controls.poBoxNoAr.touched)">{{requiredFieldsOthrLng}}</p>
            <p class="inputError animated fadeIn" *ngIf="businessLocForm.controls['poBoxNoAr'].hasError('pattern') && (businessLocForm.controls.poBoxNoAr.dirty || businessLocForm.controls.poBoxNoAr.touched)">يرجى
              إدخال معلومات صحيحة</p>
            <p class="inputError animated fadeIn" *ngIf="businessLocForm.controls['poBoxNoAr'].hasError('maxlength') && (businessLocForm.controls.poBoxNoAr.dirty || businessLocForm.controls.poBoxNoAr.touched)">يجب
              ألا يتجاوز عنوان PO من 16 حرفًا</p>
            <p class="inputError animated fadeIn" *ngIf="businessLocForm.controls['poBoxNoAr'].hasError('minlength') && (businessLocForm.controls.poBoxNoAr.dirty || businessLocForm.controls.poBoxNoAr.touched)">يجب
              أن يكون عنوان PO 4 أحرف كحد أدنى</p>
          </span>
        </div>
      </div>
    </div>
  </form>
    <div class="heading">
      <h5 class="registration-head-titles mt-5 d-flex justify-content-between">
        <span>Your Personal Information</span>
        <span class="text-right arabicLng">????????? ??????? ?????? ??</span>
      </h5>
      <small class="d-flex justify-content-between">
        <span>We require your personal information to get in touch with you</span>
        <span class="text-right">???? ????????? ??????? ?????? ?? ?????? ??? ????? ????</span>
      </small>
    </div>
    <hr class="hr-solid">
<form autocomplete="off" novalidate [formGroup]="regForm">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="leftFirstName">First Name</label>
          <input id="1" type="text" maxlength="100" (keypress)="textValidation($event)"
           [ngClass]="{'inputError': firstNameError && regForm.controls['firstName'].errors}"
            (focusout)="errorValidate()" (blur)="activeFirstName=false" (focus)="firstNameError=false; transfirstNameError=false; activeFirstName=true"
            (ngModelChange)="onModelChange(activeTransFirstName, activeFirstName, 'transLangfirstName', 'en', 'ar' ,$event)" class="form-control"
            placeholder="eg: John" formControlName="firstName" name="firstName">
          <span *ngIf="firstNameError && regForm.controls['firstName'].errors">
            <p class="inputError animated fadeIn" *ngIf="regForm.controls['firstName'].hasError('required') && (regForm.controls.firstName.dirty || regForm.controls.firstName.touched)">{{requiredFields}}</p>
            <p class="inputError animated fadeIn" *ngIf="!regForm.controls['firstName'].hasError('pattern') && regForm.controls['firstName'].hasError('minlength') && (regForm.controls.firstName.dirty || regForm.controls.firstName.touched)">First name must be at least 2 characters long</p>
            <p class="inputError animated fadeIn" *ngIf="!regForm.controls['firstName'].hasError('pattern') && regForm.controls['firstName'].hasError('maxlength') && (regForm.controls.firstName.dirty || regForm.controls.firstName.touched)">First name should not exceed from 100 characters</p>
            <p class="inputError animated fadeIn" *ngIf="regForm.controls['firstName'].hasError('pattern') && (regForm.controls.firstName.dirty || regForm.controls.firstName.touched)">Please enter valid information</p>
          </span>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group dir-otherLanguage">
          <label for="rightFirstName">الاسم الاول</label>
          <input id="2" type="text" maxlength="100" class="form-control" [ngClass]="{'inputError': transfirstNameError && regForm.controls['transLangfirstName'].errors, 'inputErrorRemove': regForm.controls['transLangfirstName'].value && !transfirstNameError}"
            (focusout)="errorValidate()" (blur)="activeTransFirstName=false" (focus)="transfirstNameError=false; firstNameError=false;  activeTransFirstName=true"
            (ngModelChange)="onTransModel(activeFirstName, activeTransFirstName, 'firstName' ,$event)" placeholder="المثال : جون"
            formControlName="transLangfirstName">
          <span *ngIf="transfirstNameError && regForm.controls['transLangfirstName'].errors">
            <p class="inputError animated fadeIn" *ngIf="regForm.controls['transLangfirstName'].hasError('required') && (regForm.controls.transLangfirstName.dirty || regForm.controls.transLangfirstName.touched)">{{requiredFieldsOthrLng}}</p>
            <p class="inputError animated fadeIn" *ngIf="!regForm.controls['transLangfirstName'].hasError('pattern') && regForm.controls['transLangfirstName'].hasError('minlength') && (regForm.controls.transLangfirstName.dirty || regForm.controls.transLangfirstName.touched)">يجب أن يتكون الاسم الأول من حرفين على الأقل</p>
            <p class="inputError animated fadeIn" *ngIf="!regForm.controls['transLangfirstName'].hasError('pattern') && regForm.controls['transLangfirstName'].hasError('maxlength') && (regForm.controls.transLangfirstName.dirty || regForm.controls.transLangfirstName.touched)">يجب ألا يتجاوز الاسم الأول 100 حرف</p>
            <p class="inputError animated fadeIn" *ngIf="regForm.controls['transLangfirstName'].hasError('pattern') && (regForm.controls.transLangfirstName.dirty || regForm.controls.transLangfirstName.touched)">يرجى إدخال معلومات صحيحة</p>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="leftLastName">Last Name</label>
          <input id="3" type="text" maxlength="100" (keypress)="textValidation($event)" [ngClass]="{'inputError': lastNameError && regForm.controls['lastName'].errors, 'inputErrorRemove': regForm.controls['lastName'].value && !lastNameError}"
            (focusout)="errorValidate()" (blur)="activeLastName=false" (focus)="lastNameError=false; translastNameError=false; activeLastName=true"
            (ngModelChange)="onModelChange(activeTransLastName, activeLastName, 'transLanglastName', 'en', 'ar' ,$event)" class="form-control"
            placeholder="eg: Smith" formControlName="lastName">
          <span *ngIf="lastNameError && regForm.controls['lastName'].errors">
            <p class="inputError animated fadeIn" *ngIf="regForm.controls['lastName'].hasError('required') && (regForm.controls.lastName.dirty || regForm.controls.lastName.touched)">{{requiredFields}}</p>
            <p class="inputError animated fadeIn" *ngIf="!regForm.controls['lastName'].hasError('pattern') && regForm.controls['lastName'].hasError('minlength') && (regForm.controls.lastName.dirty || regForm.controls.lastName.touched)">Last name must be at least 2 characters long</p>
            <p class="inputError animated fadeIn" *ngIf="!regForm.controls['lastName'].hasError('pattern') && regForm.controls['lastName'].hasError('maxlength') && (regForm.controls.lastName.dirty || regForm.controls.lastName.touched)">Last name should not exceed from 100 characters</p>
            <p class="inputError animated fadeIn" *ngIf="regForm.controls['lastName'].hasError('pattern') && (regForm.controls.lastName.dirty || regForm.controls.lastName.touched)">Please enter valid information</p>
          </span>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group dir-otherLanguage">
          <label for="leftLastName">الاسم الاخير</label>
          <input id="4" type="text" maxlength="100" class="form-control" placeholder="المثال : سمىت" [ngClass]="{'inputError': translastNameError && regForm.controls['transLanglastName'].errors, 'inputErrorRemove': regForm.controls['transLanglastName'].value && !translastNameError}"
            (focusout)="errorValidate()" (blur)="activeTransLastName=false" (focus)="lastNameError=false; translastNameError=false; activeTransLastName=true"
            (ngModelChange)="onTransModel(activeLastName, activeTransLastName, 'lastName' ,$event)" formControlName="transLanglastName">
          <span *ngIf="translastNameError && regForm.controls['transLanglastName'].errors">
            <p class="inputError animated fadeIn" *ngIf="regForm.controls['transLanglastName'].hasError('required') && (regForm.controls.transLanglastName.dirty || regForm.controls.transLanglastName.touched)">{{requiredFieldsOthrLng}}</p>
            <p class="inputError animated fadeIn" *ngIf="!regForm.controls['transLanglastName'].hasError('pattern') && regForm.controls['transLanglastName'].hasError('minlength') && (regForm.controls.transLanglastName.dirty || regForm.controls.transLanglastName.touched)">يجب ألا يقل الاسم الأخير عن 2 حرف</p>
            <p class="inputError animated fadeIn" *ngIf="!regForm.controls['transLanglastName'].hasError('pattern') && regForm.controls['transLanglastName'].hasError('maxlength') && (regForm.controls.transLanglastName.dirty || regForm.controls.transLanglastName.touched)">يجب ألا يتجاوز الاسم الأخير 100 حرف</p>
            <p class="inputError animated fadeIn" *ngIf="regForm.controls['transLanglastName'].hasError('pattern') && (regForm.controls.transLanglastName.dirty || regForm.controls.transLanglastName.touched)">يرجى إدخال معلومات صحيحة</p>
          </span>
        </div>
      </div>
    </div>
    
    <!-- <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="lefttransLangjobTitle">{{lblFormjobTitleBaseLang}}</label>
          <input id="5" type="text" maxlength="100" class="form-control" (keypress)="textValidation($event)" placeholder="eg: Manager"
            [ngClass]="{'inputError': jobTitleError && regForm.controls['jobTitle'].errors, 'inputErrorRemove': regForm.controls['jobTitle'].value && !jobTitleError}"
            formControlName="jobTitle" [(ngModel)]="selectedjobTitle" [ngbTypeahead]="jobSearch" [resultTemplate]="jt" [inputFormatter]="formatterjob"
            formControlName="jobTitle" name="jobTitle" (focusout)="errorValidate(); onModeljobtitle(activeTransjobTitle, !activejobTitle, 'transLangjobTitle', 'en', 'ar' ,selectedjobTitle)"
            (focus)="transjobTitleError=false; jobTitleError=false; activejobTitle=true; inputValidate(5)" (blur)="activejobTitle=false">
          <ng-template #jt let-r="result">
            <ngb-highlight [result]="r.baseLanguage"></ngb-highlight>
          </ng-template>
          <span *ngIf="jobTitleError && regForm.controls['jobTitle'].errors">
            <p class="inputError animated fadeIn" *ngIf="regForm.controls['jobTitle'].hasError('required') && (regForm.controls.jobTitle.dirty || regForm.controls.jobTitle.touched)">{{requiredFields}}</p>
            <p class="inputError animated fadeIn" *ngIf="!regForm.controls['jobTitle'].hasError('pattern') && regForm.controls['jobTitle'].hasError('minlength') && (regForm.controls.jobTitle.dirty || regForm.controls.jobTitle.touched)">Job title must be at least 3 characters long</p>
            <p class="inputError animated fadeIn" *ngIf="!regForm.controls['jobTitle'].hasError('pattern') && regForm.controls['jobTitle'].hasError('maxlength') && (regForm.controls.jobTitle.dirty || regForm.controls.jobTitle.touched)">Job title should not exceed from 100 characters</p>
            <p class="inputError animated fadeIn" *ngIf="regForm.controls['jobTitle'].hasError('pattern') && (regForm.controls.jobTitle.dirty || regForm.controls.jobTitle.touched)">Please enter valid information</p>
          </span>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="showTranslatedLangSide">
        <div class="form-group dir-otherLanguage">
          <label for="leftJobTitle">{{lblFormjobTitleOtherLang}}</label>
          <input id="6" type="text" maxlength="100" class="form-control" [(ngModel)]="selectedjobTitle" placeholder="المثال : مدير"
            [ngbTypeahead]="jobSearchOtherLng" [resultTemplate]="jto" placement="right" [inputFormatter]="formatterjobOtherLng"
            [ngClass]="{'inputError': transjobTitleError && regForm.controls['transLangjobTitle'].errors, 'inputErrorRemove': regForm.controls['transLangjobTitle'].value && !transjobTitleError}"
            (focusout)="errorValidate(); onTransModeljobTitle(activejobTitle, !activeTransjobTitle, 'jobTitle' ,selectedjobTitle)"
            formControlName="transLangjobTitle" name="transLangjobTitle" (focus)="transjobTitleError=false; jobTitleError=false; activeTransjobTitle=true; inputValidate(6)"
            (blur)="activeTransjobTitle=false">
          <ng-template #jto let-r="result">
            <ngb-highlight [result]="r.otherLanguage"></ngb-highlight>
          </ng-template>
          <span *ngIf="transjobTitleError && regForm.controls['transLangjobTitle'].errors">
            <p class="inputError animated fadeIn" *ngIf="regForm.controls['transLangjobTitle'].hasError('required') && (regForm.controls.transLangjobTitle.dirty || regForm.controls.transLangjobTitle.touched)">{{requiredFieldsOthrLng}}</p>
            <p class="inputError animated fadeIn" *ngIf="!regForm.controls['transLangjobTitle'].hasError('pattern') && regForm.controls['transLangjobTitle'].hasError('minlength') && (regForm.controls.transLangjobTitle.dirty || regForm.controls.transLangjobTitle.touched)">يجب أن يكون عنوان الوظيفة 3 أحرف على الأقل</p>
            <p class="inputError animated fadeIn" *ngIf="!regForm.controls['transLangjobTitle'].hasError('pattern') && regForm.controls['transLangjobTitle'].hasError('maxlength') && (regForm.controls.transLangjobTitle.dirty || regForm.controls.transLangjobTitle.touched)">يجب ألا يتجاوز عنوان الوظيفة 100 حرف</p>
            <p class="inputError animated fadeIn" *ngIf="regForm.controls['transLangjobTitle'].hasError('pattern') && (regForm.controls.transLangjobTitle.dirty || regForm.controls.transLangjobTitle.touched)">يرجى إدخال معلومات صحيحة</p>
          </span>
        </div>
      </div>
    
    </div> -->


  </form>
  <div class="row mt-5">
    <div class="col">
      <button class="btn btn-primary btn-register hvr-sweep-to-right pull-right" type="submit">
        <span>Register</span>
        <span> / تسجيل</span>
      </button>
    </div>
  </div>
</section>