@import '../../../../../../assets/scss/_variables';
.on-boarding {
h5 {
        .dir-otherLanguage {
            font-family: $font-NeoSansArabic-Medium;
        }
    }
    .service-btn {
        border-radius: 4px;
        border: 1px solid $input-border;
        background: $white-color;
        height: 60px;
        position: relative;
        span:nth-child(2) {
            font-family: $font-NeoSansArabic-Regular;
        }
        &.active {
            box-shadow: 0px 5px 20px 0px rgba(0, 162, 223, 0.15) !important;
            border-radius: 4px;
            border: 1px solid $primary-color !important;
            background: $white-color !important;
            &:before {
                content: " ";
                background: url('../../../../../../assets/images/corner-selection.png');
                width: 44px;
                height: 44px;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
    .countryBox {
        position: relative;
        .imgLeft {
            position: absolute;
            top: 36%;
            left: 15px
        }
        .imgRight {
            @extend .imgLeft;
            left: unset;
            right: 10px;
            top: 65%;
        }
        input {
            .ng-untouched {
                padding-left: .75rem !important;
            }
            &[ng-reflect-model="[object Object]"] {
                padding-left: 40px;
            }
        }
            ngb-typeahead-window {
                .dropdown-menu[role="listbox"] {
                    .dropdown-item {
                        &.active,
                        &:active {
                            background-color: #3f5165; 
                        }
                    }
                }
            }
    }
    .dir-otherLanguage {
        .countryBox {
            input {
                &[ng-reflect-model="[object Object]"] {
                    padding-right: 40px;
                }
            }
            ngb-typeahead-window {
                &.dropdown-menu {
                    left: auto !important;
                    top: auto !important;
                }
            }
        }
    }
}