@import '../../../../../../assets/scss/_variables';
.on-boarding {
    background: $right-side-background;
    .service-btn {
        border-radius: 4px;
        border: 1px solid $input-border;
        background: $white-color;
        height: 60px;
        position: relative;
        span:nth-child(2) {
            font-family: $font-NeoSansArabic-Regular;
        }
        &.active {
            box-shadow: 0px 5px 20px 0px rgba(0, 162, 223, 0.15) !important;
            border-radius: 4px;
            border: 1px solid $primary-color !important;
            background: $white-color !important;
            &:before {
                content: " ";
                background: url('../../../../../../assets/images/corner-selection.png');
                width: 44px;
                height: 44px;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
    h5 {
        .dir-otherLanguage {
            font-family: $font-NeoSansArabic-Medium;
        }
    }
}