<section id="registration">

  <div class="row">
    <div class="col-xl-3 col-md-12 col-sm-12">
      <div class="left-sidebar ">

        <div class="row">
          <div class="col">
            <div class="progressbar">
              <h3>Your Progress </h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="sidebar-nav">
              <button type="button" class="btn btn-primary btn-lg"> <img class="logo" src="../../../assets/images/hashmove-logo.png"> My Profile</button>
                <button type="button" class="btn btn-primary btn-lg">Organization</button>
                <button type="button" class="btn btn-primary btn-lg">Setup</button>
            </div>
          </div>
        </div>

        <!-- customer support -->
        <div class="support">
          <div class="col-10 pull-right">
            <div class="card border-0 pull-right">
              <div class="card-body">
                <h5 class="card-title">Customer Support</h5>
                <ul class="list-group list-group-flush ">
                  <li class="list-group-item pl-0">
                    <small>Helpline</small>
                    <p>+97 141234567</p>
                    <small>Email</small>
                    <p>support@hashmove.com</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- customer support -->
      </div>







    </div>
  </div>




</section>