<section id="registration">
  <div class="row no-margin">
    <div class="col-md-3">
      hello
    </div>
    <div class="col-md-9">
      <div class="container">
        <div class="select-city">
          <!-- <img *ngIf="selectedRegion && selectedRegion.flag" [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + selectedRegion.flag" class="mr-1 prepend-flag">
          <input id="typeahead" type="text" class="form-control" [(ngModel)]="selectedRegion" [ngbTypeahead]="search"
            [resultTemplate]="rt" [inputFormatter]="formatter" placeholder="Select Region" />
          <ng-template #rt let-r="result">
            <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['flag']" class="mr-1">
            <ngb-highlight [result]="r.name"></ngb-highlight>
          </ng-template> -->
          <input type="text" placeholder="Select Country" autocorrect="off" autocapitalize="off" class="form-control" 
          spellcheck="off" #search>
        </div>
        <agm-map [zoom]="zoomlevel" [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>

      </div>
    </div>
  </div>
</section>
