@import '../../../../../assets/scss/_variables'; // Local Variables
$left-nav-icon-width: 20px;
$left-nav-icon-height:20px;

.manageRates {
  .navbar {
    margin-bottom: 48px;

    ul {
      width: 100%;

      li {
        width: 25%;
        box-shadow: 0px 1px 0px 0px #e5e5e5;

        .nav-link {
          color: rgba(115, 133, 147, 0.6);
          font-size: $font-size-large;
          font-weight: $font-weight-mid;
          font-family: $font-proxima;
          text-align: center;

          img {
            width: $left-nav-icon-width;
            height: $left-nav-icon-height;
            margin-right: 10px;
            vertical-align: sub;
          }

          &.active {
            .menu-text {
              color: $primary-color;
            }

            box-shadow: 0px 2px 0px 0px #00a2df;
          }

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}