<section class="manageRates">
  <h2 class="mb-5">Manage Rates</h2>
  <nav class="navbar navbar-light p-0">
    <ul class="nav">
      <li>
        <a class="nav-link" href="javascript:;" (click)="tonavigate('/provider/manage-rates/sea')" [ngClass]="getClass('/provider/manage-rates/sea')">
          <img alt="icon_sea" src="../../../../../assets/images/icons/icons_ship_blue.svg">
          <span class="menu-text">
            SEA FREIGHT
          </span>
        </a>
      </li>
      <li>
        <a class="nav-link" href="javascript:;" (click)="tonavigate('/provider/manage-rates/air')" [ngClass]="getClass('/provider/manage-rates/air')">
          <img alt="icon_air" src="../../../../../assets/images/icons/Icons_Cargo Plane_blue.svg">
          <span class="menu-text">
            AIR FREIGHT
          </span>
        </a>
      </li>
      <li>
        <a class="nav-link" href="javascript:;" (click)="tonavigate('/provider/manage-rates/ground')" [ngClass]="getClass('/provider/manage-rates/ground')">
          <img alt="icon_ground" src="../../../../../assets/images/icons/Icons_Cargo Truck_blue.svg">
          <span class="menu-text">
            GROUND TRANSPORT
          </span>
        </a>
      </li>
      <li>
        <a class="nav-link" href="javascript:;" (click)="tonavigate('/provider/manage-rates/warehouse')" [ngClass]="getClass('/provider/manage-rates/warehouse')">
          <img alt="icon_warehouse" src="../../../../../assets/images/icons/icon_warehouse_blue.svg">
          <span class="menu-text">
            WAREHOUSING
          </span>
        </a>
      </li>
    </ul>
  </nav>
  <section class="ratesPages mt-5">
    <router-outlet></router-outlet>
  </section>
</section>
  