@import '../../../../../assets/scss/_variables'; // Local Variables
$left-nav-icon-width: 20px;
$left-nav-icon-height:20px;
.manageRates {
    .navbar {
        ul {
            width: 100%;
            border-bottom: 1px solid $secondary-grey;
            li {
                width: 25%;
                .nav-link {
                    color: $secondary-grey;
                    font-size: $font-size-large;
                    font-weight: $font-weight-mid;
                    font-family: $font-proxima;
                    img {
                        width: $left-nav-icon-width;
                        height: $left-nav-icon-height;
                        margin-right: 10px;
                        vertical-align: sub;
                    }
                    &.active {
                        .menu-text {
                            color: $primary-color;
                        }
                        border-bottom: 2px solid $primary-color
                    }
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}