  <div class="sidebar ">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            </a>
      <!-- <div class="col">
        <div class="progressbar">
          <h3>Your Progress </h3>
        </div>
      </div> -->
    </div>

    <!-- <div class="row">
      <div class="col">
        <div class="sidebar-nav">
          <button type="button" class="btn btn-primary btn-lg">
            <img class="logo" src=""> My Profile</button>
          <button type="button" class="btn btn-primary btn-lg">Organization</button>
          <button type="button" class="btn btn-primary btn-lg">Setup</button>
        </div>
      </div>
    </div> -->
<!-- 
    <div class="support">
      <div class="col-10 pull-right">
        <div class="card border-0 pull-right">
          <div class="card-body">
            <h5 class="card-title">Customer Support</h5>
            <ul class="list-group list-group-flush ">
              <li class="list-group-item pl-0">
                <small>Helpline</small>
                <p>+97 141234567</p>
                <small>Email</small>
                <p>support@hashmove.com</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
  </div>