<section class="business-profile">

  <h2>John, Add Your Business Profile </h2>
  <p>It takes less than 60 seconds to add your business and get started </p>

  
  <label for="expiry-date">Expiry Date</label>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-3">
          <select id="inputState" class="form-control" placeholder="MM">
            <option selected> DD</option>
            <option>01</option>
          </select>
        </div>
        <div class="col-4">
          <select id="inputState" class="form-control">
            <option selected>MM </option>
            <option>JAN</option>
          </select>
        </div>
        <div class="col-5">
          <select id="inputState" class="form-control">
            <option selected>YYYY</option>
            <option>1999</option>
          </select>
        </div>
      </div>

    </div>
  </div>

  <h5 class="d-flex justify-content-between">
    <span>Key Information</span>
    <span>معلومات أساسية</span>
  </h5>
  <hr class="hr-solid">
  <form>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="Trade-License">Trade License No</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-6">
          <div class="form-group dir-otherLanguage">
            <label for="trade-license">رخصة تجارية</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>

      <div class="row"> 
        <div class="col-6">
            <div class="form-group">  
                <div class="row">
                  <div class="col-12">
                    <label for="trade-license">Issue Date</label>
                    <div class="row">
                      <div class="col-3">
                        <select id="inputState" class="form-control" placeholder="MM">
                          <option selected> DD</option>
                          <option>01</option>
                        </select>
                      </div>
                      <div class="col-4">
                        <select id="inputState" class="form-control" placeholder="MM">
                          <option selected> MM</option>
                          <option>JAN</option>
                        </select>
                      </div>
                      <div class="col-5">
                        <select id="inputState" class="form-control">
                          <option selected>YYYY</option>
                          <option>1999</option>
                        </select>
                      </div>
                    </div>
              
                  </div>
                </div>
              </div>   
        </div>
        <div class="col-6">
            <div class="form-group"> 
              </div>
            </div>  
     
      </div>

      <label for="trade-license">VAT No</label>
      <input type="text" class="form-control">
      <label for="trade-license">Trade License </label>
      <br>
      <small>Document must be valid for XX months </small>

      <div class="col  dir-rtl">
        <label for="Issue-Date">الرخصة التجارية</label>
        <input type="text" class="form-control">
        <label for="trade-license">تاريخ الاصدار</label>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-3">
                <select id="inputState" class="form-control" placeholder="MM">
                  <option selected> DD</option>
                  <option>01</option>
                </select>
              </div>
              <div class="col-4">
                <select id="issue-date" class="form-control">
                  <option selected>MM </option>
                  <option>JAN</option>
                </select>
              </div>
              <div class="col-5">
                <select id="issue-date" class="form-control">
                  <option selected>YYYY</option>
                  <option>1999</option>
                </select>
              </div>
            </div>

          </div>
        </div>
        <label for="Expiry-date">تاريخ الانتهاء</label>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-3">
                <select id="inputState" class="form-control" placeholder="MM">
                  <option selected> DD</option>
                  <option>01</option>
                </select>
              </div>
              <div class="col-4">
                <select id="inputState" class="form-control">
                  <option selected>MM </option>
                  <option>JAN</option>
                </select>
              </div>
              <div class="col-5">
                <select id="inputState" class="form-control">
                  <option selected>YYYY</option>
                  <option>1999</option>
                </select>
              </div>
            </div>

          </div>
        </div>

        <label for="vat-no">ضريبة القيمة المضافة</label>

        <br>
        <small>Document must be valid for XX months </small>
      </div>

    </div>
  </form>

  <div class="trade-license-box">
    <div class="col-12">
      <img src="../../../assets/images/icons/manager-icon.png">
      <p> Drag here or browse to upload</p>
      <small> (supported types: pdf,jpeg,png,Maximum size per document: 4 MB) </small>
    </div>

  </div>

  <h5 class="d-flex justify-content-between">
    <span> Company Activities </span>
    <span> أنشطة الشركة</span>
  </h5>
  <small> Select the activities listed on your trade license </small>

  <hr class="hr-solid">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div #selectService class="service-btn text-center d-flex flex-column justify-content-center pointer active">
        <span>Freight Forwarder </span>
        <span>وكيل الشحن</span>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div #selectService class="service-btn text-center d-flex flex-column justify-content-center pointer">
        <span>LCL Consolidator </span>
        <span>LCL الموحد</span>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div #selectService class="service-btn text-center d-flex flex-column justify-content-center pointer">
        <span>Trucking / Haullers</span>
        <span>النقل بالشاحنات</span>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div #selectService class="service-btn text-center d-flex flex-column justify-content-center pointer">
        <span>Warehousing</span>
        <span>التخزين</span>
      </div>
    </div>
  </div>

  <h5 class="d-flex justify-content-between">
    <span> Business Location</span>
    <span> موقع العمل</span>
  </h5>
  <hr class="hr-solid">

  <div class="business-map">
    <div class="col-12">

    </div>
  </div>

  <form>
    <div class="row form-group">
      <div class="col-6">
        <label for="address">Address</label>
        <input type="text" class="form-control">
        <div class="row">
          <div class="col-6">
            <label for="address">P.0 Box</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-6  dir-rtl">
        <label for="address">عنوان</label>
        <input type="text" class="form-control">
        <div class="row">
          <div class="col-6">
            <label for="address">صندوق بريد</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>

  </form>


  <h5 class="d-flex justify-content-between">
    <span> Business Information</span>
    <span> معلومات العمل</span>
  </h5>

  <hr class="hr-solid">

  <form>
    <div class="row form-group">
      <div class="col-12">
        <label for="address">Upload Logo</label>
        <div class="upload-image">

          <img src="../../../assets/images/icons/manager-icon.png">
          <p> Drag here or browse to upload</p>

        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-6">
        <label for="address">Organization Name</label>
        <input type="text" class="form-control">

        <div class="form-group">
          <label for="exampleFormControlSelect1">Organization Type </label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>please select</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

      </div>

      <div class="col-6  dir-rtl">
        <label for="address">اسم المنظمة</label>
        <input type="text" class="form-control">

        <div class="form-group">
          <label for="exampleFormControlSelect1">نوع المنظمة</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>please select </option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

      </div>
    </div>
  </form>


  <h5 class="d-flex justify-content-between">
    <span>Contact Details</span>
    <span> بيانات المتصل</span>
  </h5>
  <hr class="hr-solid">
  <form class="business-profile-contacts">

    <div class="row form-group">
      <div class="col-6">

        <label for="">Telephone</label>
        <div class="select-number">
          <div class="input-group-prepend">
            <div class="contanct-dropdown">
              <div class="pointer phone" id="phoneCode" style="max-height: 28rem;">
                <div class="d-inline-block" style="width:20px;height:20px;">
                  <img src="../../../assets/images/flags/4x3/ae.svg" alt="flags" class="img-responsive" style="max-width:100%; max-height:100%;">
                  <div class="animated fadeIn country-section">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <div class="d-inline-block" style="width:20px;height:20px;">
                        </div>
                        <span> +971</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <input type="text" class="form-control control-phone" maxlength="12" placeholder="123456789">
          </div>
        </div>

      </div>



      <div class="col-6 dir-rtl">
        <label for="">رقم هاتف</label>
        <div class="select-number">
          <div class="input-group-prepend">
            <div class="contanct-dropdown">
              <div class="pointer phone" id="phoneCode" style="max-height: 28rem;">
                <div class="d-inline-block" style="width:20px;height:20px;">
                  <img src="../../../assets/images/flags/4x3/ae.svg" alt="flags" class="img-responsive" style="max-width:100%; max-height:100%;">
                </div>
              </div>
            </div>
            <input type="text" class="form-control control-phone" maxlength="12" placeholder="123456789">
          </div>
        </div>

      </div>
    </div>


    <div class="row form-group">
      <div class="col-6">

        <label for="">Fax</label>
        <div class="select-number">
          <div class="input-group-prepend">
            <div class="contanct-dropdown">
              <div class="pointer phone" id="phoneCode" style="max-height: 28rem;">
                <div class="d-inline-block" style="width:20px;height:20px;">
                  <img src="../../../assets/images/flags/4x3/ae.svg" alt="flags" class="img-responsive" style="max-width:100%; max-height:100%;">
                  <div class="animated fadeIn country-section">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <div class="d-inline-block" style="width:20px;height:20px;">
                        </div>
                        <span> +971</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <input type="text" class="form-control control-phone" maxlength="12" placeholder="123456789">
          </div>
        </div>
        <div class="social-accounts">
          <label for="">Social Media Accounts</label>
          <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1">
              <option>website </option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="info_text">
            <p>
              <img src="../../../assets/images/icons/icon_add.svg" alt="icons"> Add More Accounts / إضافة المزيد من الحساب </p>
          </div>
        </div>
      </div>



      <div class="col-6 dir-rtl">
        <label for="">رقم الفاكس</label>
        <div class="select-number">
          <div class="input-group-prepend">
            <div class="contanct-dropdown">
              <div class="pointer phone" id="phoneCode" style="max-height: 28rem;">
                <div class="d-inline-block" style="width:20px;height:20px;">
                  <img src="../../../assets/images/flags/4x3/ae.svg" alt="flags" class="img-responsive" style="max-width:100%; max-height:100%;">
                </div>
              </div>
            </div>
            <input type="text" class="form-control control-phone" maxlength="12" placeholder="123456789">
          </div>
        </div>


        <label for="">حساب وسائل الاعلام الاجتماعية</label>
        <div class="form-group">

          <select class="form-control" id="exampleFormControlSelect1">
            <option>website </option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>


      </div>
    </div>



    <div class="contact-btn  mt-5">
      <a href="javascript:;" class="btn btn-primary btn-register hvr-sweep-to-right pull-right">NEXT / التالى</a>
    </div>


  </form>

</section>