
section#business-detail{
.business-profile {

    h2{
        margin-top: 3rem;
    font-weight: 700;
    font-family: proxima,sans-serif;
    }
    p{
        margin-bottom:2.5rem;
    }
    input{
        border:0;
        height: 2.9rem;
    }

    select {
        border:0;
        height: 2.9rem;

    }
    label{
        margin-top:0.5rem;
    }


    .upload-image{
     
        width: 180px;
        height: 150px;
        border: 1px solid #e1d8d8;
    }
    .trade-license-box{

        width: 100%;
        height: 200px;
        border: 1px solid #e1d8d8;
        margin-bottom:1rem;
    }


}
}