  <section class="business-profile">
    <h2>John, Add Your Business Profile </h2>
    <p>It takes less than 60 seconds to add your business and get started </p>

    <h5 class="d-flex justify-content-between">
      <span>Key Information</span>
      <span>معلومات أساسية</span>
     </h5>
    <hr class="hr-solid">
    <form>
      <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="Trade-License">Trade License No</label>
                <input type="text" class="form-control">
              </div>
        </div>
        <div class="col-6">
            <div class="form-group dir-otherLanguage">
                <label for="Issue-Date">الرخصة التجارية</label>
                <input type="text" class="form-control">
              </div>
        </div>
      </div>
      <div class="row">
          <div class="col-6">
              <div class="form-group">
                  <label for="Trade-License">Issue Date</label>
                  <div class="row">
                  <div class="col-3">
                      <select id="inputState" class="form-control" placeholder="DD">
                        <option selected>DD</option>
                        <option>MON</option>
                      </select>
                    </div>   
                  <div class="col-4">
                        <select id="inputState" class="form-control" placeholder="MM">
                          <option selected> MM</option>
                          <option>JAN</option>
                        </select>
                      </div>
                      <div class="col-5">
                        <select id="inputState" class="form-control">
                          <option selected>YYYY</option>
                          <option>1999</option>
                        </select>
                      </div>
                  </div>
                        
            </div>
          </div>
          <div class="col-6">
                  <div class="form-group dir-otherLanguage">
                      <label for="Trade-License">تاريخ الاصدار</label>
                      <div class="row">
                      <div class="col-3">
                          <select id="inputState" class="form-control" placeholder="DD">
                            <option selected>DD</option>
                            <option>MON</option>
                          </select>
                        </div>   
                      <div class="col-4">
                            <select id="inputState" class="form-control" placeholder="MM">
                              <option selected> MM</option>
                              <option>JAN</option>
                            </select>
                          </div>
                          <div class="col-5">
                            <select id="inputState" class="form-control">
                              <option selected>YYYY</option>
                              <option>1999</option>
                            </select>
                          </div>
                      </div>
                            
                </div>
          </div>
      </div>
      <div class="row">
          <div class="col-6">
              <div class="form-group">
                  <label for="Trade-License">Expiry Date</label>
                  <div class="row">
                  <div class="col-3">
                      <select id="inputState" class="form-control" placeholder="DD">
                        <option selected>DD</option>
                        <option>MON</option>
                      </select>
                    </div>   
                  <div class="col-4">
                        <select id="inputState" class="form-control" placeholder="MM">
                          <option selected> MM</option>
                          <option>JAN</option>
                        </select>
                      </div>
                      <div class="col-5">
                        <select id="inputState" class="form-control">
                          <option selected>YYYY</option>
                          <option>1999</option>
                        </select>
                      </div>
                  </div>
                        
            </div>
          </div>
          <div class="col-6">
                  <div class="form-group dir-otherLanguage">
                      <label for="Trade-License">تاريخ الانتهاء</label>
                      <div class="row">
                      <div class="col-3">
                          <select id="inputState" class="form-control" placeholder="DD">
                            <option selected>DD</option>
                            <option>MON</option>
                          </select>
                        </div>   
                      <div class="col-4">
                            <select id="inputState" class="form-control" placeholder="MM">
                              <option selected> MM</option>
                              <option>JAN</option>
                            </select>
                          </div>
                          <div class="col-5">
                            <select id="inputState" class="form-control">
                              <option selected>YYYY</option>
                              <option>1999</option>
                            </select>
                          </div>
                      </div>
                            
                </div>
          </div>
      </div>
      <div class="row">
          <div class="col-6">
              <div class="form-group">
                  <label for="trade-license">VAT No</label>
                   <input type="text" class="form-control">
              </div>
          </div>
          <div class="col-6">
              <div class="form-group dir-otherLanguage">
                  <label for="vat-no">ضريبة القيمة المضافة</label>
                  <input type="text" class="form-control">
                </div>
          </div>
        </div>
      <div class="trade-license-box">
              <label for="trade-license" class="m-0"> Trade License </label>
              <br>
              <small>Document must be valid for XX months </small>
              <div class="documentInfo">
                  <img src="../../../assets/images/icons/manager-icon.png">
                  <p> Drag here or browse to upload</p>
                  <small> (supported types: pdf,jpeg,png,Maximum size per document: 4 MB) </small>
              </div>
      </div>
    </form>
    

    <h5 class="m-0"> Company Activities</h5>
    <small> Select the activities listed on your trade license  </small>
    <hr class="hr-solid">
        <div class="row mb-2">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
              <div #selectService class="service-btn text-center d-flex flex-column justify-content-center pointer active">
                <span>Freight Forwarder </span>
                <span>وكيل الشحن</span>
              </div>
            </div>  
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
              <div #selectService class="service-btn text-center d-flex flex-column justify-content-center pointer">
                <span>LCL Consolidator </span>
                <span>LCL الموحد</span>
              </div>
            </div>  
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
              <div #selectService class="service-btn text-center d-flex flex-column justify-content-center pointer">
                <span>Trucking / Haullers</span>
                <span>النقل بالشاحنات</span>
              </div>
            </div>  
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
              <div #selectService class="service-btn text-center d-flex flex-column justify-content-center pointer">
                <span>Warehousing</span>
                <span>التخزين</span>
              </div>
            </div>  
          </div>
  
    <h5> Business Location</h5>
    <hr class="hr-solid">

    <div class="business-map">
      <div class="col-12">

      </div>
    </div>

    <form>
      <div class="row ">
          <div class="col-6">
        
       <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control">
       </div>
       </div>
       <div class="col-6">
         <div class="form-group dir-otherLanguage">
         
          <label for="address">عنوان</label>
          <input type="text" class="form-control">
          </div>
          </div>
          </div>
         
          <div class="row">
            <div class="col-6">
              <div class="row">
              <div class="col-5">
                  <div class="form-group">
                      <label for="address">P.0 Box</label>
                      <input type="text" class="form-control">
                      </div>
              </div>
            </div>
            </div>
            <div class="col-6">
              <div class="row row justify-content-end">
                <div class="col-5">
                    <div class="form-group dir-otherLanguage">
                        <label for="address">صندوق بريد</label>
                        <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                </div>
          </div>
    </form>

    <h5> Business Information</h5>
    <hr class="hr-solid">

    <form>
      <div class="row form-group">
        <div class="col-12">
          <label for="address">Upload Logo</label>
          <div class="upload-image">

            <img src="../../../assets/images/icons/manager-icon.png">
            <p> Drag here or browse to upload</p>

          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-6">
          <label for="address">Organization Name</label>
          <input type="text" class="form-control">

          <div class="form-group">
            <label for="exampleFormControlSelect1">Organization Type </label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>please select</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

        </div>

        <div class="col-6  dir-rtl">
          <label for="address">اسم المنظمة</label>
          <input type="text" class="form-control">

          <div class="form-group">
            <label for="exampleFormControlSelect1">نوع المنظمة</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>please select </option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

        </div>
      </div>
    </form>


    <h5> Contact Details</h5>
    <hr class="hr-solid">
    <form class="business-profile-contacts">

      <div class="row form-group">
        <div class="col-6">

          <label for="">Telephone</label>
          <div class="select-number">
            <div class="input-group-prepend">
              <div class="contanct-dropdown">
                <div class="pointer phone" id="phoneCode" style="max-height: 28rem;">
                  <div class="d-inline-block" style="width:20px;height:20px;">
                    <img src="../../../assets/images/flags/4x3/ae.svg" alt="flags" class="img-responsive" style="max-width:100%; max-height:100%;">
                    <div class="animated fadeIn country-section">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <div class="d-inline-block" style="width:20px;height:20px;">
                          </div>
                          <span> +971</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <input type="text" class="form-control control-phone" maxlength="12" placeholder="123456789">
            </div>
          </div>

        </div>



        <div class="col-6 dir-rtl">
          <label for="">رقم هاتف</label>
          <div class="select-number">
            <div class="input-group-prepend">
              <div class="contanct-dropdown">
                <div class="pointer phone" id="phoneCode" style="max-height: 28rem;">
                  <div class="d-inline-block" style="width:20px;height:20px;">
                    <img src="../../../assets/images/flags/4x3/ae.svg" alt="flags" class="img-responsive" style="max-width:100%; max-height:100%;">
                  </div>
                </div>
              </div>
              <input type="text" class="form-control control-phone" maxlength="12" placeholder="123456789">
            </div>
          </div>

        </div>
      </div>


      <div class="row form-group">
        <div class="col-6">

          <label for="">Fax</label>
          <div class="select-number">
            <div class="input-group-prepend">
              <div class="contanct-dropdown">
                <div class="pointer phone" id="phoneCode" style="max-height: 28rem;">
                  <div class="d-inline-block" style="width:20px;height:20px;">
                    <img src="../../../assets/images/flags/4x3/ae.svg" alt="flags" class="img-responsive" style="max-width:100%; max-height:100%;">
                    <div class="animated fadeIn country-section">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <div class="d-inline-block" style="width:20px;height:20px;">
                          </div>
                          <span> +971</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <input type="text" class="form-control control-phone" maxlength="12" placeholder="123456789">
            </div>
          </div>
          <div class="social-accounts">
            <label for="">Social Media Accounts</label>
            <div class="form-group">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>website </option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <p> Add More Accounts / إضافة المزيد من الحساب </p>
          </div>
        </div>



        <div class="col-6 dir-rtl">
          <label for="">رقم الفاكس</label>
          <div class="select-number">
            <div class="input-group-prepend">
              <div class="contanct-dropdown">
                <div class="pointer phone" id="phoneCode" style="max-height: 28rem;">
                  <div class="d-inline-block" style="width:20px;height:20px;">
                    <img src="../../../assets/images/flags/4x3/ae.svg" alt="flags" class="img-responsive" style="max-width:100%; max-height:100%;">
                  </div>
                </div>
              </div>
              <input type="text" class="form-control control-phone" maxlength="12" placeholder="123456789">
            </div>
          </div>


          <label for="">حساب وسائل الاعلام الاجتماعية</label>
          <div class="form-group">

            <select class="form-control" id="exampleFormControlSelect1">
              <option>website </option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>


        </div>
      </div>



      <div class="contact-btn  mt-5">
        <a href="javascript:;" class="btn btn-primary btn-register hvr-sweep-to-right pull-right">NEXT / التالى</a>
      </div>


    </form>

  </section>
