@import '../../../../../../../assets/scss/_variables';
.business-profile {
	.arabicLng {
		font-family: $font-NeoSansArabic-Regular;
	}
	h5 {
		margin-top: 1.83rem;
		span:nth-child(2) {
			font-family: $font-NeoSansArabic-Medium;
		}
	}
	.service-btn {
		border-radius: 4px;
		border: 1px solid $input-border;
		background: $white-color;
		height: 60px;
		position: relative;
		span:nth-child(2) {
			font-family: $font-NeoSansArabic-Regular;
		}
		&.active {
			box-shadow: 0px 5px 20px 0px rgba(0, 162, 223, 0.15) !important;
			border-radius: 4px;
			border: 1px solid $primary-color !important;
			background: $white-color !important;
			&:before {
				content: " ";
				background: url('../../../../../../../assets/images/corner-selection.png');
				width: 44px;
				height: 44px;
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
	.business-map {
		.map-box {
			position: relative;
			.searchAddress {
				position: absolute;
				left: 15px;
				top: 15px;
				max-width: 410px;
				border-radius: 4px;
				box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
				z-index: 1;
				height: 48px;
			}
			agm-map {
				height: 350px;
			}
		}
	}
	.add-more {
		a {
			font-size: 0.875rem;
			font-family: $font-proxima;
			font-weight: $font-weight-mid;
			color: $secondary-text-color;
			&:hover {
				text-decoration: none
			}
			span:last-child {
				font-family: $font-NeoSansArabic-Regular;
			}
		}
	}
	form {
		.dir-otherLanguage {
			.row {
				clear: both;
			}
		}
		.documentInfo {
			margin-bottom: 2.8rem;
			.uploaded-file {
				border: 1px solid $secondary-color;
				border-radius: 3px;
				.fileDesc {
					a {
						text-decoration: none;
						.fileIcon {
							width: 35px;
							height: 35px;
						}
						span {
							color: $text-color-default;
						}
					}
				}
			}
			.file-uploader {
				border: 1px dashed #e1d8d8;
				border-radius: 4px;
				.drag-support {
					color: $text-grey;
					font-size: $font-size-medium;
					position: relative;
					top: 35px;
				}
				.browse-span {
					color: $secondary-color;
					font-weight: 500;
				}
				text-align: center;
				app-ng-files-drag-n-upload {
					label {
						padding: 2.88rem 60px;
					}
				}
			}
			&.removeBorder {
				border: none;
			}
		}
		.social-accounts {
			.info_text {
				p {
					font-size: 0.875rem;
					font-family: $font-proxima;
					color: $secondary-text-color;
					padding-top: 0.59rem;
				}
			}
		}
	}
	.contact-btn {
		margin-top: 3.5rem;
		.btn {
			font-weight: 600;
			padding: 0.75rem 3.75rem;
			span:nth-child(2) {
				font-family: $font-NeoSansArabic-Regular;
			}
		}
	}
	.social-link-del {
		position: absolute;
		right: 15px;
		top: 15px;
	}
}