<section class="thankyou">
  <div class="container">
    <div class="row ">
      <div class="col-12">
              <div class="thankyou-icon">
          <img class="rounded mx-auto d-block" src="../../../assets/images/icons/protected_pass_icon.svg">
          </div>
       
        <div class="row mt-4">
          <div class="col">
              <h2 class="thankyou-heading text-left">
                  {{headingBaseLanguage}}
               </h2>
                <h5 class="thankyou-sub-heading text-left">
                  {{subheadingBaseLanguage}}
                </h5>
          </div>
          <div class="col dir-otherLanguage">
              <h2 class="thankyou-heading text-right">
                  {{headingOtherLanguage}}
                </h2>
                <h5 class="thankyou-sub-heading text-right">
                  {{subheadingOtherLanguage}}
                </h5>
          </div>
        </div>
        <div class="row">
          <div class="col">
              <p class="text text-left">
                  {{desc1BaseLanguage}}
               </p>
               <p class="text text-left">
                 {{desc2BaseLanguage}}
              </p>
          </div>
          <div class="col dir-otherLanguage">
              <p class="text text-right">
                  {{desc1OtherLanguage}}
                </p>
                <p class="text text-right">
                  {{desc2OtherLanguage}}
                </p>
          </div>
        </div>
       
        <hr class="hr-solid">
        <div class="row">
          <div class="col">
              <h5 class="thankyou-sub-heading text-left">
                  {{finishHeadingBaseLanguage}}
                </h5>
                <p class="text text-left">
                 {{finishContentBaseLanguage}}
                </p>
          </div>
          <div class="col dir-otherLanguage">
              <h5 class="thankyou-sub-heading text-right">
                  {{finishHeadingOtherLanguage}}
                </h5>
                <p class="text text-right">
                  {{finishContentOtherLanguage}}
                </p>
          </div>
        </div>
       
       

        <div class="proceed-btn mt-4">
          <a href="javascript:;" class="btn btn-primary btn-register hvr-sweep-to-right">
            <span>{{btnTextBaseLanguage}}</span> / <span>{{btnTextOtherLanguage}}</span> 
          </a>
        </div>
      </div>
    </div>
  </div>
</section>