<div class="provider-modal animated fadeIn">
    <div class="modal-header">
      <h4 class="provider-modal-title">Delete Draft</h4>
      <a class="pointer crossIcon" (click)="closeModal(null)">
        <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
      </a>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <p>Are you sure you want to delete this row?</p>
        <button class="btn btn-danger btn-lg hvr-sweep-to-right" (click)="delete()">YES, IM SURE</button>
      </div>
    </div>
  </div>