<section class="setup pl-1 pr-1">
  <div class="alert alert-warning hvr-icon-wobble-horizontal pointer p-0">
    <div class="alert-img">
      <img src="../../../assets/images/icons/info_white.svg">
    </div>

    <div class="alert-text d-flex justify-content-between align-items-center">
      <div class="d-flex flex-column">
        <span> your business profile is not verified</span>
        <small>it usually take 1-3 days for the verification</small>
      </div>

      <div class="alert-link mr-4">
        <a href="#" class="hvr-icon-forward" aria-pressed="true">
          <span>Learn more</span>
          <img src="../../../../../../assets/images/icons/icon_arrow_right.svg" class="icon-size-16 align-text-top hvr-icon">
        </a>
      </div>
    </div>
  </div>

  <h2 class="m-0"> Setup Business</h2>
  <p class="mt-2">Select your preferred shipping load type and the preferred categories of good fulfilled by your organization</p>
  <h5 class="mt-5"> Preffered Shipping Type</h5>
  <hr class="hr-solid">
  <div class="row">

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4  mt-3">
      <div #selectService class="setup-service-box text-center d-flex flex-column justify-content-center pointer active">
        <span>
          <img src="../../../assets/images/icons/icon_container.png"> FCL </span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4  mt-3">
      <div #selectService class="setup-service-box text-center d-flex flex-column justify-content-center pointer ">
        <span>
          <img src="../../../assets/images/icons/icon_box.png">LCL</span>
      </div>
    </div>

  </div>

  <h5 class="mt-5"> Supported Categories</h5>
  <small> Select as many of the following </small>
  <hr class="hr-solid">

  <div class="row">

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="setup-service  text-center d-flex flex-column justify-content-center pointer active">
        <span class="pb-2">
          <img src="../../../assets/images/icons/Goods.png"> </span>
        <span> Goods </span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="setup-service text-center d-flex flex-column justify-content-center pointer">
        <span class="pb-2">
          <img src="../../../assets/images/icons/Autos.png"> </span>
        <span> Autos </span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="setup-service text-center d-flex flex-column justify-content-center pointer active">
        <span class="pb-2">
          <img src="../../../assets/images/icons/Perishables.png"> </span>
        <span> Perishables </span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="setup-service text-center d-flex flex-column justify-content-center pointer ">
        <span class="pb-2">
          <img src="../../../assets/images/icons/HeavyItems.png"> </span>
        <span> Heavy Equipments </span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 ">
      <div #selectService class="setup-service text-center d-flex flex-column justify-content-center pointer active">
        <span class="pb-2">
          <img src="../../../assets/images/icons/HazardousItems.png"> </span>
        <span> Hazardous Items </span>
      </div>
    </div>


    <div class="setup-continue mt-5">
      <button class="btn btn-primary btn-register hvr-sweep-to-right pull-right">Continue</button>
    </div>
  </div>

</section>