<section class="warehouseList">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-6 d-flex align-items-center">
          <h5 class="m-0">You have {{ allWareHouseList.length }} warehouse</h5>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <button (click)="addAnotherWarehouse()"
            class="btn btn-primary hvr-sweep-to-right pull-right text-uppercase pt-2 pb-2 pl-3" type="button">
            Add Another Warehouse
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr class="hr-solid mt-3" />
  <section class="warehouseInfo" *ngIf="allWareHouseList && allWareHouseList.length">
    <div class="row mb-3 search-bar">
      <div class="col-2 d-flex align-items-center record-count">
        Showing
        {{(allWareHouseList | filterByCheckbox : activeStatus : inActiveStatus | paginate : paginationConfig).length}} -
        {{allWareHouseList.length}}
      </div>
      <div class="col-4 warehouse-search">
        <input type="text" class="form-control" placeholder="Search by location or title"
          [(ngModel)]="wareHouseTitle" />
      </div>
      <div class="col-6 d-flex justify-content-end align-items-center warehouse-status">
        <label class="m-0 mr-2">SHOW :</label>
        <div class="fancyOptionBoxes mr-2">
          <input id="checkboxOne" type="checkbox" [checked]="activeStatus" (change)="activeStatus = !activeStatus" />
          <label for="checkboxOne"> <span></span> Acive </label>
        </div>
        <div class="fancyOptionBoxes">
          <input id="checkboxTwo" type="checkbox" [checked]="inActiveStatus"
            (change)="inActiveStatus = !inActiveStatus" />
          <label for="checkboxTwo"> <span></span> Inacive </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4"
          *ngFor="let wareHouse of allWareHouseList | search : wareHouseTitle | filterByCheckbox : activeStatus : inActiveStatus | paginate: paginationConfig"
          [ngClass]="{'inActive' : wareHouse.IsBlocked, 'noRate' : !wareHouse.IsRateAvailable}">
          <div class="card-body">
            <div class="row mt-1">
              <div class="col-xl-3 col-lg-3 col-md-5 col-sm-5 col-12">
                <div *ngFor="let doc of wareHouse.parsedGallery; let i = index"
                  (click)="openGallery(wareHouse.parsedGallery, i)">
                  <div class="gallery-section" *ngIf="i == 0">
                    <div class="images-carousel">
                      <img [src]="doc.thumb" *ngIf="doc.DocumentUploadedFileType != 'mp4'" alt="thumbnail" />
                      <video class="animated fadeIn" controls *ngIf="doc.DocumentUploadedFileType == 'mp4'">
                        <source [src]="doc.DocumentFile" type="video/mp4" />
                      </video>
                      <div class="gallery-section-item d-flex justify-content-center align-items-center">
                        <img src="../../../assets/images/icons/icon_pictures.svg" alt="count"
                          class="icon-size-14 mr-1" />
                        {{ wareHouse.WHGallery.length }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-1 col-xl-6 col-lg-6 col-md-7 col-sm-7 col-12 Wcontent">
                <h5 class="card-title">{{ wareHouse.WHName }}</h5>
                <div class="warehousing-content">
                  <ul class="list-group">
                    <li class="list-group-item mr-3">
                      <img src="../../../assets/images/icons/Icons_Location-grey.svg" alt="icon"
                        class="icon-size-16 mr-2" />
                      <span>
                        {{ wareHouse.CityName }}, {{ wareHouse.CountryName }}
                      </span>
                    </li>
                    <li class="list-group-item mr-4">
                      <img src="../../../assets/images/icons/icon_grid.svg" alt="icon" class="icon-size-14 mr-2" />
                      {{ wareHouse.TotalCoveredArea }}
                      {{ wareHouse.TotalCoveredAreaUnit }}
                      <!-- <sup>2</sup> -->
                    </li>
                  </ul>
                  <p class="warehousing-desc mt-3 mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <div class="warehouse-features d-flex">
                    <div class="icons" *ngFor="let facilities of wareHouse.FacilitiesProviding">
                      <span class="hvr-icon-pulse-shrink footer-link" placement="top" ngbTooltip="Bonded Warehouse"
                        *ngIf="facilities.BusinessLogic == 'IsBondedWarehouse'" [ngClass]="{
                            'warehouse-features-active':
                              facilities.BusinessLogic == 'IsBondedWarehouse' &&
                              facilities.IsAllowed
                          }">
                        <img src="../../../assets/images/icons/Icons_Warehousing_green.svg" alt="footer icon"
                          class="hvr-icon" />
                      </span>
                      <span class="hvr-icon-pulse-shrink footer-link" placement="top" ngbTooltip="Temp. Controlled"
                        *ngIf="
                            facilities.BusinessLogic == 'IsTempratureControlled'
                          " [ngClass]="{
                            'warehouse-features-active':
                              facilities.BusinessLogic ==
                                'IsTempratureControlled' && facilities.IsAllowed
                          }">
                        <img src="../../../assets/images/icons/Weight-Icon_1.svg" alt="footer icon" class="hvr-icon" />
                      </span>
                      <span class="hvr-icon-pulse-shrink footer-link" placement="top" ngbTooltip="Transport Available"
                        *ngIf="facilities.BusinessLogic == 'IsTransportAvailable'" [ngClass]="{
                            'warehouse-features-active':
                              facilities.BusinessLogic == 'IsTransportAvailable' &&
                              facilities.IsAllowed
                          }">
                        <img src="../../../assets/images/icons/Icons_Cargo_Truck_blue.svg" alt="footer icon"
                          class="hvr-icon" />
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 flex-column d-flex justify-content-center">
                <button (click)="goToDetail(wareHouse.WHID)"
                  class="btn btn-outline-primary hvr-sweep-to-right rate-btn pull-right text-uppercase"
                  *ngIf="!wareHouse.IsRateAvailable">
                  Add rates
                </button>
                <button (click)="addWarehouse(wareHouse.WHID)"
                  class="btn btn-outline-primary hvr-sweep-to-right rate-btn pull-right text-uppercase"
                  *ngIf="!wareHouse.IsRateAvailable">
                  Add Warehouse Rates
                </button>
                <button (click)="getAllPublishRates(wareHouse.WHID)"
                  class="btn btn-outline-primary hvr-sweep-to-right rate-btn pull-right text-uppercase">
                  View Rates
                </button>
                <button (click)="goToDetail(wareHouse.WHID)"
                  class="btn btn-primary hvr-sweep-to-right rate-btn pull-right text-uppercase"
                  *ngIf="wareHouse.IsRateAvailable">
                  View rates
                </button>
                <div class="noti" *ngIf="!wareHouse.IsRateAvailable">
                  Add rates in order to appear in search result.
                </div>
              </div>
            </div>
            <img src="../../../../../../assets/images/icons/menu.svg" class="icon-size-16 warehouse-options pointer"
              placement="bottom-right" [ngbPopover]="option" />
            <ng-template #option>
              <div class="option-popup fadeIn animated">
                <ul class="list-group">
                  <li class="list-group-item" (click)="goToDetail(wareHouse.WHID)">
                    <img src="../../../../../../assets/images/icons/warehouse-edit-icon.svg" class="icon-size-16"
                      alt="icon" /><span>Edit Info / Rates</span>
                  </li>
                  <li class="list-group-item">
                    <img src="../../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16"
                      alt="icon" />
                    <span>Active / Inactive
                      <div class="switch-box pull-right">
                        <ui-switch
                          (change)="wareHouse.IsBlocked = !wareHouse.IsBlocked; activeToggler(wareHouse, wareHouse.IsBlocked)"
                          [checked]="!wareHouse.IsBlocked">
                        </ui-switch>
                      </div>
                      <span class="warehouse-status" *ngIf="wareHouse.IsBlocked">Currently: Inactive</span>
                      <span class="warehouse-status" *ngIf="!wareHouse.IsBlocked">Currently: Active</span>
                    </span>
                  </li>
                  <li class="list-group-item">
                    <img src="../../../../../../assets/images/icons/reload-icon.svg" class="icon-size-16"
                      alt="icon" /><span>View Log</span>
                  </li>
                  <hr class="hr-solid mb-2">
                  <li class="list-group-item" (click)="deleteWarehouse(wareHouse.WHID)">
                    <img src="../../../../../../assets/images/icons/icon_delete_red.svg" class="icon-size-16"
                      alt="icon" /><span>Delete</span>
                  </li>
                </ul>
              </div>
            </ng-template>
          </div>
        </div>
        <pagination-controls (pageChange)="onPageChange($event)" directionLinks="directionLinks" autoHide="autoHide"
          responsive="responsive" previousLabel="" nextLabel=""
          *ngIf="(allWareHouseList | filterByCheckbox : activeStatus : inActiveStatus).length > paginationConfig.itemsPerPage">
        </pagination-controls>
      </div>
    </div>
    <app-loader-main *ngIf="loading"></app-loader-main>
  </section>
  <div class="overflow-hidden row"
    *ngIf="!loading && (!allWareHouseList || (allWareHouseList &&  !(allWareHouseList | search : wareHouseTitle).length) || (allWareHouseList &&  !(allWareHouseList | filterByCheckbox : activeStatus : inActiveStatus).length ))">
    <div class="animated bounceInDown col-12">
      <p class="card p-1 text-center">You don't have any warehouse yet</p>
    </div>
  </div>
</section>
<div class="row mb-3 justify-content-end" *ngIf="warehousePublishedRates">
  <div class="col-6 d-flex justify-content-start rate-dur" *ngIf="warehousePublishedRates && warehousePublishedRates.length">
    <!-- <img src="../../../../../../assets/images/icons/Icons_Clock-2hour.svg" alt="del_icon" class="icon-size-24 mr-2" />
    Unpublished Rates will be published in 2 hours -->
  </div>
  <div class="col-6 d-flex justify-content-end">
    <a href="javascript:;" class="rate-validate mr-5" (click)="rateValidity('warehouse')"
      [ngClass]="{ 'no-drop': !delPublishRates.length }">
      <!-- <img src="../../../../../../assets/images/icons/Icons_Calendar-Secondary.svg" alt="del_icon" class="icon-size-16" /> -->
      <svg class="edit-validity-icon icon-size-16 mr-2" id="17f5b310-5508-485b-8001-dbaf3458113b" data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <defs>
          <style>
            .be7dd154-90ee-45f6-a47e-11a6c4eceb87 {
              fill: #02bdb6;
            }

            .dd12900e-6340-4a89-b921-0b1d5cffc735 {
              fill: #fff;
            }
          </style>
        </defs>
        <title>icon</title>
        <g id="40ee8fd5-e28d-4347-b10e-66f9984b7564" data-name="calendar2">
          <path id="6d9cbed9-97a5-4544-9814-99b685f0d436" data-name="&lt;Compound Path&gt;"
            class="be7dd154-90ee-45f6-a47e-11a6c4eceb87"
            d="M15,2H3.8A2.8,2.8,0,0,0,1,4.8V16H12.2A2.8,2.8,0,0,0,15,13.2V2Z" />
          <path class="dd12900e-6340-4a89-b921-0b1d5cffc735"
            d="M4,4h9a0,0,0,0,1,0,0v6a0,0,0,0,1,0,0H3a0,0,0,0,1,0,0V5A1,1,0,0,1,4,4Z" />
          <rect id="7d4ed2c6-f916-40cf-acce-d794196da080" data-name="&lt;Path&gt;"
            class="be7dd154-90ee-45f6-a47e-11a6c4eceb87" x="5" width="2" height="5" />
          <rect id="a37c2eb5-9844-41fa-8d51-9b1b7c64de14" data-name="&lt;Path&gt;"
            class="be7dd154-90ee-45f6-a47e-11a6c4eceb87" x="9" width="2" height="5" />
        </g>
      </svg>
      Edit Rate / Validity
    </a>
    <a href="javascript:;" class="grid-delete" (click)="delPublishedRecord('WAREHOUSE')"
      [ngClass]="{ 'no-drop': !delPublishRates.length }">
      <!-- <img src="../../../../../../assets/images/icons/icon_delete_red.svg" alt="del_icon" class="icon-size-16" /> -->
      <svg class="delete-icon icon-size-16 mr-2" id="317c8c47-17e2-4e96-9063-97bc9a32118b" data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <defs>
          <style>
            .a2933809-f108-463d-a7d6-9972aa735edc {
              fill: #d32020;
            }
          </style>
        </defs>
        <title>icon</title>
        <g id="9ddd7984-9517-4e7f-881d-6292000e8e8a" data-name="delete">
          <rect class="a2933809-f108-463d-a7d6-9972aa735edc" y="2" width="16" height="2" />
          <rect class="a2933809-f108-463d-a7d6-9972aa735edc" x="5" width="6" height="2" />
          <path class="a2933809-f108-463d-a7d6-9972aa735edc"
            d="M2,5v9a2,2,0,0,0,2,2h8a2,2,0,0,0,2-2V5Zm5,9H5V7H7Zm4,0H9V7h2Z" />
        </g>
      </svg>
      Delete
    </a>
  </div>
</div>
<app-ui-table *ngIf="warehousePublishedRates" [tableType]="'publishFCL'" [tableData]="warehousePublishedRates"
  (checkedRows)="tableCheckedRows($event)" (sorting)="sortedFilters('warehouse', $event)" (pageEvent)="paging($event)"
  [totalRecords]="totalPublishedRecords" [containerLoad]="'WAREHOUSE'" [transMode]="'WAREHOUSE'">
</app-ui-table>