@import "../../../../../../assets/scss/_variables";

.warehouseList {
  .hash-search {
    .shipping-news {
      &-company {
        width: 180px;
        height: 136px;
        float: left;
        margin-right: 28px;
      }

      .book-btn {
        margin-top: 12px;
        width: 188px;
      }

      .noti {
        font-family: $font-proxima;
        font-size: $font-size-medium;
        color: $probar-color;
        position: relative;
        padding-left: 2rem;
        margin-top: 1.5rem;

        &:before {
          content: url("../../../../../../assets/images/icons/icon_info_red.svg");
          position: absolute;
          left: 0px;
          top: 3px;
          width: 16px;
          height: 16px;
        }
      }

      .card {
        border: 1px solid $left-sidebar-border-color;
        transition: all ease 0.7s;
        border-radius: 0;

        &-title {
          font-size: $font-size-large + 0.25rem;
        }

        &-body {
          padding: 0.75rem 1.25rem;

          .logo {
            border: 1px solid $grey-border;
            position: relative;

            img,
            video {
              width: 100%;
              height: 136px;
              object-fit: cover;
              padding: 0;
            }

            .images-carousel:first-child {
              position: relative; //top: 96px;
            }

            .gallery-section {
              &-item {
                position: absolute;
                top: 8px;
                right: 5px;
                background: #000000b0;
                color: #fff;
                border-radius: 12px;
                font-weight: $font-weight-bold;
                font-family: $font-proxima;
                font-size: $font-size-base;
                padding: 0.21rem 0.68rem;
              }
            }
          }

          .warehousing-content {
            color: $white-color;
            display: flex;
            flex-direction: column;

            .list-group {
              flex-direction: row;
              display: flex;

              li {
                border: 0px;
                padding: 0;
                display: flex;
                font-size: $font-size-medium;
                font-family: $font-proxima;
                color: $text-color-default;
                line-height: 1;

                .tooltip {
                  width: 16rem;

                  .tooltip-inner {
                    width: 16rem;
                    max-width: 16rem;
                  }
                }
              }

              &.mt-2 {
                li {
                  align-items: center;
                }
              }
            }
          }

          .warehouse-features {
            .icons {
              margin-right: 15px;

              img {
                width: 1.1rem;
                filter: grayscale(100%);
                opacity: 0.5;
              }

              .warehouse-features-active {
                img {
                  filter: grayscale(0%);
                  opacity: 1;
                }
              }
            }
          }

          .warehouse-options {
            position: absolute;
            right: 5px;
            top: 10px;
          }

          ngb-popover-window {
            .arrow {
              display: none;
            }

            .option-popup {
              .list-group {
                &-item {
                  border: none;
                  display: flex;
                  align-items: center;
                  cursor: pointer;

                  &:last-child {
                    border-top: 1px solid $grey-border;
                    color: $danger-color;
                  }
                }
              }
            }
          }
        }

        &:hover {
          box-shadow: 0px 20px 50px 0px rgba(51, 59, 69, 0.15);
          transition: 0.5s;
          box-shadow: 0px 20px 50px 0px rgba(51, 59, 69, 0.15);
          border: 1px solid $probar-color;

          button {
            background-color: $secondary-color !important;
            border-color: $secondary-color;
            color: $white-color !important;
          }
        }
      }
    }
  }

  .warehouse-search {
    input {
      background: $table-head url("../../../../../../assets/images/icons/icon-search.svg") no-repeat right 15px center;
      background-size: 15px;
      border: none;
      outline: 0;
      box-shadow: none;
    }
  }
}
