<div class="profile-verify" *ngIf="userInfo && userInfo.FirstName; else otherTemp">
  <div class="row">
      <div class="col-12">
      <h3 class="profile-verify-title text-center" >
        {{headingBaseLanguage}}
      </h3>
      <p class="profile-verify-paragraph text-center">
       {{descBaseLanguage}}
      </p>
      </div>
    <div class="col-12 mt-4">
      <h3 class="profile-verify-title text-center dir-otherLanguage">{{headingOtherLanguage}}</h3>
      <p class="profile-verify-paragraph text-center">{{descOtherLanguage}}</p>
      <hr class="hr-solid">
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6 otp-form">
      <div class="form-froup">
        <form autocomplete="off" novalidate [formGroup]="otpForm" (ngSubmit)="submitOtp(otpForm.value)">
            <label for="otp">{{lblOTPPasswordBaselang}} / {{lblOTPPasswordOtherlang}}</label>
            <input formControlName="otp" (keypress)="passSpaceHandler($event)" type="text" id="otp" class="form-control mb-3" [(ngModel)]="otpCode" placeholder="Enter OTP Code">
            <button class="btn btn-primary hvr-sweep-to-right form-control" type="submit" [disabled]="otpForm.invalid">{{otpbtnBaselang}} / {{otpbtnOtherlang}}</button>
        </form>
      </div>
      <p class="otp-form-msg text-center mt-2 ">
        <a href="javascript:;" (click)="resendOtp()" class="hvr-icon-forward" [ngClass]="timerClass()">
          {{otpResendBaselang}} / {{otpResendOtherlang}}
          <img src="../../../../../assets/images/icons/icon_arrow_right.svg" class="icon-size-16 align-text-top hvr-icon">
        </a>
        <span>{{remainingTime}} Minutes</span>
      </p>
    </div>
  </div>

</div>

<ng-template #otherTemp>
  <P>User not found</P>
</ng-template>


  
