<div class="row">
  <div class="col-7 mb-5">
    <h3>Setup Warehouse</h3>
    <p class="sub-title">Market your warehouse to potential customers. This will allow you to add your warehouse and create a listing of available
      capacity on HashMove.</p>
  </div>
  <div class="col-6 d-flex align-self-center">
    <h5 class="m-0">You have added {{allWareHouseList.length}} warehouses</h5>
  </div>
  <div class="col-6">
    <button (click)="createWarehouse()" class="btn btn-primary pull-right text-uppercase pt-2 pb-2 pl-3" type="button">Add Another Warehouse</button>
    <button (click)="goToDashboard()" class="btn btn-primary pull-right text-uppercase pt-2 pb-2 mr-1 pl-3" type="button">Go To Dashboard</button>
  </div>
</div>
<hr class="hr-solid mt-3">
<div class="row">
  <div class="col-md-12">
    <div class="hash-search warehousing">
      <!-- shipping news -->
      <div class="shipping-news">
        <div class="card mb-4" *ngFor="let wareHouse of allWareHouseList; let i = index">
          <div class="card-body">
            <div class="row mt-1">
              <div class="col-sm-12 mt-1 col-md-9">
                <div class="shipping-news-company mt-0">
                  <div class="logo">
                    <div class="gallery-section">
                      <div class="images-carousel" *ngFor="let image of wareHouse.gallery; let i=index"  (click)= "openGallery(wareHouse.parsedGallery, i)">
                        <img [src]="image.thumb" alt="thumbnail">
                        <div class="gallery-section-item d-flex justify-content-center align-items-center">
                          <img src="../../../assets/images/icons/icon_pictures.svg" alt="" class="icon-size-14 mr-1"> {{wareHouse.UploadedGalleries.length}}
                        </div>
                      </div>
                    </div>
                    </div>
                    </div>
                <h5 class="card-title">{{wareHouse.WHName}}</h5>
                <div class="warehousing-content">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <img src="../../../assets/images/icons/Icons_Location-grey.svg" alt="icon" class="icon-size-16 mr-2">
                      <span>
                       {{wareHouse.CityName}}, {{wareHouse.CountryName}}
                      </span>
                    </li>
                  </ul>
                  <ul class="list-group mt-4">
                    <li class="list-group-item mr-4">
                      <img src="../../../assets/images/icons/icon_grid.svg" alt="icon" class="icon-size-14 mr-2"> {{wareHouse.TotalCoveredArea}} {{wareHouse.TotalCoveredAreaUnit}}
                      <!-- <sup>2</sup> -->
                    </li>
                    <li class="list-group-item">
                      <img src="../../../assets/images/icons/Icons_Clock-28-light-grey.svg" alt="icon" class="icon-size-14 mr-2"> 8:30 am to 5:00am
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-12 col-md-3 flex-column d-flex">
                <button class="btn btn-outline-primary hvr-sweep-to-right book-btn pull-right text-uppercase">Add rates</button>
                <div class="noti">
                  Add rates in order to appear in search result.
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            <div class="icons" *ngFor="let facilities of wareHouse.WarehouseFacilities">
              <span class="hvr-icon-pulse-shrink footer-link" placement="top" ngbTooltip="Bonded Warehouse" *ngIf="facilities.BusinessLogic == 'IsBondedWarehouse' && facilities.IsAllowed">
                <img src="../../../assets/images/icons/Icons_Warehousing_green.svg" alt="footer icon" class="hvr-icon"> Bonded Warehouse
              </span>
              <span class="hvr-icon-pulse-shrink footer-link" placement="top" ngbTooltip="Temp. Controlled" *ngIf="facilities.BusinessLogic == 'IsTempratureControlled' && facilities.IsAllowed">
                <img src="../../../assets/images/icons/Weight-Icon_1.svg" alt="footer icon" class="hvr-icon"> Temp. Controlled
              </span>
              <span class="hvr-icon-pulse-shrink footer-link" placement="top" ngbTooltip="Transport Available" *ngIf="facilities.BusinessLogic == 'IsTransportAvailable' && facilities.IsAllowed">
                <img src="../../../assets/images/icons/Weight-Icon_1.svg" alt="footer icon" class="hvr-icon"> Transport Available
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>