<section class="billing">
  <h2 class="title">billing</h2>
  <hr class="hr-solid">

  <!-- overview -->
  <section class="overview d-flex justify-content-between align-items-center">
    <h5 class="m-0">Overview</h5>
    <button class="pt-2 pb-2 pl-4 pr-4 btn btn-primary payment-btn hvr-sweep-to-right">MAKE A PAYMENT</button>
  </section>
  <!-- overview -->




  <!--  billing Section -->
  <section class="billing-summary mt-3">
    <div class="row">
      <div class="summarySection col-xl-4 col-md-12 col-sm-12">
        <div class="summaryTitle">
          <h5>
            <img src="../../../../../assets/images/icons/icon_revenue.svg" class="icon-size-24 mr-3"> Billed This Month</h5>
        </div>
        <div class="summaryQuantity pt-2 pb-2">
          <div class="rates">
            <small class="mr-2">AED</small>
            <span>549800</span>
          </div>
        </div>
      </div>

      <div class="summarySection col-xl-4 col-md-12 col-sm-12">
        <div class="summaryTitle">
          <h5>
            <img src="../../../../../assets/images/icons/icon_revenue.svg" class="icon-size-24 mr-3"> Payment Due</h5>
        </div>
        <div class="summaryQuantity d-flex pt-2 pb-2">
          <div class="rates">
            <small class="mr-2">AED</small>
            <span>549800</span>
            <span class="badge hashmove-badge-danger">
              <strong>Due Date 31 jan, 2019</strong>
            </span>
          </div>
        </div>
      </div>
      <div class="summarySection col-xl-4 col-md-12 col-sm-12">
        <div class="summaryTitle">
          <h5>
            <img src="../../../../../assets/images/icons/icon_revenue.svg" class="icon-size-24 mr-3"> Total Amount Billed</h5>
        </div>
        <div class="summaryQuantity d-flex pt-2 pb-2">
          <div class="rates">
            <small class="mr-2">AED</small>
            <span>549800</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--  billing Section -->

  <!-- statistics -->
  <h5 class="subtitle pt-4 pb-4">Statistics</h5>
  <hr class="hr-solid">
  <section class="barGraph">
     <div echarts [options]="statistics" class="demo-chart"></div>
  </section>
  <!-- statistics -->

  <!-- Invoices -->
  <h5 class="subtitle pt-4">Invoices</h5>

  <section class="invoicesOverview d-flex justify-content-between">
    <div class="search">
      <input type="text" class="form-control searchInvoice" placeholder="Search Invoice">
      <img src="../../../../../assets/images/icons/icon-search.svg" alt="icon_search" class="icon-size-14">
    </div>
    <div ngbDropdown class="dropdown">
      <div class="pointer" id="sorter" ngbDropdownToggle>
        <span>STATUS : ALL</span>
      </div>
      <div aria-labelledby="sorter" class="sortFilter dropdown-menu" ngbDropdownMenu x-placement="bottom-left">
        <ul class="list-group">
          <li class="list-group-item pointer">
            <span>2016</span>
          </li>
          <li class="list-group-item pointer">
            <span>2015</span>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Invoices -->
  <section class="rates-grid billingInvoices mt-3">
    <table id="billingInvoiceTable" cellspacing="0" #billing class="row-border hover"></table>
  </section>

  <!-- Invoices -->

</section>