<!-- view booking -->
<div class="view-booking" *ngIf="bookingDetails">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <h4 class="view-booking-title col-xl-6 col-sm-12">
          {{bookingDetails.HashMoveBookingNum}}
        </h4>
        <div class="col-xl-6 col-sm-12 view-booking-top-btn mt-1 text-right mb-2">

          <a href="javascript:;" class="hvr-icon-forward mr-5" (click)="printDetail()">
            <img src="../../../../../assets/images/icons/icon_print.svg" alt="icon" class="icon-size-16 mr-2">
            <span class="link-hover-1">Print</span>
          </a>
          <a href="javascript:;" class="hvr-icon-forward">
            <img src="../../../../../assets/images/icons/icon_share_blue.svg" alt="icon" class="icon-size-16 mr-2">
            <span class="link-hover-1">Share</span>
          </a>
        </div>
      </div>
      <small class="view-booking-info">Booked by {{bookingDetails.UserName}} on {{bookingDetails.HashMoveBookingDate | date : "d MMM yyyy"}} at {{bookingDetails.HashMoveBookingDate
        | date : "shortTime"}}</small>
      <div class="col-12 pr-0 pl-0">
        <a class="hvr-icon-back grey-anc-btn mt-4" href="javascript:;" title="Back to Bookings" routerLink='/user/bookings'>
          <img src="../../../../../assets/images/icons/icon_arrow_left.svg" alt="icon" class="icon-size-14 hvr-icon">
          <span class="link-hover-1">Back to Bookings </span>
        </a>
      </div>
    </div>

    <hr class="col-12 hr-solid mt-4">
  </div>
  <!-- status -->
  <div class="row mt-3">
    <div class="col-sm-12 status">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 border-right">
              <label class="status-label">Booking</label>
              <strong *ngIf="bookingDetails.BookingStatus == 'Current'">Confirmed</strong>
              <strong *ngIf="bookingDetails.BookingStatus == 'Past'">Confirmed</strong>
              <strong *ngIf="bookingDetails.BookingStatus == 'Saved'">Saved</strong>
            </div>
            <div class="col-md-4 border-right">
              <label class="status-label">Shipping</label>
              <strong *ngIf="bookingDetails.BookingStatus == 'Current'">
                In-Transit
                <!-- <span class="badge badge-pill hashmove-badge-secondary mr-1 mt-0 pull-right">On Time</span> -->
              </strong>
              <strong *ngIf="bookingDetails.BookingStatus == 'Past'">
                Completed
                <!-- <span class="badge badge-pill hashmove-badge-secondary mr-1 mt-0 pull-right">On Time</span> -->
              </strong>
              <strong *ngIf="bookingDetails.BookingStatus == 'Saved'">
                --
                <!-- <span class="badge badge-pill hashmove-badge-secondary mr-1 mt-0 pull-right">On Time</span> -->
              </strong>
            </div>
            <div class="col-md-4">
              <label class="status-label">Billing</label>
              <strong>
                {{bookingDetails.CurrencyCode}} {{bookingDetails.BookingTotalAmount | number: '1.2-2'}}
                <a class="pull-right hvr-icon-forward" href="javascript:;" (click)="viewInvoice()">
                  <span class="link-hover-1">View Invoice</span>
                  <i class="fa fa-angle-right hvr-icon"></i>
                </a>
              </strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ status -->

  <!-- shipping details -->
  <div class="row view-booking-shipment-detail">
    <h5 class="d-block col-12">Shipment Details</h5>
    <div class="col-xl-8">
      <div class="card mb-0">
        <div class="card-body">
          <div class="card-title">
            <h5>
              <img src="../../../../assets/images/icons/Icons_Info_grey.svg" width="20px" height="20px" title="logo"> SHIPPING INFORMATION
            </h5>
          </div>
          <div class="logo">
            <img alt="icon" src="{{'../../../../assets/images/logos/' + bookingDetails.ProviderImage}}">
          </div>
          <div class="company">
            <span>Your're shipping with</span>
            <p>{{bookingDetails.ProviderName}}</p>
          </div>
          <button class="btn btn-outline-primary hvr-sweep-to-right pull-right view-booking-shipment-detail-btn mt-4" placement="bottom"
            [ngbPopover]="contact">Contact</button>
          <ng-template #contact>
            <div class="contact-popup fadeIn animated">
              <a *ngFor="let email of ProviderEmails" href="{{'mailto:' + email}}">
                <img src="../../../../assets/images/icons/icon_email.svg" alt="mail_Icon" class="icon-size-16">
                <span>{{email}}</span>
              </a>
              <p>
                <img src="../../../../assets/images/icons/mob-icon.svg" alt="Contact_Icon" class="icon-size-16">
                <strong style="vertical-align: middle;">{{bookingDetails.ProviderPhone}}</strong>
              </p>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="card grey-background">
        <div class="card-body">
          <div class="row mt-1">
            <div class="col-xl-12 col-sm-12 details">
              <div class="row">
                <div class="col-4">
                  <img src="../../../../assets/images/icons/icon_anchor.svg" alt="icon" class="icon-size-16 mr-3 align-top">
                  <div class="info">
                    <h5 class="mt-0 mb-1">port cut off
                    </h5>
                    <p>{{bookingDetails.PortCutOffLcl | date : "d MMM, yyyy"}}</p>
                  </div>
                </div>
                <div class="col-4">
                  <img src="../../../../../assets/images/icons/Icons_Clock-28.svg" alt="icon" class="icon-size-16 mr-3 align-top">
                  <div class="info">
                    <h5 class="mt-0 mb-1">Departure
                    </h5>
                    <p>{{bookingDetails.EtdLcl | date : "d MMM, yyyy"}}</p>
                  </div>
                </div>
                <div class="col-4">
                  <img src="../../../../../assets/images/icons/Icons_Location.svg" alt="icon" class="icon-size-16 mr-3 align-top">
                  <div class="info">
                    <h5 class="mt-0 mb-1">Transit Time
                    </h5>
                    <p>+/- {{bookingDetails.TransitTime}} Days</p>
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-4">
                  <img src="../../../../assets/images/icons/icon_ship.svg" alt="icon" class="icon-size-16 mr-3 align-top">
                  <div class="info">
                    <h5 class="mt-0 mb-1">Voyage #
                    </h5>
                    <p>{{bookingDetails.VoyageRefNum}}</p>
                  </div>
                </div>
                <div class="col-4">
                  <img src="../../../../assets/images/icons/icon_ship.svg" alt="icon" class="icon-size-16 mr-3 align-top">
                  <div class="info">
                    <h5 class="mt-0 mb-1">Vessel Name</h5>
                    <p>{{bookingDetails.VesselName}}</p>
                  </div>
                </div>
                <div class="col-4">
                  <img src="../../../../assets/images/icons/icon_ship.svg" alt="icon" class="icon-size-16 mr-3 align-top">
                  <div class="info">
                    <h5 class="mt-0 mb-1">Vessel #
                    </h5>
                    <p>{{bookingDetails.VesselCode}}</p>
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="media col-12">
                  <div class="align-self-start mr-3">
                    <img src="{{'../../../../assets/images/logos/shippping-lines/' + bookingDetails.CarrierImage}}" alt="icon" width="62px" height="62px">
                  </div>
                  <div class="media-body">
                    <div class="details">
                      <h5 class="mt-0 mb-1">SHIPPING LINE</h5>
                      <p>{{bookingDetails.CarrierName}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- document required -->
      <h5 class="view-booking-document-heading">Documents Required</h5>
      <div class="row view-booking-document">
        <div class="col-12">
          <div class="card">
            <label class="view-booking-document-title">For Jebel Ali, United Arab Emirates</label>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a class="primary-text" href="javascript:;">
                  Certificate of Origin
                  <label class="sub-text d-flex">Uploaded on 2 Sept, 2018 18 : 30</label>
                </a>
                <button class="btn btn-outline-primary hvr-sweep-to-right" (click)="reuploadDoc()">ASK TO RE-UPLOAD</button>
              </li>
              <li class="list-group-item">
                <a href="javascript:;">Invoice</a>
                <button class="btn btn-outline-primary hvr-sweep-to-right">ASK TO RE-UPLOAD</button>
              </li>
              <li class="list-group-item">
                <a href="javascript:;">Packing List</a>
                <button class="btn btn-outline-primary hvr-sweep-to-right">ASK TO RE-UPLOAD</button>
              </li>
            </ul>
            <label class="view-booking-document-title">For Karachi, Pakistan</label>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a href="javascript:;">Invoice</a>
                <button class="btn btn-outline-primary hvr-sweep-to-right">ASK TO RE-UPLOAD</button>
              </li>
              <li class="list-group-item">
                <a href="javascript:;">Packing List</a>
                <button class="btn btn-outline-primary hvr-sweep-to-right">ASK TO RE-UPLOAD</button>
              </li>
              <li class="list-group-item">
                <a href="javascript:;">Bill of Lading</a>
                <button class="btn btn-outline-primary hvr-sweep-to-right">ASK TO RE-UPLOAD</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--/ document required -->
    </div>
    <div class="col-xl-4 view-booking-shipment-detail-right">
      <!-- <div class="card">
        <div class="card-body">
          <h6 class="card-title">Goods</h6>
          <div class="ports" >
            <img alt="containerIcon" class="icon-size-24 detail-icon" src="../../../../assets/images/icons/icons_container_grey.svg">
            <small>
                {{bookingDetails.ContainerLoad}} {{bookingDetails.totalContainers}} x Containers
            </small>
          </div>
          <p class="card-text mt-4">
            This shipment is not insured. You can still purchase insurance from a HashMove approved partner at competetive
            rates.
          </p>
          <button class="secondary-anc-btn">Purchase Insurance</button>
        
        </div>
      </div> -->
      <!-- Help & Support -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="billing-box">
            <h5 class="card-title">
              <img src="../../../../assets/images/icons/icon_summary.svg" alt="umbrella-icon"> Order Summary
            </h5>
            <ul class="list-group list-group-flush mt-1">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <span> Port of Loading</span>
                <span>{{bookingDetails.PolName}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Port of Destination</span>
                <span>{{bookingDetails.PodName}}</span>
              </li>
            </ul>
            <hr>
            <h5 class="card-title">
              <img src="../../../../assets/images/icons/icon_container.svg" alt="umbrella-icon"> Cargo Details
            </h5>
            <ul class="list-group list-group-flush mt-1">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="category">
                  <span class="long-text">{{bookingDetails.ShippingCatName}}</span>
                </div>
                <div class="catDetail">
                  <span class="amount-text" *ngFor="let contDetail of bookingDetails.BookingContainerDetail">
                    {{contDetail.ContainerSpecDesc}} x {{contDetail.BookingContTypeQty}}
                  </span>
                </div>

              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--/ Help & Support -->

      <!-- Help & Support -->
      <div class="card">
        <div class="card-body">
          <div class="helpSupport" *ngIf="HelpDataLoaded">
            <div class="helpSupport-head">
              <img src="../../../../assets/images/icons/mob-icon.svg" alt="umbrella-icon">
              <h5>Help &amp; Support</h5>
            </div>
            <div class="helpSupport-content">
              <h4>Customer Support</h4>
              <div *ngFor="let help of helpSupport" class="address">
                <p class="address">
                  {{help.HMSupportAddress}}
                </p>
                <div class="helpLine">
                  <p>
                    Helpline : {{help.HMSupportPhone}}
                  </p>
                </div>
                <div class="dotted"></div>
              </div>
            </div>
            <div class="helpSupport-footer">
              <p>
                For complaints or issues regarding your order, visit our
                <a href="{{helpSupport[0].HMSupportWebAdd}}" class="link-hover-1" target="_blank">Help Center</a> or send us an email at
                <a class="link-hover-1" href="{{'mailto:' + helpSupport[0].HMSupportEmail}}">{{helpSupport[0].HMSupportEmail}}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--/ Help & Support -->
    </div>
  </div>
  <!--/ shipping details -->


</div>
<!--/ view booking -->