<!-- view booking -->
<div class="view-booking" *ngIf="bookingDetails">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
          <h4 class="view-booking-title">
            {{bookingDetails.HashMoveBookingNum}}
          </h4>
          <small class="view-booking-info">Booked by {{bookingDetails.UserName}} on {{bookingDetails.HashMoveBookingDate | date : "d MMM yyyy"}} at {{bookingDetails.HashMoveBookingDate
            | date : "H:mm" }}</small>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
          <div class="view-booking-top-btn mt-1 text-right mb-2">
            <a href="javascript:;" class="hvr-icon-forward mr-5" (click)="printDetail()">
              <img src="../../../../../assets/images/icons/icon_print.svg" alt="icon" class="icon-size-16 mr-2">
              <span class="link-hover-grey">Print</span>
            </a>
            <a href="javascript:;" class="hvr-icon-forward">
              <img src="../../../../../assets/images/icons/icon_share_blue.svg" alt="icon" class="icon-size-16 mr-2">
              <span class="link-hover-grey">Share</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-12 pr-0 pl-0">
        <a class="hvr-icon-back grey-anc-btn mt-4" href="javascript:;" title="Back to Bookings" routerLink='/provider/allbookings'>
          <img src="../../../../../assets/images/icons/icon_arrow_left.svg" alt="icon" class="icon-size-14 hvr-icon">
          <span class="link-hover-grey">Back to Bookings </span>
        </a>
      </div>
      <hr class="hr-solid mt-4">
    </div>
  </div>
  <!-- status -->
  <div class="row mt-3">
    <div class="col-sm-12 status">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 border-right border-md-0">
              <label class="status-label">Booking</label>
              <strong *ngIf="bookingDetails.BookingStatus == 'Confirmed'">Confirmed</strong>
              <strong *ngIf="bookingDetails.BookingStatus == 'Saved'">Draft</strong>
              <strong *ngIf="bookingDetails.BookingStatus == 'Completed'">Completed</strong>
              <strong class="billing-rates">
                <a class="pull-right hvr-icon-forward" href="javascript:;" (click)="openDialogue('cancel')">
                  <span class="link-hover-danger">Cancel Booking</span>
                </a>
              </strong>
            </div>
            <div class="col-md-4 border-right border-md-0">
              <label class="status-label">Shipping</label>
              <strong *ngIf="bookingDetails.BookingStatus == 'Current'">
                In-Transit
                <!-- <span class="badge badge-pill hashmove-badge-secondary mr-1 mt-0 pull-right">On Time</span> -->
              </strong>
              <strong *ngIf="bookingDetails.BookingStatus == 'Past'">
                Completed
                <!-- <span class="badge badge-pill hashmove-badge-secondary mr-1 mt-0 pull-right">On Time</span> -->
              </strong>
              <strong *ngIf="bookingDetails.BookingStatus == 'Saved'">
                --
                <!-- <span class="badge badge-pill hashmove-badge-secondary mr-1 mt-0 pull-right">On Time</span> -->
              </strong>
              <strong class="billing-rates">
                <a class="pull-right hvr-icon-forward" href="javascript:;" (click)="openDialogue('updated')">
                  <span class="link-hover-secondary">Update Status</span>
                  <i class="fa fa-angle-right hvr-icon"></i>
                </a>
              </strong>
            </div>
            <div class="col-md-4">
              <label class="status-label">Billing</label>
              <strong class="billing-rate">
                {{bookingDetails.CurrencyCode}} {{bookingDetails.BookingTotalAmount | number: '1.2-2'}}
                <a class="pull-right hvr-icon-forward" href="javascript:;" (click)="viewInvoice()">
                  <span class="link-hover-secondary">View Invoice</span>
                  <i class="fa fa-angle-right hvr-icon"></i>
                </a>
              </strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ status -->

  <!-- shipping details -->
  <div class="row view-booking-shipment-detail">
    <h5 class="d-block col-12">Customer Details</h5>
    <div class="col-xl-8">
      <div class="card mb-0">
        <div class="card-body">
          <div class="card-title">
            <h5>
              <img src="../../../../../assets/images/icons/icon_info.svg" class="icon-size-16" title="logo"> INFORMATION
            </h5>
          </div>
          <div class="logo">
            <img alt="icon" [src]="baseExternalAssets + bookingDetails.BookingUserInfo.UserImage">
          </div>
          <div class="company">
            <span>Your customer is</span>
            <p *ngIf="bookingDetails.BookingUserInfo.UserType=='CORPORATE'; else custname">{{bookingDetails.BookingUserInfo.CompanyName}}</p>
            <ng-template #custname>
              <p>{{bookingDetails.BookingUserInfo.FirstName}} {{bookingDetails.BookingUserInfo.LastName}}</p>
            </ng-template>
          </div>
          <button class="btn btn-outline-primary hvr-sweep-to-right pull-right view-booking-shipment-detail-btn mt-4" placement="bottom"
            [ngbPopover]="contact">Contact</button>
          <ng-template #contact>
            <div class="contact-popup fadeIn animated">
              <a [href]="(bookingDetails.BookingUserInfo.UserType =='CORPORATE')? 'mailto:' + bookingDetails.BookingUserInfo.CompanyEmail : 'mailto:' + bookingDetails.BookingUserInfo.PrimaryEmail">
                <img src="../../../../../assets/images/icons/icon_email.svg" alt="mail_Icon" class="icon-size-16">
                <span *ngIf="bookingDetails.BookingUserInfo.UserType=='CORPORATE'; else custemail">
                  {{bookingDetails.BookingUserInfo.CompanyEmail}}
                </span>
                <ng-template #custemail>
                  <span>{{bookingDetails.BookingUserInfo.PrimaryEmail}}</span>
                </ng-template>
              </a>
              <p>
                <img src="../../../../assets/images/icons/mob-icon.svg" alt="Contact_Icon" class="icon-size-16">
                <strong align="middle" *ngIf="bookingDetails.BookingUserInfo.UserType=='CORPORATE'; else custcont">{{bookingDetails.BookingUserInfo.CompanyPhone}}</strong>
                <ng-template #custcont>
                  <strong align="middle">{{bookingDetails.BookingUserInfo.PrimaryPhone}}</strong>
                </ng-template>
              </p>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="card grey-background">
        <div class="card-body">
          <div class="row mt-1">
            <div class="col-xl-12 col-sm-12 details">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-12 border-xs-bottom mb-4 d-flex">
                  <img src="../../../../assets/images/icons/icon_anchor.svg" alt="icon" class="icon-size-16 mr-3 align-top">
                  <div class="info">
                    <h5 class="mt-0 mb-1">port cut off
                    </h5>
                    <p>{{bookingDetails.PortCutOffLcl | date : "d MMM, yyyy"}}</p>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-12 border-xs-bottom mb-4 d-flex">
                  <img src="../../../../../assets/images/icons/Icons_Clock-28.svg" alt="icon" class="icon-size-16 mr-3 align-top">
                  <div class="info">
                    <h5 class="mt-0 mb-1">Departure
                    </h5>
                    <p>{{bookingDetails.EtdLcl | date : "d MMM, yyyy"}}</p>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-12 border-xs-bottom mb-4 d-flex">
                  <img src="../../../../../assets/images/icons/Icons_Location.svg" alt="icon" class="icon-size-16 mr-3 align-top">
                  <div class="info">
                    <h5 class="mt-0 mb-1">Transit Time
                    </h5>
                    <p>+/- {{bookingDetails.TransitTime}} Days</p>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-12 border-xs-bottom mb-4 d-flex">
                  <img src="../../../../assets/images/icons/icon_ship.svg" alt="icon" class="icon-size-16 mr-3 align-top">
                  <div class="info">
                    <h5 class="mt-0 mb-1">Voyage #
                    </h5>
                    <p>{{bookingDetails.VoyageRefNum}}</p>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-12 border-xs-bottom mb-4 d-flex">
                  <img src="../../../../assets/images/icons/icon_ship.svg" alt="icon" class="icon-size-16 mr-3 align-top">
                  <div class="info">
                    <h5 class="mt-0 mb-1">Vessel Name</h5>
                    <p>{{bookingDetails.VesselName}}</p>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-12 border-xs-bottom mb-4 d-flex">
                  <img src="../../../../assets/images/icons/icon_ship.svg" alt="icon" class="icon-size-16 mr-3 align-top">
                  <div class="info">
                    <h5 class="mt-0 mb-1">Vessel #
                    </h5>
                    <p>{{bookingDetails.VesselCode}}</p>
                  </div>
                </div>
                <div class="media col-12">
                  <div class="align-self-start mr-3">
                    <img [src]="baseExternalAssets + '/' + bookingDetails.CarrierImage" alt="icon" width="62px" height="62px">
                  </div>
                  <div class="media-body">
                    <div class="details">
                      <h5 class="mt-0 mb-1">SHIPPING LINE</h5>
                      <p>{{bookingDetails.CarrierName}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- document required -->
      <h5 class="view-booking-document-heading">Documents Required</h5>
      <div class="row view-booking-document">
        <div class="col-12">
          <div class="card">

            <label class="view-booking-document-title">
              <img alt="flag icon" src="{{'../../../../../assets/images/flags/4x3/' + (bookingDetails.origin | lowercase) + '.svg'}}" class="mr-2"
                width="20"> For {{bookingDetails.PolName}}, {{bookingDetails.PolCountry}}
            </label>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a (click)="downloadDoc(certOrigin, $event)" href="javascript:;" class="primary-text" [ngClass]="{'primary-text': certOrigin && certOrigin.DocumentFileName}">
                  Certificate of Origin
                  <label class="sub-text d-flex" *ngIf="certOrigin && certOrigin.DocumentFileName">Uploaded on {{certOrigin.DocumentUploadDate | date : "d MMM, yyyy"}} {{certOrigin.DocumentUploadDate |
                    date : "H:mm"}}</label>
                </a>
                <button class="btn btn-outline-primary hvr-sweep-to-right" *ngIf="certOrigin && certOrigin.DocumentFileName && certOrigin.IsUploadable"
                  (click)="reuploadDoc(certOrigin.DocumentTypeID, certOrigin.DocumentID)">ASK TO RE-UPLOAD</button>
                  
                  <button class="btn btn-outline-primary hvr-sweep-to-right">Approve</button>
              </li>
              <li class="list-group-item">
                <a href="javascript:;" (click)="downloadDoc(invoiceDocOrigin, $event)" [ngClass]="{'primary-text': invoiceDocOrigin && invoiceDocOrigin.DocumentFileName}">
                  Invoice
                  <label class="sub-text d-flex" *ngIf="invoiceDocOrigin && invoiceDocOrigin.DocumentFileName">Uploaded on {{invoiceDocOrigin.DocumentUploadDate | date : "d MMM, yyyy"}} {{invoiceDocOrigin.DocumentUploadDate
                    | date : "H:mm"}}</label>
                </a>
                <span class="badge pointer mr-2 mt-1 hashmove-badge-warning ng-star-inserted"> PENDING APPROVAL </span>
                  <span class="badge pointer mr-2 mt-1 badge-success ng-star-inserted"> PENDING APPROVAL </span>
                <button class="btn btn-outline-primary hvr-sweep-to-right" *ngIf="invoiceDocOrigin && invoiceDocOrigin.DocumentFileName && invoiceDocOrigin.IsUploadable"
                  (click)="reuploadDoc(invoiceDocOrigin.DocumentTypeID, invoiceDocOrigin.DocumentID)">ASK TO RE-UPLOAD</button>
              </li>
              <li class="list-group-item">
                <a href="javascript:;" (click)="downloadDoc(packingListDocOrigin, $event)" [ngClass]="{'primary-text': packingListDocOrigin && packingListDocOrigin.DocumentFileName}">
                  Packing List
                  <label class="sub-text d-flex" *ngIf="packingListDocOrigin && packingListDocOrigin.DocumentFileName">Uploaded on {{packingListDocOrigin.DocumentUploadDate | date : "d MMM, yyyy"}} {{packingListDocOrigin.DocumentUploadDate
                    | date : "H:mm"}}</label>
                </a>
                <button class="btn btn-outline-primary hvr-sweep-to-right" *ngIf="packingListDocOrigin && packingListDocOrigin.DocumentFileName && packingListDocOrigin.IsUploadable"
                  (click)="reuploadDoc(packingListDocOrigin.DocumentTypeID, packingListDocOrigin.DocumentID)">ASK TO RE-UPLOAD</button>
              </li>
            </ul>
            <label class="view-booking-document-title">
              <img alt="flag icon" src="{{'../../../../../assets/images/flags/4x3/' + (bookingDetails.destination | lowercase) + '.svg'}}"
                class="mr-2" width="20"> For {{bookingDetails.PodName}}, {{bookingDetails.PodCountry}}
            </label>
            <ul class="list-group list-group-flush mb-3">
              <li class="list-group-item">
                <a href="javascript:;" (click)="downloadDoc(invoiceDocOrigin, $event)" [ngClass]="{'primary-text': invoiceDocDestination && invoiceDocDestination.DocumentFileName}">
                  Invoice
                  <label class="sub-text d-flex" *ngIf="invoiceDocDestination && invoiceDocDestination.DocumentFileName">Uploaded on {{invoiceDocDestination.DocumentUploadDate | date : "d MMM, yyyy"}} {{invoiceDocDestination.DocumentUploadDate
                    | date : "H:mm"}}</label>
                </a>
                <button class="btn btn-outline-primary hvr-sweep-to-right" *ngIf="invoiceDocDestination && invoiceDocDestination.DocumentFileName && invoiceDocDestination.IsUploadable"
                  (click)="reuploadDoc(invoiceDocDestination.DocumentTypeID, invoiceDocDestination.DocumentID)">ASK TO RE-UPLOAD</button>
              </li>
              <li class="list-group-item">
                <a href="javascript:;" (click)="downloadDoc(packingListDocOrigin, $event)" [ngClass]="{'primary-text': packingListDocDestination && packingListDocDestination.DocumentFileName}">
                  Packing List
                  <label class="sub-text d-flex" *ngIf="packingListDocDestination && packingListDocDestination.DocumentFileName">Uploaded on {{packingListDocDestination.DocumentUploadDate | date : "d MMM, yyyy"}} {{packingListDocDestination.DocumentUploadDate
                    | date : "H:mm"}}</label>
                </a>
                <button class="btn btn-outline-primary hvr-sweep-to-right" *ngIf="packingListDocDestination && packingListDocDestination.DocumentFileName && packingListDocDestination.IsUploadable"
                  (click)="reuploadDoc(packingListDocDestination.DocumentTypeID, packingListDocDestination.DocumentID)">ASK TO RE-UPLOAD</button>
              </li>
              <li class="list-group-item">
                <a href="javascript:;" (click)="downloadDoc(ladingBill, $event)" [ngClass]="{'primary-text': ladingBill && ladingBill.DocumentFileName}">
                  Bill of Lading
                  <label class="sub-text d-flex" *ngIf="ladingBill && ladingBill.DocumentFileName">Uploaded on {{ladingBill.DocumentUploadDate | date : "d MMM, yyyy"}} {{ladingBill.DocumentUploadDate |
                    date : "H:mm"}}</label>
                </a>
                <button class="btn btn-outline-primary hvr-sweep-to-right" *ngIf="ladingBill && ladingBill.DocumentFileName && ladingBill.IsUploadable"
                  (click)="reuploadDoc(ladingBill.DocumentTypeID, ladingBill.DocumentID)">ASK TO RE-UPLOAD</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--/ document required -->
    </div>
    <div class="col-xl-4 view-booking-shipment-detail-right">

      <!-- Help & Support -->
      <div class="card mb-4">
        <div class="map">
          <agm-map (mapReady)="mapInit($event)" [zoom]="zoomlevel" [mapDraggable]="false" [zoomControl]="false" [streetViewControl]="false">
            <agm-marker [iconUrl]="icon" *ngFor="let marker of mapOrgiToDest" [latitude]="marker.lat" [longitude]="marker.lng">
            </agm-marker>
            <agm-polyline [strokeWeight]="2" [strokeColor]="'#2196f3'">
              <agm-polyline-point *ngFor="let marker of mapOrgiToDest" [latitude]="marker.lat" [longitude]="marker.lng">
              </agm-polyline-point>
            </agm-polyline>
          </agm-map>
        </div>
        <div class="card-body d-flex justify-content-between">
          <div class="ports">
            <span class="d-block ports-title">Origin</span>
            <div class="icon flag-icon-20-12 align-top mr-2 pull-left">
              <img alt="flag icon" src="{{'../../../../../assets/images/flags/4x3/' + (bookingDetails.origin | lowercase) + '.svg'}}">
            </div>
            <div class="d-flex mt-2">
              <label class="ports-label">{{bookingDetails.PolCode}}</label>
              <small class="d-block">{{bookingDetails.PolName}}</small>
            </div>
          </div>
          <img alt="" class="icon-size-16 ports-direction" src="../../../../assets/images/icons/icon_route_arrow_blue.svg">
          <div class="ports">
            <span class="d-block ports-title">Destination</span>
            <div class="icon flag-icon-20-12 align-top mr-2 pull-left">
              <img alt="flag icon" src="{{'../../../../../assets/images/flags/4x3/' + (bookingDetails.destination | lowercase) + '.svg'}}">
            </div>
            <div class="d-flex mt-2">
              <label class="ports-label">{{bookingDetails.PodCode}}</label>
              <small class="d-block">{{bookingDetails.PodName}}</small>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="billing-box">
            <h5 class="card-title">
              Cargo Details
            </h5>
            <ul class="list-group list-group-flush mt-1">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="category">
                  <img src="../../../../assets/images/icons/icon_container.svg" alt="umbrella-icon" class="icon">
                  <span class="long-text">{{bookingDetails.ShippingCatName}}</span>
                </div>
                <div class="catDetail">
                  <span class="amount-text" *ngFor="let contDetail of bookingDetails.BookingContainerDetail">
                    {{contDetail.ContainerSpecDesc}} x {{contDetail.BookingContTypeQty}}
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--/ Help & Support -->

      <!-- Help & Support -->
      <div class="card">
        <div class="card-body">
          <div class="helpSupport" *ngIf="HelpDataLoaded">
            <div class="helpSupport-head">
              <img src="../../../../assets/images/icons/mob-icon.svg" alt="umbrella-icon">
              <h5>Help &amp; Support</h5>
            </div>
            <div class="helpSupport-content">
              <h4>Customer Support</h4>
              <div *ngFor="let help of helpSupport" class="address">
                <p class="address">
                  {{help.HMSupportAddress}}
                </p>
                <div class="helpLine">
                  <p>
                    Helpline : {{help.HMSupportPhone}}
                  </p>
                </div>
                <div class="dotted"></div>
              </div>
            </div>
            <div class="helpSupport-footer">
              <p>
                For complaints or issues regarding your order, visit our
                <a href="{{helpSupport[0].HMSupportWebAdd}}" class="link-hover-black" target="_blank">Help Center</a> or send us an email at
                <a class="link-hover-black" href="{{'mailto:' + helpSupport[0].HMSupportEmail}}">{{helpSupport[0].HMSupportEmail}}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--/ Help & Support -->
    </div>
  </div>
  <!--/ shipping details -->

</div>
<!--/ view booking -->
