
<section class="setup">
    
  
    <h5 class="mt-3 pt-2"> Supported Categories</h5>
    <small> Select as many of the following </small>
    <hr class="hr-solid">
  
    <div class="row">
  
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-4 mt-3">
        <div #selectService class="setup-service  text-center d-flex flex-column justify-content-center pointer active">
          <span class="pb-2">
            <img src="../../../../../assets/images/shipping/Goods.png"> </span>
          <span> Goods </span>
        </div>
      </div>
  
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-4 mt-3">
        <div #selectService class="setup-service text-center d-flex flex-column justify-content-center pointer">
          <span class="pb-2">
            <img src="../../../../../assets/images/shipping/Autos.png"> </span>
          <span> Autos </span>
        </div>
      </div>
  
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-4 mt-3">
        <div #selectService class="setup-service text-center d-flex flex-column justify-content-center pointer active">
          <span class="pb-2">
            <img src="../../../assets/images/shipping/Perishables.png"> </span>
          <span> Perishables </span>
        </div>
      </div>
  
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-4 mt-3">
        <div #selectService class="setup-service text-center d-flex flex-column justify-content-center pointer ">
          <span class="pb-2">
            <img src="../../../assets/images/shipping/HeavyItems.png"> </span>
          <span> Heavy Equipments </span>
        </div>
      </div>
  
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-4 ">
        <div #selectService class="setup-service text-center d-flex flex-column justify-content-center pointer active">
          <span class="pb-2">
            <img src="../../../assets/images/shipping/HazardousItems.png"> </span>
          <span> Hazardous Items </span>
        </div>
      </div>
  
  
      <div class="setup-continue mt-5">
        <button class="btn btn-primary btn-register hvr-sweep-to-right pull-right">Continue</button>
      </div>
    </div>
  
  </section>
  