
@import '../../../../../../../assets/scss/_variables';
.setup{
        small {
            font-size: $font-size-medium;
            font-family: $font-proxima;
            color: $secondary-text-color;
        }

.nav{
        margin-top: 2rem;
        &-item {
            flex:auto;
          text-align: center;
          background: transparent;
          background-color: transparent;
          a {
            background-color: transparent;
            border: 0px;
            text-transform: uppercase;
            font-family: $font-proxima;
            font-size: $font-size-medium;
            font-weight: $font-proxima-weight-semibold;
            color: $dark-grey-blue;
            span.badge-small {
              background: $dark-grey-blue;
            }
            &.active {
              border-bottom: 2px solid $primary-color;
              color: $primary-color;
              height: 44px;
              span.badge-small {
                background: $primary-color;
              }
            }
          }
        }
        &-link {
          background: transparent !important;
        }
      }
    &-service {
        border-radius: 4px;
        border: 1px solid $input-border;
        background: $white-color;
        height: 102px;
        width:100%;
        position: relative;
        &.active {
            box-shadow: 0px 5px 20px 0px rgba(0, 162, 223, 0.15) !important;
            border-radius: 4px;
            border: 1px solid $primary-color !important;
            background: $white-color !important;
            &:before {
                content: " ";
                background: url('../../../../../../../assets/images/icons/selection_tick.svg');
                width: 44px;
                height: 44px;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        &-box {
            border-radius: 4px;
            border: 1px solid $input-border;
            background: $white-color;
            height: 60px;
            position: relative;
            img {
                margin-right: 0.5rem;
            }
            &.active {
                box-shadow: 0px 5px 20px 0px rgba(0, 162, 223, 0.15) !important;
                border-radius: 4px;
                border: 1px solid $primary-color !important;
                background: $white-color !important;
                &:before {
                    content: " ";
                    background: url('../../../../../../../assets/images/icons/selection_tick.svg');
                    width: 44px;
                    height: 44px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }
    &-continue {
        width: 100%;
        .btn {
            text-transform: uppercase;
            padding: 0.75rem 3.75rem;
            margin-right:1.2rem;
        }
    }
}


// @media (max-width: $screen-xs-four-fourteen ) { 
//     .setup-continue{ 
  
//         margin: 0 auto;
//         width: unset;
//         .btn {
//             margin-right: 0rem;
//         }
// }
// }