@import '../../../../../assets/scss/_variables';

.registration {
    &-title {
        font-family: $font-pragmatica;
        font-weight: $font-weight-mid;
        color: $text-color-default;
    }
    &-paragraph {
        font-family: $font-proxima;
        font-weight: $font-weight-normal;
        color: $secondary-text-color;
        font-size: $font-size-large;
    }
    &-head-titles{
        span:nth-child(2){
            font-family: $font-NeoSansArabic-Medium;
        }
    }
    &-form {
        .form-group {
            input {
                border: 0;
                height: 2.9rem;
                label {
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                }
                &::placeholder {
                    color: #afafaf;
                    opacity: 1;
                }
                &:-ms-input-placeholder {
                    color: #afafaf;
                }
                &::-ms-input-placeholder {
                    color: #afafaf;
                }

                &.inputError{
                    border:1px solid $danger-color
                }

                &[type='email']{
                    direction: ltr;
                }
            }
            p.inputError {
                position: absolute; 
                line-height: 1;
                margin-top: 6px;
                color: $danger-color;
                font-size: $font-size-medium - 0.025;
              }
        }
        .info-text {
            span{
                font-size: 0.875rem;
                font-family: $font-proxima;
                color: $secondary-text-color;
                padding-top: 0.59rem;
                img {
                    width: 16px;
                }
                &:nth-child(2){
                    font-family: $font-NeoSansArabic-Regular;
                }
            }
           
        }
       
    }
    &-map-section {
        margin-top: 58px;
        agm-map {
            height: 360px;
            margin-bottom: 58px;
        }
        .select-city {
            position: absolute;
            z-index: 1;
            margin-top: 15px; // top: 0;
            margin-left: 15px;
            .dropdown-menu {
                .dropdown-item {
                    &.active,
                    &:active {
                        background: $primary-grey;
                    }
                }
            }
            .prepend-flag {
                position: absolute;
                top: 12px;
                left: 8px;
            }
            input#typeahead {
                padding-left: 1.8rem;
            }
            img {
                width: 16px;
                height: 12px;
            }
        }
    }
    .hr-solid {
        margin-top: 0.6rem !important;
        margin-bottom: 1.5rem !important;
    }
    .fancyRadioBoxes {
        label {
            font-size: $font-size-large !important;
        }
        &.dir-otherLanguage{
            label{
                font-family: $font-NeoSansArabic-Regular;
            }
        }
    }

    .select-number {
        .input-group-prepend {
            input[type="text"] {
                padding-left: 22% !important; // padding-left: 40px;
            }
            .dropdown {
                margin-top: 13px;
                position: absolute;
                margin-left: 12px;
            }
            img{
                width: 20px;
                height: 15px;
                margin-right: 5px;
                }
            .phone{
                span {
                    font-size: $font-size-medium;
                }
            }
            .country-section {
                border: 0px;
                left:-14px !important;
                background: transparent;
                ul {
                    border: 0px;
                    max-height: 200px;
                    overflow-y: scroll;
                    li.list-group-item {
                            padding-top: 0.45rem;
                            padding-bottom: 0.45rem;
                            border: none;
                            cursor: pointer;
                        img {
                            border: 1px solid $grey-border;
                        }
                    }
                }
            }
        }
        .input-group-append{
            width: 100%;
            @extend .input-group-prepend;
            input[type="text"]{
                padding-left: 0;
                padding-right: 22%;
            }
            .dropdown {
                margin-top: 12px;
                margin-right: 12px;
            }
            .country-section {
                left: 0 !important;
                right:-14px !important;
                ul{
                    padding-right: 0;
                }
            }
        }
    }
    .service-btn {
        border-radius: 4px;
        border: 1px solid $input-border;
        background: $white-color;
        min-width: 200px;
        height: 60px;
        position: relative;
        &.active {
            box-shadow: 0px 5px 20px 0px rgba(0, 162, 223, 0.15) !important;
            border-radius: 4px;
            border: 1px solid $primary-color !important;
            background: $white-color !important;
            &:before {
                content: " ";
                background: url('../../../../../assets/images/corner-selection.png');
                width: 44px;
                height: 44px;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
    .btn-register {
        font-size: $font-size-large;
        color: $white-color;
        text-transform: uppercase;
        font-weight: $font-proxima-weight-semibold;
        padding: 0.75rem;
        &:disabled{
            font-weight: $font-proxima-weight-semibold;
        }
        span:nth-child(2){
            font-family: $font-NeoSansArabic-Regular;
          }
 
    }
   
}