<section class="registration">
  <h3 class="registration-title">Registration Details</h3>
  <small class="registration-paragraph">It takes less than 15 seconds to setup your account.</small>
  <section class="registration-map-section">

    <div class="row form-group">
      <div class="col">
        <h5 class="registration-map-section-title ">
          Select Your Region
        </h5>
        <hr class="hr-solid">
        <div class="select-city">
          <img *ngIf="selectedRegion && selectedRegion.code" src="{{'../../../../../assets/images/flags/4x3/' + (selectedRegion.code | lowercase) + '.svg'}}"
            class="mr-1 prepend-flag">
          <input id="typeahead" type="text" class="form-control" [(ngModel)]="selectedRegion" [ngbTypeahead]="search"
            [resultTemplate]="rt" [inputFormatter]="formatter" placeholder="Select Region" (ngModelChange)="getAccountList(selectedRegion)" />
          <ng-template #rt let-r="result">
            <img src="{{'../../../../../assets/images/flags/4x3/' + (r.code | lowercase) + '.svg'}}" class="mr-1">
            <ngb-highlight [result]="r.title"></ngb-highlight>
          </ng-template>

        </div>
        <agm-map [zoom]="zoomlevel" [latitude]="location.lat" [longitude]="location.lng">
          <agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
        </agm-map>
      </div>

    </div>
  </section>

  <section class="registration-form" *ngIf="registrationForm">
    <div class="row">
      <div class="col-12">
        <h5 class="registration-map-section-title mt-5 d-flex justify-content-between">
          <span>
            Who Would You Like to Setup the Account for?
          </span>
          <span>من تريد إعداد الحساب؟
          </span>
        </h5>
        <hr class="hr-solid">
        <div class="row" *ngFor="let account of accountSetup; let i = index">
          <div class="col-6">
            <div class="fancyRadioBoxes">
              <input id="{{i}}" name="accountSetup" type="radio" (click)="selectAccountSetup(i, account)">
              <label for="{{i}}">
                <span></span>
                {{account.AccountNameBaseLang}}
              </label>
            </div>
          </div>
          <div class="col-6">
            <div class="fancyRadioBoxes dir-rtl">
              <input id="{{i}}" name="accountSetupArb" type="radio" (click)="selectAccountSetup(i, account)">
              <label for="{{i}}">
                <span></span>
                {{account.AccountNameOtherLang}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-12">
        <h5 class="registration-map-section-title mt-5 d-flex justify-content-between">
          <span>Service Offered </span>
          <span>الخدمات المقدمة</span>
        </h5>
        <hr class="hr-solid">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 mb-4" *ngFor="let service of serviceOffered">
            <div #selectService class="service-btn text-center d-flex flex-column justify-content-center pointer"
              (click)="serviceSelection(service, selectService)">
              <span>{{service.ServiceNameBaseLang}}</span>
              <span>{{service.ServiceNameOtherLang}}</span>
            </div>
          </div>
        </div>
      </div> -->
    </div>

    <h5 class="registration-map-section-title mt-5 d-flex justify-content-between">
      <span> Personal information</span>
      <span>معلومات شخصية</span>
    </h5>

    <hr class="hr-solid">

    <form autocomplete="off" novalidate [formGroup]="regForm" (ngSubmit)="createAccount(regForm.value)">
      <div class="row">
        <div class="col-6">
         <div class="form-group">
            <label for="leftFirstName">First Name</label>
            <input type="text" class="form-control" id="leftFirstName" placeholder="First Name" formControlName="firstName">
            <!-- <p class="formError animated fadeIn">Field Not Validate</p> -->
         </div>
        </div>  
        <div class="col-6">
            <div class="form-group">
                <label for="leftFirstName">الاسم الاول</label>
                <input type="text" class="form-control" id="leftFirstName" placeholder="المثال : جون">
                <!-- <p>Field Not Validate</p> -->
            </div>
        </div>  
        </div>
        <div class="row">
          <div class="col-6">
              <div class="form-group">
              <label for="leftLastName">Last Name</label>
              <input type="text" class="form-control" id="leftLastName" placeholder="Last Name" formControlName="lastName">
              <!-- <p class="formError animated fadeIn">Field Not Validate</p> -->
              </div>
          </div>
          <div class="col-6">
              <div class="form-group">
                  <label for="leftLastName">الاسم الأخير</label>
                  <input type="text" class="form-control" id="leftLastName" placeholder="المثال : سمىت">
              <!-- <p>Field Not Validate</p> -->
            </div>
          </div>
        </div>
          
        <div class="row">
          <div class="col-6">
            <div class="form-group">
                <label for="leftJobTitle">Job Title</label>
                <input type="text" class="form-control" id="leftJobTitle" placeholder="Job Title" formControlName="jobTitle">
                <!-- <p class="formError animated fadeIn">Field Not Validate</p> -->
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
                <label for="leftJobTitle">عنوان</label>
                <input type="text" class="form-control" id="leftJobTitle" placeholder="المثال : مدير">
            </div>
          </div>
        </div>
      
      <h5 class="registration-map-section-title mt-5 d-flex justify-content-between">
        <span>Contact Details </span>
        <span>بيانات المتصل</span>
      </h5>
      <hr class="hr-solid">

      <div class="row">
        <div class="col-6">
            <div class="form-group">
          <div class="select-number">
              <label>Phone</label>
              <div class="input-group-prepend">
                <div ngbDropdown>
                  <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
                    <div class="d-inline-block" style="width:20px;height:16px;margin-right: 10px">
                      <img *ngIf="!countryFlagImage" src="../../../../../assets/images/flags/4x3/ae.svg" alt="flags" class="img-responsive"
                        style="max-width:100%;max-height:100%;">
                      <img *ngIf="countryFlagImage" [src]="'../../../../../assets/images/flags/4x3/' + (countryFlagImage | lowercase) + '.svg'" alt="flags" 
                      class=" img-responsive" style="max-width:100%;max-height:100%;">
                    </div>
                    <span>{{phoneCode}}</span>
                  </div>
                  <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
                    <ul class="list-group">
                      <li class="list-group-item" *ngFor="let list of countryList" (click)="flag(list,'country')">
                        <div class="d-inline-block" style="width:20px;height:16px;margin-right: 10px">
                          <img [src]="'../../../../../assets/images/flags/4x3/' + (list.code | lowercase) + '.svg'" alt="{{list.code + '-flag'}}"
                            style="max-width:100%;max-height:100%;">
                        </div>
                        <span> {{list.desc[0].CountryPhoneCode}}</span>
                      </li>
                    </ul>
                  </div>
                </div>

                <input type="text" class="form-control" maxlength="12" placeholder="123456789" (keypress)="NumberValid($event)" formControlName="phone">
              </div>
                <!-- <p class="formError animated fadeIn" *ngIf="regForm.controls['phone'].hasError('required') && (regForm.controls.phone.dirty || regForm.controls.phone.touched)">This field is required</p> -->
                <p class="formError animated fadeIn" *ngIf="regForm.controls['phone'].hasError('pattern') && (regForm.controls.phone.dirty || regForm.controls.phone.touched)">Please enter valid information</p>
          </div>
          </div>
         </div>
         <div class="col-6">
            <div class="form-group">
          <div class="select-number">
              <label>رقم الهاتف المتحرك</label>
              <div class="input-group-prepend">
                  <div ngbDropdown>
                      <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
                        <div class="d-inline-block" style="width:20px;height:16px;margin-right: 10px">
                          <img *ngIf="!countryFlagImage" src="../../../../../assets/images/flags/4x3/ae.svg" alt="flags" class="img-responsive"
                            style="max-width:100%;max-height:100%;">
                          <img *ngIf="countryFlagImage" [src]="'../../../../../assets/images/flags/4x3/' + (countryFlagImage | lowercase) + '.svg'" alt="flags" 
                          class=" img-responsive" style="max-width:100%;max-height:100%;">
                        </div>
                        <span>{{phoneCode}}</span>
                      </div>
                      <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
                        <ul class="list-group">
                          <li class="list-group-item" *ngFor="let list of countryList" (click)="flag(list,'country')">
                            <div class="d-inline-block" style="width:20px;height:16px;margin-right: 10px">
                              <img [src]="'../../../../../assets/images/flags/4x3/' + (list.code | lowercase) + '.svg'" alt="{{list.code + '-flag'}}"
                                style="max-width:100%;max-height:100%;">
                            </div>
                            <span> {{list.desc[0].CountryPhoneCode}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>

                <input type="text"
                  class="form-control" maxlength="12" placeholder="123456789" (keypress)="NumberValid($event)" formControlName="phone">
              </div>
                <!-- <p class="formError animated fadeIn" *ngIf="regForm.controls['phone'].hasError('required') && (regForm.controls.phone.dirty || regForm.controls.phone.touched)">This field is required</p> -->
                <p class="formError animated fadeIn" *ngIf="regForm.controls['phone'].hasError('pattern') && (regForm.controls.phone.dirty || regForm.controls.phone.touched)">Please enter valid information</p>
          </div>
          </div>
         </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
                <label for="address">Email Address</label>
                <input type="text" class="form-control" placeholder="eg: john@company.com" formControlName="email">
                <!-- <p class="formError animated fadeIn">Field Not Validate</p> -->
            </div>
          </div>
          <div class="col-6">
              <div class="form-group">
                  <label for="address">البريد الإلكتروني</label>
                  <input type="text" class="form-control" placeholder="eg: john@company.com" >
                  <!-- <p class="formError animated fadeIn">Field Not Validate</p> -->
              </div>
            </div>
        </div>
      
        <div class="info-text">
            <p><img src="../../../assets/images/icons/icon_info.svg" alt="icons"> This will be used as your login credential</p>
          </div>
        
      <div class="row mt-5">
        <div class="col">
          <button class="btn btn-primary btn-register hvr-sweep-to-right pull-right" type="submit" [disabled]= "regForm.invalid">
            Create Account / إصنع حساب
          </button>
        </div>
      </div>
    </form>
   
  </section>

</section>
