<section class="user">
  <div class="row">
    <div class="col-xl-2 col-md-3 col-sm-3 p-0 left-section">
      <app-leftsidebar></app-leftsidebar>
      <div class="support">
          <div class="card border-0 pull-right">
            <div class="card-body">
              <h6 class="card-title">Customer Support</h6>
              <small>Helpline</small>
              <p>+9714 1234567</p>
              <small>Email</small>
              <p>support@hashmove.com</p>
            </div>
          </div>
        </div>
    </div>
    <div class="col-xl-10 col-md-9 col-sm-9 p-0 right-section-portal">
        <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
