@import '../../../../../assets/scss/_variables'; // Local Variables
$left-nav-icon-width: 20px;
$left-nav-icon-height:20px;
$leftsidebar-h3-color: #c6c8ca;
.user-dashboard-leftsidebar {
    position: sticky;
    max-height: 100%;
    top: 0;
    margin-left: 20px;
    .navbar-nav {
        h3 {
            font-size: $font-size-base;
            font-weight: $font-weight-mid;
            color: $leftsidebar-h3-color;
            text-transform: uppercase;
            margin: 0px;
        }
        ul {
            margin-left: 8px;
            li {
                padding: 10px 0 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .nav-link {
                    color: $text-color-default;
                    font-size: $font-size-large;
                    font-weight: $font-weight-mid;
                    font-family: $font-proxima;
                    img {
                        width: $left-nav-icon-width;
                        height: $left-nav-icon-height;
                        margin-right: 10px;
                        vertical-align: sub;
                    }
                    &.active {
                        .menu-text {
                            color: $primary-color;
                        }
                    }
                    &:hover {
                        color: $primary-color;
                    }
                }
                .badge {
                    background-color: #738593;
                    font-weight: normal;
                    margin-right: 5rem;
                    border-radius: 20px;
                    font-size: 0.875rem !important;
                    min-width: 20px;
                    min-height: 20px;
                    line-height: 11px;
                    padding: 5px;
                }
                @media (max-width: $screen-md-screen) {
                    .badge {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}