<section class="warehouseSetup">
  <h2>Add a warehouse </h2>
  <p class="sub-title mt-2 mb-3"> Add your warehouse and create a listing of available capacity on HashMove </p>
  <ngx-stepper #stepper class="warehouse-stepper">
    <ngx-step [label]="'1. ADD INFO'">
      <section class="warehouse ">
        <!--  warehouse-info -->
        <div class="warehouse-info">
          <div class="row">
            <div class="col-12">
              <h5 class="mt-5">General Information</h5>
              <p class="sub-title sub-heading mb-0">General Information about the listing .Enter its title , description, images
              </p>
              <hr class="hr-solid mt-3">
            </div>
            <div class="col-12">
              <form autocomplete="off" novalidate>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label>Listing Name</label>
                      <input type="text" maxlength="100" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>Property Description</label>
                      <textarea cols="30" rows="4" class="form-control" placeholder="provide details about the properties you are listing"></textarea>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label class="mb-0">Gallery (Optional)</label>
                      <small class="sub-title">Images show rthe condition of the property and are very compelling for space seekers.
                      </small>
                      <div class="document-Info d-flex flex-column mt-2">
                        <div class="file-uploader">
                          <!-- <app-ng-files-drag-n-upload (filesSelect)="selectDocx($event, 'gallery')" [configId]="'config'"> -->
                          <img src="../../../assets/images/icons/manager-icon.png" />
                          <p class="m-0 mt-3">
                            Drag here or
                            <span class="browse-span">browse</span> to upload </p>
                          <small class="drag-support"> ( Maximum size per document: 5 MB) </small>
                          <!-- </app-ng-files-drag-n-upload> -->
                        </div>
                        <div class="row uploadedDocx ">
                          <div class="col-lg-3 mt-3">
                            <div class="display-upload delete">
                              <video class="animated fadeIn" controls>
                                <source src="" type="video/mp4">
                              </video>
                              <img class="w-100" />
                              <img src="../../../../../../assets/images/icons/icon_del_round.svg" alt="del" class="pointer delete-icon" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="row">
                      <div class="col-12">
                 <h5 class="small-head mt-3">Property Description</h5>
                        <p class="sub-title sub-heading mb-0">You may add upto 1 video and 4 photos.</p>
                        <div class="documentInfo d-flex flex-column mt-3">
                          <div class="file-uploader">
                            <img src="../../../assets/images/icons/manager-icon.png">
                            <p class="m-0 pt-3"> Drag here or
                              <span class="browse-span">browse</span> to upload</p>
                            <small class="drag-support"> (supported types: pdf, jpeg, png, Maximum size per document: 4 MB) </small>
                          </div>
                        </div>
                        <div class="row uploadedDocx">
                          <div class="col-lg-3 ">
                            <div class="display-upload delete pb-3">
                              <video class="animated fadeIn" controls>
          
                                <source src="" type="video/mp4">
                              </video>
                              <img src="../../../../../../assets/images/icons/icon_del_round.svg" alt="del" class="pointer delete-icon">
                            </div>
                          </div>
                        </div>
                </div>
                </div> -->
                <div class="row ">
                  <div class="col-12">
                    <h5 class="mt-5">Property Location</h5>
                    <p class="sub-title sub-heading mb-0">Enter the exact address of the Property</p>
                    <hr class="hr-solid">
                  </div>
                  <div class="col-xl-6 col-md-6 col-sm-12">
                    <form autocomplete="off" novalidate>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          <div class="form-group select-city">
                            <label>City</label>
                            <input type="text" maxlength="100" class="form-control" placeholder="Enter City">
                            <!-- <div class="flag-container">
                                    <img src="'../../../../../assets/images/flags/4x3/ae.svg" type="image/svg+xml" class="w-auto h-auto mh-100">
                                  </div>
                            <input type="text" maxlength="100" class="form-control" placeholder="Enter City">
                            <span class="animated fadeIn" *ngIf="cityError">
                                      <p class="inputError animated fadeIn" *ngIf="locationForm.controls['city'].hasError('required') && (locationForm.controls.city.dirty || locationForm.controls.city.touched)">{{requiredFields}}</p>
                                      <p class="inputError animated fadeIn" *ngIf="!locationForm.controls['city'].hasError('pattern') && locationForm.controls['city'].hasError('minlength') && (locationForm.controls.city.dirty || locationForm.controls.city.touched)">City
                                        should be minimum 3 characters</p>
                                      <p class="inputError animated fadeIn" *ngIf="!locationForm.controls['city'].hasError('pattern') && locationForm.controls['city'].hasError('maxlength') && (locationForm.controls.city.dirty || locationForm.controls.city.touched)">City
                                        should not exceed from 100 characters</p>
                                      <p class="inputError animated fadeIn" *ngIf="locationForm.controls['city'].hasError('pattern') && (locationForm.controls.city.dirty || locationForm.controls.city.touched)">Please
                                        enter valid information</p>
                                    </span>
                             <p class="inputError animated fadeIn" *ngIf="citySelError">City should be select from dropdown</p> -->
                            <!-- <ng-template #rt let-r="result">
                                      <div class="d-flex">
                                        <div class="flag-container mr-1 flag-icon-20-12">
                                          <img src="{{'../../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}"
                                            class="w-auto h-auto mh-100">
                                        </div>
                                        <ngb-highlight [result]="r.title"></ngb-highlight>
                                      </div>
                                    </ng-template> -->
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          <div class="form-group">
                            <label>Address </label>
                            <textarea cols="30" rows="3" class="form-control" placeholder="Enter at a minimum, the street and town where the property is located"></textarea>
                            <!-- <input type="text" maxlength="200" class="form-control" placeholder="Address line 1"> -->
                            <!-- <span class="animated fadeIn" *ngIf="addressline1Error">
                                      <p class="inputError animated fadeIn" *ngIf="locationForm.controls['addressline1'].hasError('required') && (locationForm.controls.addressline1.dirty || locationForm.controls.addressline1.touched)">{{requiredFields}}</p>
                                      <p class="inputError animated fadeIn" *ngIf="!locationForm.controls['addressline1'].hasError('pattern') && locationForm.controls['addressline1'].hasError('minlength') && (locationForm.controls.addressline1.dirty || locationForm.controls.addressline1.touched)">Address
                                        should be minimum 10 characters</p>
                                      <p class="inputError animated fadeIn" *ngIf="!locationForm.controls['addressline1'].hasError('pattern') && locationForm.controls['addressline1'].hasError('maxlength') && (locationForm.controls.addressline1.dirty || locationForm.controls.addressline1.touched)">Address
                                        should not exceed from 200 characters</p>
                                      <p class="inputError animated fadeIn" *ngIf="locationForm.controls['addressline1'].hasError('pattern') && (locationForm.controls.addressline1.dirty || locationForm.controls.addressline1.touched)">Please
                                        enter valid information</p>
                                    </span> -->
                          </div>
                        </div>
                        <!-- <div class="col-lg-12 col-md-12 col-sm-12">
                              <div class="form-group">
                                <label>Address Line 2</label>
                                <input type="text" maxlength="200" class="form-control" placeholder="Address line 2"> -->
                        <!-- <span class="animated fadeIn" *ngIf="addressline2Error">
                                      <p class="inputError animated fadeIn" *ngIf="locationForm.controls['addressline2'].hasError('required') && (locationForm.controls.addressline2.dirty || locationForm.controls.addressline2.touched)">{{requiredFields}}</p>
                                      <p class="inputError animated fadeIn" *ngIf="!locationForm.controls['addressline2'].hasError('pattern') && locationForm.controls['addressline2'].hasError('minlength') && (locationForm.controls.addressline2.dirty || locationForm.controls.addressline2.touched)">Address
                                        should be minimum 10 characters</p>
                                      <p class="inputError animated fadeIn" *ngIf="!locationForm.controls['addressline2'].hasError('pattern') && locationForm.controls['addressline2'].hasError('maxlength') && (locationForm.controls.addressline2.dirty || locationForm.controls.addressline2.touched)">Address
                                        should not exceed from 200 characters</p>
                                      <p class="inputError animated fadeIn" *ngIf="locationForm.controls['addressline2'].hasError('pattern') && (locationForm.controls.addressline2.dirty || locationForm.controls.addressline2.touched)">Please
                                        enter valid information</p>
                                    </span> -->
                        <!-- </div>
                            </div> -->
                        <div class="col-lg-6 col-md-6 col-sm-12">
                          <div class="form-group">
                            <label>P.O Box</label>
                            <input type="text" maxlength="16" class="form-control">
                            <!-- <span class="animated fadeIn" *ngIf="poBoxError">
                                      <p class="inputError animated fadeIn" *ngIf="locationForm.controls['poBox'].hasError('required') && (locationForm.controls.poBox.dirty || locationForm.controls.poBox.touched)">{{requiredFields}}</p>
                                      <p class="inputError animated fadeIn" *ngIf="locationForm.controls['poBox'].hasError('minlength') && (locationForm.controls.poBox.dirty || locationForm.controls.poBox.touched)">PO
                                        address should be minimum 4 characters</p>
                                      <p class="inputError animated fadeIn" *ngIf="locationForm.controls['poBox'].hasError('maxlength') && (locationForm.controls.poBox.dirty || locationForm.controls.poBox.touched)">PO
                                        address should not exceed from 16 characters</p>
                                    </span> -->
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-6 map">
                    <!-- <agm-map [zoom]="zoomlevel" [latitude]="location.lat" [longitude]="location.lng">
                              <agm-marker [latitude]="location.lat" [longitude]="location.lng"
                                [markerDraggable]="draggable" (dragEnd)="markerDragEnd($event)"></agm-marker>
                            </agm-map> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12">
                    <h5 class="mt-5">Property Details</h5>
                    <p class="sub-title sub-heading mb-0">Provide more information about your property thatis useful for finding a match</p>
                    <hr class="hr-solid">
                  </div>
                </div>
                <div class="row">

                  <div class=" col-xl-6 col-md-6 col-sm-12 ">
                    <div class="form-group">
                      <label>Property Type</label>
                      <div class="fancyOptionBoxes checkbox pull-left mb-3">
                        <input id="fullwarehouse" name="fullwarehouse" type="checkbox">
                        <label for="fullwarehouse">
                          <span></span>
                          Full Warehouse
                        </label>
                      </div>
                      <div class="fancyOptionBoxes checkbox pull-left ml-4 mb-3">
                        <input id="sharedwarehouse" name="sharedwarehouse" type="checkbox">
                        <label for="sharedwarehouse">
                          <span></span>
                          Shared Warehouse
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row ">
                  <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label class="form-group-label">Total warehouse Space
                        <span class="sub-title sub-heading w-100 d-inline-block">Estimate total warehouse space excluding any office area.
                        </span>
                      </label>

                      <div class="input-group">
                        <input class="form-control input-dropdown" type="text">
                        <div class="input-group-append">
                          <select class="form-control input-dropdown" name="weightUnit">
                            <option value="" selected>sqft</option>
                            <option>
                              sqft
                            </option>
                          </select>
                        </div>
                      </div>
                      <!-- <span class="animated fadeIn" *ngIf="whAreaError">
                                    <p class="inputError animated fadeIn" *ngIf="generalForm.controls['whArea'].hasError('required') && (generalForm.controls.whArea.dirty || generalForm.controls.whArea.touched)">{{requiredFields}}</p>
                                    <p class="inputError animated fadeIn" *ngIf="!generalForm.controls['whArea'].hasError('pattern') && generalForm.controls['whArea'].hasError('minlength') && (generalForm.controls.whArea.dirty || generalForm.controls.whArea.touched)">Range 100 to 1,00,000</p>
                                    <p class="inputError animated fadeIn" *ngIf="!generalForm.controls['whArea'].hasError('pattern') && generalForm.controls['whArea'].hasError('maxlength') && (generalForm.controls.whArea.dirty || generalForm.controls.whArea.touched)">Range 100 to 1,00,000</p>
                                    <p class="inputError animated fadeIn" *ngIf="generalForm.controls['whArea'].hasError('pattern') && (generalForm.controls.whArea.dirty || generalForm.controls.whArea.touched)">Please
                                      enter valid information</p>
                                  </span> -->
                    </div>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label>Offered Space on HashMove</label>

                      <div class="input-group">
                        <input class="form-control input-dropdown" type="text">
                        <div class="input-group-append">
                          <select class="form-control input-dropdown" name="weightUnit">
                            <option value="" selected>sqft</option>
                            <option>
                              sqft
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label class="form-group-label">Ceiling Height
                        <span class="sub-title sub-heading w-100 d-inline-block">Maximum Availabla height for storage</span>
                      </label>

                      <div class="input-group">
                        <input class="form-control input-dropdown" type="text">
                        <div class="input-group-append">
                          <select class="form-control input-dropdown" name="weightUnit">
                            <option value="" selected>sqft</option>
                            <option>
                              sqft
                            </option>
                          </select>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-12 ">
                    <label class="form-group-label">Minimuum Lease Space
                      <span class="sub-title sub-heading w-100 d-inline-block">The minimum space that can be lend per booking</span>
                    </label>

                  </div>
                  <div class="col-xl-3 col-md-3 col-sm-12">
                    <div class="form-group">
                      <div class="input-group">
                        <input class="form-control input-dropdown" type="text">
                        <div class="input-group-append">
                          <select class="form-control input-dropdown" name="weightUnit">
                            <option value="" selected>sqft</option>
                            <option>
                              sqft
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-md-3 col-sm-12">
                    <div class="form-group">
                      <div class="input-group">
                        <input class="form-control input-dropdown" type="text">
                        <div class="input-group-append">
                          <select class="form-control input-dropdown" name="weightUnit">
                            <option value="" selected>sqft</option>
                            <option>
                              sqft
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label class="form-group-label">Minimuum Lease term
                        <span class="sub-title sub-heading w-100 d-inline-block">The shortest term that this property can be rented for
                        </span>
                      </label>

                    </div>
                    <div class="fancyOptionBoxes checkbox pull-left mr-4 ">
                      <input id="Radios" name="Radios" type="radio">
                      <label for="Radios">
                        <span></span>
                        1 Day
                      </label>
                    </div>
                    <div class="fancyOptionBoxes checkbox pull-left mr-4 ">
                      <input id="Radios" name="Radios" type="radio">
                      <label for="Radios">
                        <span></span>
                        1 Week
                      </label>
                    </div>
                    <div class="fancyOptionBoxes checkbox pull-left mr-4 mb-3">
                      <input id="Radios" name="Radios" type="radio">
                      <label for="Radios">
                        <span></span>
                        1 Month
                      </label>
                    </div>
                    <div class="fancyOptionBoxes checkbox pull-left mr-4 mb-3">
                      <input id="Radios" name="Radios" type="radio">
                      <label for="Radios">
                        <span></span>
                        3 Months
                      </label>
                    </div>
                    <div class="fancyOptionBoxes checkbox pull-left mr-4 mb-3">
                      <input id="Radios" name="Radios" type="radio">
                      <label for="Radios">
                        <span></span>
                        6 Month
                      </label>
                    </div>
                    <div class="fancyOptionBoxes checkbox pull-left mr-4 mb-3">
                      <input id="Radios" name="Radios" type="radio">
                      <label for="Radios">
                        <span></span>
                        12 months
                      </label>
                    </div>
                    <div class="fancyOptionBoxes checkbox pull-left mr-4 mb-3">
                      <input id="Radios" name="Radios" type="radio">
                      <label for="Radios">
                        <span></span>
                        Any lease term
                      </label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row ">
            <div class="col-12">
              <h5 class="mt-5">Other Amenities</h5>
              <hr class="hr-solid">
            </div>

            <div class=" col-xl-6 col-md-6 col-sm-12 mt-3">
              <div class="form-group">
                <div class="fancyOptionBoxes warehousing-services">
                  <input id="bonded" name="bonded" type="checkbox">
                  <label for="bonded">
                    <span></span>
                    Bonded Warehouse
                  </label>
                </div>
                <div class="fancyOptionBoxes warehousing-services mt-3">
                  <input id="transportation" name="transportation" type="checkbox">
                  <label for="transportation">
                    <span></span>
                    Transportation Service
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-6">
              <button class="btn btn-primary btn-register hvr-sweep-to-right text-uppercase pl-5 pr-5 pt-2 pb-2 disable">
                cancel</button>
            </div>
            <div class="col-6">
              <button class="btn btn-primary btn-register hvr-sweep-to-right text-uppercase pl-4 pr-4 pt-2 pb-2 pull-right" (click)="stepper.next()">
                save & add pricing </button>
            </div>
          </div>

        </div>
        <!--  warehouse-info -->
      </section>
    </ngx-step>
    <ngx-step [label]="'2. ADD RATES'">
      <section class="Add-warehouse ">
        <h5 class="mt-5">Add rates</h5>
        <p class="sub-title mt-2 mb-2">you can add multiple rates for different dates / months </p>
        <div class="Add-warehouse-rates mt-3">
          <table class="table table-hover  border">
            <thead>
              <tr>
                <th>VALIDITY DATE</th>
                <th>DRY STORAGE RATES
                  <span>(per CBM per Day)</span>
                </th>
                <th>DRY STORAGE RATES
                  <span>(per CBM per Day)</span>
                </th>
                <th>COLD STORAGE RATE
                  <span>(per CBM per Day)</span>
                </th>
                <th>COLD STORAGE RATE
                  <span>(per CBM per Day)</span>
                </th>
                <th>COLD STORAGE RATE
                  <span>(per CBM per Day)</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label>From - To-- </label>
                </td>
                <td>
                  <div ngbDropdown class="select-country-list pull-left mr-2">
                    <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
                      <span class="text">AED</span>
                    </div>
                    <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
                      <ul class="list-group text-justify">
                        <li class="list-group-item">
                          <span> 092</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <label> 0.00 </label>
                </td>
                <td>
                  <div ngbDropdown class="select-country-list pull-left mr-2">
                    <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
                      <span class="text">AED</span>
                    </div>
                    <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
                      <ul class="list-group text-justify">
                        <li class="list-group-item">
                          <span> 092</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <label> 0.00 </label>
                </td>
                <td>
                  <div ngbDropdown class="select-country-list pull-left mr-2">
                    <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
                      <span class="text">AED</span>
                    </div>
                    <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
                      <ul class="list-group text-justify">
                        <li class="list-group-item">
                          <span> 092</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <label> 0.00 </label>
                </td>
                <td>
                  <div ngbDropdown class="select-country-list pull-left mr-2">
                    <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
                      <span class="text">AED</span>
                    </div>
                    <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
                      <ul class="list-group text-justify">
                        <li class="list-group-item">
                          <span> 092</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <label> 0.00 </label>
                </td>
                <td>
                  <div ngbDropdown class="select-country-list pull-left mr-2">
                    <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
                      <span class="text">AED</span>
                    </div>
                    <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
                      <ul class="list-group text-justify">
                        <li class="list-group-item">
                          <span> 092</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <label> 0.00 </label>
                </td>
              </tr>

              <tr>
                <td colspan="6">
                  <span class="add-icon">
                    <img src="../../../../../../assets/images/icons/icon_add.svg"> Add Another Rate
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

        <div class="row">
          <div class="col-6 Add-warehouse-link mt-3" (click)="stepper.prev()">
            <a class="hvr-icon-back grey-anc-btn" href="javascript:;">
              <img src="../../../../../assets/images/icons/icon_arrow_left.svg" alt="icon" class="icon-size-14 hvr-icon">
              <span class="link-hover-grey">go back </span>
            </a>
          </div>

          <div class="col-6 mt-3">
            <button class="btn btn-primary btn-register hvr-sweep-to-right pull-right">
              save rates</button>
          </div>
        </div>


      </section>
    </ngx-step>
  </ngx-stepper>
</section>

<section class="commission-rates mt-5">

  <div class="row">
    <div class="col-12">
      <h5 class="mt-5">Commission</h5>
      <hr class="hr-solid">
    </div>
  </div>

  <div class="row">
    <div class=" col-xl-6 col-md-6 col-sm-12 mt-3">
      <div class="form-group">
        <div class="fancyOptionBoxes checkbox pull-left ">
          <input id="bonded" name="bonded" type="checkbox">
          <label for="fixed Amount">
            <span></span>
            Fixed Amount per booking
          </label>
        </div>
        <div class="fancyOptionBoxes checkbox  pull-left ml-4">
          <input id="transportation" name="transportation" type="checkbox">
          <label for="Fixed pecentage">
            <span></span>
            Fixed percentage per booking
          </label>
        </div>
      </div>
    </div>

  </div>

  <div class="row ">
    <div class="col-2">
      <div class="form-group mt-3 ">
        <label>Per Booking</label>
        <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="%">
      </div>
    </div>

    <div class="col-4">
      <div class="form-group mt-3">
          <label for="inputState">Minimum Commission</label>
          <div class="input-group">
        <div class="input-group-prepend">
        <select id="inputState" class="form-control input-dropdown">
          <option selected>AED</option>
          <option>12</option>
        </select>
        </div>

        <input type="text" class="form-control" aria-label="Text input with dropdown button">
        </div>

        <!-- <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><select><option>1</option></select></div>
            </div>
            <input class="form-control ng-untouched ng-pristine ng-valid" maxlength="15" placeholder="0.00" type="text" ng-reflect-maxlength="15">
          </div> -->
      </div>

    </div>

  </div>

</section>