    @import '../../../../../assets/scss/_variables';

    .warehouseSetup {
      .warehouse {
        &-info {
          .sub-title {
            &.sub-heading {
              font-size: $font-size-medium;
              line-height: 1;
            }
          }

          h5.small-head {
            font-size: $font-size-large;
            font-weight: normal;
          }

          .document-Info {
            margin-bottom: 1.2rem;

            .uploaded-file {
              border: 1px solid $secondary-color;
              border-radius: 3px;
            }

            .file-uploader {
              border: 1px dashed #e1d8d8;
              border-radius: 4px;
              height: 145px;
              background-color: white;

              .drag-support {
                color: $text-grey;
                font-size: $font-size-medium;
                position: relative;
              }

              .browse-span {
                color: $secondary-color;
                font-weight: 500;
              }

              text-align: center;

              img {
                margin-top: 20px;
              }
            }

            .uploadedDocx {
              .display-upload {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;

                img,
                video {
                  border-radius: 4px;
                  border: 1px solid $input-border;
                  width: 100%;
                  min-height: 100%;
                  max-height: 10rem;
                  display: flex;
                }

                .delete-icon {
                  position: absolute;
                  top: -10px;
                  right: -8px;
                  min-height: auto;
                  background: $white-color;
                  padding: 3px;
                  border-radius: 50%;
                  width: 23px;
                  height: auto;
                  border: none;
                }
              }
            }

            &.removeBorder {
              border: none;
            }
          }

          agm-map {
            height: 336px;
            width: 100%;
            margin-top: 2.5rem;
            display: inline-block;
          }

          .add-icon {
            span {
              color: $secondary-grey;
              font-family: $font-proxima;
              font-size: $font-size-medium;
              position: absolute;
              margin-left: 1.5rem;
            }

            img {
              width: 16px;
              height: 16px;
              margin-top: 2px;
            }
          }
        }
      }

      .city-dropdown {
        position: relative;
        display: inline-block;
        width: 100%;

        >.flag-container {
          width: 16px;
          height: 12px;
          position: absolute;
          left: 20px;
          top: 19px;
          display: flex;

          img {
            width: 16px;
            height: 12px;
            border: 1px solid $primary-grey;
          }
        }

        input {
          &.routeSelected {
            padding-left: 2.8rem;
          }
        }

        &.currency {
          ngb-typeahead-window {
            top: auto !important;
            bottom: 50px;
          }
        }
        &.currency {
            input {
                background: none;
                height: 2.5rem;
                line-height: 2.5;
                border: none;

                &:focus {
                    border: none;
                }
            }
        }
      }






      // Add warehouse css
      .Add-warehouse {
        &-rates {
          .table-hover {
            margin: 0px;

            thead {
              tr {
                th {
                  font-size: $font-size-medium;
                  color: #7c8186;
                  font-weight: normal;
                  width: 10%;
                  vertical-align: middle;

                  span {
                    font-size: 0.8125rem;
                  }
                }
              }
            }

            tbody {
              label {
                font-family: "Proxima Nova";
                color: $place-holder-color;
                font-style: italic;
              }

              span {
                color: $color-topmenuactive;
                font-family: $font-proxima;
                font-size: $font-size-medium; // position: absolute;

                img {
                  width: 16px;
                  height: 16px;
                  margin-right: 0.625rem;
                }
              }

              .select-country-list {
                .text {
                  font-family: $font-proxima;
                  font-size: $font-size-large;
                  position: absolute;
                  color: $color-menuheading-black;
                  line-height: 2;
                }

                .dropdown-toggle {
                  &::after {
                    margin-top: 0.7rem !important;
                    margin-left: 2.255rem !important;
                  }
                }
              }
            }
          }
        }

        &-link {
          span {
            color: $secondary-grey;
            text-decoration: none;
            font-size: $font-size-medium;
            font-family: $font-proxima;
            text-transform: uppercase;
          }

          img {
            position: relative;
            top: -2px;
          }
        }

        button {
          font-size: $font-size-large;
          color: $white-color;
          text-transform: uppercase;
          padding: 0.75rem 1.45rem;

          &:disabled {
            font-weight: $font-proxima-weight-semibold;
          }
        }
      }

      @media (max-width: $screen-xs-screen) {
        .documentInfo {
          .file-uploader {
            height: 175px !important;
          }
        }

        .Add-warehouse {
          button {
            padding: 0.75rem 0.5rem !important;
          }
        }
      }

      .commission-rates {
        .checkbox {
          label {
            font-size: 0.875rem !important;
            line-height: 1.5;
          }
        }

      }
    }
