<div class="provider-modal animated fadeIn">
  <div class="modal-header">
    <h4 class="provider-modal-title">Update</h4>
    <a class="pointer crossIcon" (click)="closeModal(null)">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
    </a>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Shipping Lines">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Cargo Type">
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Container">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Rate">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Rate Validity">
        </div>
      </div>
        <div class="col-6">
          <div class="form-group">
            <input type="text" class="form-control">
          </div>
        </div>


    </div>
  </div>
</div>