@import "../../../../assets/scss/_variables";

.seaRates-modal {
  .modal-body {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;

    .model-sub-head {
      color: $secondary-grey;
      font-family: $font-proxima;
      font-weight: 500;
      font-size: .875rem;
      text-transform: uppercase;
    }

    .row {
      &.bg-white {
        padding-right: 15px;
        margin-left: -30px;
        margin-right: -30px;
        padding-left: 15px;
        padding-bottom: 30px;

        .dropdown-menu {
          padding: 0; 
          button {
            .flag-container {
              width: 15px;
              height: 12px;
              display: flex;
              margin-top: 5px;
              margin-right: 10px !important;
              img {
                border: 1px solid $primary-grey;
            }
            }
          }
        }

        .origin,
        .destination {
          position: relative;

          >.flag-container {
            width: 16px;
            height: 24px;
            align-items: center;
            position: absolute;
            left: 10px;
            top: 11px;
            img {
              border: 1px solid $primary-grey;
          }
          }

          .routeSelected {
            padding-left: 30px !important;
          }
        }
      }

      .form-group {
        .input-group {
          .input-group-text {
            background: $color-white;
            border: 1px solid $provider-input-border;
            font-size: $font-size-medium;
          }

          input {
            border-bottom-left-radius: 0rem !important;
            border-top-left-radius: 0rem !important;
          }
        }
      }

    }
  }

  .date-control {
    .dateIcon {
      position: relative;

      input {
        padding-left: 2.625rem;
      }

      &:before {
        content: url("../../../../assets/images/icons/Icons_Calendar.svg");
        position: absolute;
        left: 15px;
        top: 14px;
        width: 16px;
        height: 16px;
        z-index: 4;
        opacity: 0.5;
      }
    }

    ngb-datepicker {
      border: 1px solid $primary-color;

      .ngb-dp-header {
        background: none !important;

        .ngb-dp-arrow-btn {
          &:hover {
            box-shadow: none !important;
          }

          .ngb-dp-navigation-chevron {
            color: $primary-color !important;
          }
        }

        ngb-datepicker-navigation {
          .ngb-dp-month-name {
            font-size: 0.9375rem;
            color: $text-color-default;
          }
        }
      }

      .ngb-dp-months {
        .ngb-dp-month {
          position: relative;

          &:first-child {
            &:after {
              content: "";
              width: 1px;
              height: 80%;
              background: $secondary-grey;
              position: absolute;
              top: 40px;
              right: -10px;
              opacity: 0.3;
            }
          }
        }

        .ngb-dp-week {
          background: none !important;

          .ngb-dp-weekday {
            color: $color-date;
            font-style: normal !important;
          }

          .ngb-dp-day {
            font-size: .875rem;

            &:last-child {
              .custom-day {
                color: $danger-color !important;
              }
            }

            .custom-day {
              border-radius: 10px 0 !important;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $color-date;

              &.range {
                background-color: $primary-color !important;
                color: $color-white;
                border-radius: 0 !important;
              }

              &.faded {
                background-color: $primary-color !important;
                opacity: 0.5;
              }

              &:hover {
                background-color: #d2d2d238 !important;
                color: $color-date !important;
              }
            }
          }
        }
      }
    }
  }

  ngb-typeahead-window {
    max-height: 200px;
    overflow-y: auto;

    .dropdown-item {

      &.active,
      &:active {
        background: $primary-grey;
      }
    }
  }
}
