<div class="seaRates-modal animated fadeIn">
  <div class="modal-header">
    <h4 class="provider-modal-title">Add / Update Rates</h4>
    <a class="pointer crossIcon" (click)="closePopup()">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
    </a>
  </div>
  <div class="modal-body bg-light">
    <div class="row bg-white popup-white">
      <div class="col-12">
        <h5 class="model-sub-head mt-4">Route Info</h5>
      </div>
      <div class="col-4" *ngIf="selectedData.forType == 'FCL'">
        <div class="form-group">
          <label>Shipping Line</label>
          <input type="text" class="form-control" placeholder="e.g: Maersk Shipping" [(ngModel)]="selectedShipping"
            [ngbTypeahead]="shippings" [resultTemplate]="st" [inputFormatter]="formatter">
          <ng-template #st let-r="result">
            <ngb-highlight [result]="r.CarrierName"></ngb-highlight>
          </ng-template>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Port of Origin</label>
          <div class="origin">
            <div class="flag-container">
              <img *ngIf="filterOrigin && filterOrigin.CountryCode"
                src="{{'../../../../../assets/images/flags/4x3/' + (filterOrigin.CountryCode | lowercase) + '.svg'}}"
                type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
            </div>
            <input class="form-control" [(ngModel)]="filterOrigin" placeholder="e.g: Dubai" type="text"
              [ngClass]="{'routeSelected': filterOrigin && filterOrigin.CountryCode}" [ngbTypeahead]="ports"
              [resultTemplate]="rt" [inputFormatter]="portsFormatter" />
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Port of Destination</label>
          <div class="destination">
            <div class="flag-container">
              <img *ngIf="filterDestination && filterDestination.CountryCode"
                src="{{'../../../../../assets/images/flags/4x3/' + (filterDestination.CountryCode | lowercase) + '.svg'}}"
                type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
            </div>
            <input placeholder="e.g: Karachi" [(ngModel)]="filterDestination" type="text" class="form-control"
              [ngClass]="{'routeSelected': filterDestination && filterDestination.CountryCode}" [ngbTypeahead]="ports"
              [resultTemplate]="rt" [inputFormatter]="portsFormatter" />
          </div>
          <ng-template #rt let-r="result">
            <div class="d-flex">
              <div class="flag-container mr-1">
                <img src="{{'../../../../../assets/images/flags/4x3/' + (r.CountryCode | lowercase) + '.svg'}}"
                  class="mw-100 w-auto h-auto mh-100">
              </div>
              <ngb-highlight [result]="r.PortName"></ngb-highlight>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="row bg-white popup-white border-bottom">
      <div class="col-6">
        <div class="form-group">
          <label>Cargo Type</label>
          <select class="form-control" [(ngModel)]="selectedCategory" (change)="cargoTypeChange(selectedCategory)">
            <option [value]="null" disabled>--Select--</option>
            <option *ngFor="let cargo of allCargoType" [value]="cargo.ShippingCatID">{{cargo.ShippingCatName}}</option>
          </select>
        </div>
      </div>
      <div class="col-6" *ngIf="selectedData.forType == 'FCL'">
        <div class="form-group">
          <label>Container Size</label>
          <select class="form-control" [(ngModel)]="selectedContSize" [disabled]="!selectedCategory">
            <option [value]="null" disabled>--Select--</option>
            <option *ngFor="let container of allContainers" [value]="container.ContainerSpecID">
              {{container.ContainerSpecShortName}}</option>
          </select>
        </div>
      </div>
      <!-- <div class="col-6" *ngIf="selectedData.forType == 'LCL'">
          <div class="form-group">
            <label>Handling Unit</label>
            <select class="form-control" [(ngModel)]="selectedHandlingUnit">
              <option [value]="null" disabled>--Select--</option>
              <option *ngFor="let handle of allHandlingType" [value]="handle.ContainerSpecID">{{handle.ContainerSpecShortName}}</option>
            </select>
          </div>
        </div> -->
    </div>
    <div class="additional">
      <div class="row">
        <div class="col-12">
          <h5 class="model-sub-head mt-4 mb-4">Rate</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-md-3 col-sm-12">
          <div class="row combine-filed-popup">
            <div class="col-6 pr-0">
              <div class="combine-filed-popup-left">Currency</div>
            </div>
            <div class="col-6 pl-0">
              <div class="origin combine-filed-popup-right">
                <div class="flag-container">
                  <img *ngIf="selectedCurrency && selectedCurrency.CountryCode"
                    src="{{'../../../../../assets/images/flags/4x3/' + (selectedCurrency.CountryCode | lowercase) + '.svg'}}"
                    type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                </div>
                <input type="text" placeholder="AED" [(ngModel)]="selectedCurrency" class="form-control"
                  [ngbTypeahead]="currencies" [resultTemplate]="crt" [inputFormatter]="currencyFormatter"
                  [ngClass]="{'routeSelected': selectedCurrency && selectedCurrency.CountryCode}">
                <ng-template #crt let-r="result">
                  <div class="d-flex">
                    <div class="flag-container">
                      <img src="{{'../../../../assets/images/flags/4x3/' + (r.CountryCode | lowercase) + '.svg'}}"
                        style="max-width:20px;max-height:22px;"></div>
                    <ngb-highlight [result]="r.CurrencyCode"></ngb-highlight>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xl-4 col-md-4 col-sm-12">
          <div class="row combine-filed-popup">
            <div class="col-6 pr-0">
              <div class="combine-filed-popup-left" *ngIf="selectedData.forType == 'FCL'">Freight Charges</div>
              <div class="combine-filed-popup-left" *ngIf="selectedData.forType == 'LCL'">Rate / cbm</div>
            </div>
            <div class="col-6 pl-0">
              <div class="form-group combine-filed-popup-right">
                <input type="text" maxlength="1" maxlength="15" class="form-control" placeholder="0.00"
                  [(ngModel)]="selectedPrice" (keypress)="numberValid($event)">
              </div>
            </div>
          </div>
        </div>


        <div class="col-xl-5 col-md-5 col-sm-12">
          <div class="row combine-filed-popup">
            <div class="col-4 pr-0">
              <div class="combine-filed-popup-left">Validity Date</div>
            </div>
            <div class="col-8 pl-0 date-control">
              <div class="form-group combine-filed-popup-right dateIcon">
                <input id="dpicker" autocomplete="off" #rangeDp class="form-control" placeholder="Start Date - End Date"
                  name="dp" ngbDatepicker [dayTemplate]="t" [autoClose]="false" placement="top-right"
                  [outsideDays]="true" [navigation]="false" [displayMonths]="2" [maxDate]="maxDate" [minDate]="minDate"
                  #dp="ngbDatepicker" (click)="dp.toggle()">
                <ng-template #t let-date="date" let-focused="focused">
                  <span class="custom-day"
                    [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                    [class.faded]="isHovered(date) || isInside(date)" (click)="onDateSelection(date)"
                    (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Additional charges -->
      <div class="row" *ngIf="selectedData.forType == 'FCL'">
        <div class="col-12">
          <h5 class="model-sub-head mt-4 pull-left">Additional Charges At Port Of Origin</h5>
        </div>
        <div class="col-xl-4" *ngFor="let origin of selectedOrigins; let i=index">
          <div class="row combine-filed-popup" [ngClass]="addOriginActive ? 'active' : ''">
            <div class="col-4 pr-0">
              <div ngbDropdown #originDropdown="ngbDropdown" class="combine-filed-popup-left-btn"
                (openChange)="dropdownToggle($event, 'origin')">
                <button class="btn" id="addCharge" ngbDropdownToggle>
                  {{selectedOrigins[i]?.addChrName || 'Select' | limitTo : 7 }}
                </button>
                <div ngbDropdownMenu aria-labelledby="originExport">
                  <button *ngIf="!isOriginChargesForm" class="dropdown-item custom-label has-open"
                    (click)="showCustomChargesForm('origin')">
                    <img src="../../../../assets/images/icons/icon_add.svg" width="16" alt="">
                    Add Custom Label
                  </button>
                  <ng-container *ngIf="!isOriginChargesForm">
                    <button class="dropdown-item" *ngFor="let charge of originsList"
                      (click)="selectCharges('EXPORT', charge, i)">{{charge.addChrName}}</button>
                  </ng-container>
                  <div class="row dropdown-item charges-form" *ngIf="isOriginChargesForm">
                    <div class="col-12">
                      <div class="form-group">
                        <label>Add Custom Label</label>
                        <input class="form-control has-open" type="text" [(ngModel)]="lablelName"
                          (focus)="labelValidate = true">
                        <small class="text-danger d-block" *ngIf="!labelValidate">Please provide name for your custom
                          label</small>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <select class="form-control has-open" [(ngModel)]="surchargeType"
                          (focus)=" surchargeBasisValidate = true">
                          <option *ngFor="let item of surchargesList" selected [value]="item.codeValID">
                            {{item.codeValDesc}}</option>
                        </select>
                        <small class="text-danger d-block" *ngIf="!surchargeBasisValidate">Please select surcharge
                          basis</small>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary mt-3 has-open hvr-sweep-to-right w-100" (click)="addCustomLabel()">Add
                        Label</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 pl-0 pr-0">
              <div class="form-group combine-filed-popup-mid">
                <input type="text" maxlength="15" class="form-control" [(ngModel)]="origin.Price" placeholder="0.00"
                  (keypress)="numberValid($event)">
              </div>
            </div>
            <div class="col-4 pl-0">
              <div class="origin combine-filed-popup-right">
                <div class="flag-container">
                  <img *ngIf="origin.currency && origin.currency.CountryCode"
                    src="{{'../../../../../assets/images/flags/4x3/' + (origin.currency.CountryCode | lowercase) + '.svg'}}"
                    type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                </div>
                <input type="text" placeholder="AED" (ngModelChange)="getVal(i, $event, 'origin')"
                  [(ngModel)]="origin.currency" class="form-control" [ngbTypeahead]="currencies" [resultTemplate]="crt"
                  [inputFormatter]="currencyFormatter"
                  [ngClass]="{'routeSelected': origin.currency && origin.currency.CountryCode}">
                <ng-template #crt let-r="result">
                  <div class="d-flex">
                    <div class="flag-container">
                      <img src="{{'../../../../assets/images/flags/4x3/' + (r.CountryCode | lowercase) + '.svg'}}"
                        style="max-width:20px;max-height:22px;"></div>
                    <ngb-highlight [result]="r.CurrencyCode"></ngb-highlight>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <a (click)="addMoreCharges('origin')" href="javascript:;" class="addAnother animated fadeIn">Add More
            Charges</a>
        </div>
      </div>
      <div class="row" *ngIf="selectedData.forType == 'FCL'">
        <div class="col-12">
          <h5 class="model-sub-head mt-4 pull-left">Additional Charges At Port Of Destination</h5>
        </div>

        <div class="col-xl-4" *ngFor="let destination of selectedDestinations; let i=index">
          <div class="row combine-filed-popup" [ngClass]="addDestinationActive ? 'active' : ''">
            <div class="col-4 pr-0 pl-0">
              <div ngbDropdown #destinationDropdown="ngbDropdown" (openChange)="dropdownToggle($event, 'destination')"
                class="combine-filed-popup-left-btn" placement="top-left">
                <button class="btn" id="destinationExport" ngbDropdownToggle> {{selectedDestinations[i]?.addChrName || 'Select' | limitTo : 12 }} </button>
                <div ngbDropdownMenu aria-labelledby="destinationExport">
                  <button *ngIf="!isDestinationChargesForm" class="dropdown-item custom-label has-open" (click)="showCustomChargesForm('destination')">
                    <img src="../../../../assets/images/icons/icon_add.svg" width="16" alt="">
                    Add Custom Label
                  </button>
                  <ng-container *ngIf="!isDestinationChargesForm">
                    <button class="dropdown-item" *ngFor="let charge of destinationsList"
                      (click)="selectCharges('IMPORT', charge, i)">{{charge.addChrName}}</button></ng-container>
                  <div class="row dropdown-item charges-form" *ngIf="isDestinationChargesForm">
                    <div class="col-12">
                      <div class="form-group">
                        <label>Add Custom Label</label>
                        <input class="form-control has-open" type="text" [(ngModel)]="lablelName" (focus)="labelValidate = true">
                        <small class="text-danger d-block" *ngIf="!labelValidate">Please provide name for your custom
                          label</small>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <select class="form-control has-open" [(ngModel)]="surchargeType"
                          (focus)="surchargeBasisValidate = true">
                          <option *ngFor="let item of surchargesList" selected [value]="item.codeValID">
                            {{item.codeValDesc}}</option>
                        </select>
                        <small class="text-danger d-block" *ngIf="!surchargeBasisValidate">Please select surcharge
                          basis</small>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary mt-3 has-open hvr-sweep-to-right w-100" (click)="addCustomLabel()">Add Label</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 pl-0 pr-0">
              <div class="form-group mb-0 combine-filed-popup-right">
                <input type="text" maxlength="15" class="form-control" [(ngModel)]="destination.Price"
                  placeholder="0.00" (keypress)="numberValid($event)">
              </div>
            </div>
            <div class="col-4 pl-0 pr-0">
              <div class="origin combine-filed-popup-right">
                <div class="flag-container">
                  <img *ngIf="destination.currency && destination.currency.CountryCode"
                    src="{{'../../../../../assets/images/flags/4x3/' + (destination.currency.CountryCode | lowercase) + '.svg'}}"
                    type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                </div>
                <input type="text" placeholder="AED" (ngModelChange)="getVal(i, $event, 'destination')"
                  [(ngModel)]="destination.currency" class="form-control" [ngbTypeahead]="currencies"
                  [resultTemplate]="crt" [inputFormatter]="currencyFormatter"
                  [ngClass]="{'routeSelected': destination.currency && destination.currency.CountryCode}">
                <ng-template #crt let-r="result">
                  <div class="d-flex">
                    <div class="flag-container">
                      <img src="{{'../../../../assets/images/flags/4x3/' + (r.CountryCode | lowercase) + '.svg'}}"
                        style="max-width:20px;max-height:22px;"></div>
                    <ngb-highlight [result]="r.CurrencyCode"></ngb-highlight>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <a (click)="addMoreCharges('destination')" href="javascript:;" class="addAnother animated fadeIn">Add More
            Charges</a>
        </div>
      </div>

      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button class="btn btn-primary pl-3 pr-3 mt-4 hvr-sweep-to-right mr-4" (click)="savedraftrow('saveNadd')">SAVE
            &
            ADD ANOTHER</button>
          <button class="btn btn-primary pl-3 pr-3 mt-4 hvr-sweep-to-right" (click)="savedraftrow('onlySave')">SAVE &
            CLOSE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>