@import "../../../../../assets/scss/_variables";
.passwordPage {
  .protectedIcon{
    img{
      width:350px;
    }
  }
  &-title {
    font-size: $font-size-large + $font-size-large;
    color: $text-color-default;
    font-weight: $font-weight-mid;
    font-family: $font-pragmatica;
  }
  &-paragraph {
    font-size: $font-size-large;
    color: $secondary-text-color;
    font-family: $font-proxima;
    font-weight: $font-weight-normal;
  }
  .hr-solid {
    margin-top: 0.9375rem !important;
    margin-bottom: 1.5rem !important;
  }
  .password-form {
    .form-group{
      label {
        font-size: $font-size-large;
        font-family: $font-proxima;
        font-weight: $font-weight-normal;
        color: $text-color-default;
      }
      input{
       height: 48px;
        &.inputError{
          border: 1px solid $danger-color
        }
      }
    .confirmPassword{
      position: relative;
      i{
      position: absolute;
      right: 15px;
      top: 15px;
      &.black {
        color: $text-color-default
      }
      &.grey {
        color: #afafaf;
      }
    }
    p.inputError {
      position: absolute; 
      margin-top: -20px;
      color: $danger-color;
      font-size: $font-size-medium - 0.025;
    }
 
    }
  }
  .btn{
    padding: 1.45rem 0rem;
    line-height: 0
  }
 
  }
}
