<div class="user-dashboard bookings">
    <!-- row -->
    <div class="user-dashborad-welcome-section">
        <!-- <app-placeholder [heading]="'head'"></app-placeholder> -->
        <h3>Hey beryl Logistics,
            <span>Welcome Back</span>
        </h3>
        <p  class="user-info">Last logged in login in 3 days back from 123.12346782 United Arab Emirates </p>
    </div>
    <!--/ row -->

      <!-- booking summery -->
  <div  class="row">
    <div class="summary-section col-md-12 pr-0">
      <!-- <app-placeholder [heading]="'head'"></app-placeholder> -->
      <h4 class="summary-title">Revenue Summary</h4>
      <div class="booking-summery">
        <div class="row pointer">
          <!-- Booking Summery Col -->
          <div class="summary-section-boxes col-xl-4 col-md-4 col-sm-12">
            <!-- <div class="booking-summary">
              <app-placeholder></app-placeholder>
            </div> -->
            <div class="summarybox booking-summary">
              <div class="summary-icon">
                <img src="../../../../../assets/images/icons/icon_booking_total.svg">
              </div>
              <div class="summary-box-title">
                <h5>Total in voice Amount</h5>
              </div>
              <div class="summery-quantity">
                  <small>USD</small>
                <span>1.0M</span>
              </div>
            </div>
          </div>
          <!--/ Booking Summery Col -->
          <!-- Booking Summery Col2 -->
          <div class="summary-section-boxes col-xl-4 col-md-4 col-sm-12">
            <!-- <div class="booking-summary">
              <app-placeholder></app-placeholder>
            </div> -->
            <div class="summarybox booking-summary">
              <div class="summary-icon">
                <img src="../../../../../assets/images/icons/icon_booking_saved.svg">
              </div>
              <div class="summary-box-title">
                <h5>Recieved</h5>
              </div>
              <div class="summery-quantity">
                  <small>USD</small>
                <span>1.5M</span>
              </div>
            </div>
          </div>
          <!--/ Booking Summery Col2 -->
          <!-- Booking Summery Col3 -->
          <div class="summary-section-boxes col-xl-4 col-md-4 col-sm-12">
            <!-- <div class="booking-summary">
              <app-placeholder></app-placeholder>
            </div> -->
            <div class="summarybox booking-summary">
              <div class="summary-icon">
                <img src="../../../../../assets/images/icons/icon_billing.svg">
              </div>
              <div class="summary-box-title">
                <h5>Outstanding</h5>
              </div>
              <div class="summery-quantity">
                <small>USD</small>
                <span>0.5M</span>
              </div>
            </div>
          </div>
          <!--/ Booking Summery Col3 -->
        </div>
      </div>
    </div>
  </div>
  <!--/ booking summery -->

    <!-- booking summery -->
    <div class="row">
        <div class="summary-section col-md-12 pr-0">
            <!-- <app-placeholder [heading]="'head'"></app-placeholder> -->
            <h4 class="summary-title">Bookings</h4>
            <div class="booking-summery">
                <div class="row pointer">
                    <!-- Booking Summery Col -->
                    <div class="summary-section-boxes col-xl-6 col-md-6 col-sm-12">
                        <!-- <div class="booking-summary">
                <app-placeholder></app-placeholder>
              </div> -->
                        <div class="summarybox booking-summary">
                            <div class="summary-icon">
                                <img src="../../../../../assets/images/icons/icon_booking_current.svg">
                            </div>
                            <div class="summary-box-title">
                                <h5>Current Bookings</h5>
                            </div>
                            <div class="summery-quantity">
                                <span>16</span>
                            </div>
                        </div>
                    </div>
                    <!--/ Booking Summery Col -->

                    <!-- Booking Summery Col2 -->
                    <div class="summary-section-boxes col-xl-6 col-md-6 col-sm-12">
                        <!-- <div class="booking-summary">
                <app-placeholder></app-placeholder>
              </div> -->
                        <div class="summarybox booking-summary">
                            <div class="summary-icon">
                                <img src="../../../../../assets/images/icons/icon_booking_total.svg">
                            </div>
                            <div class="summary-box-title">
                                <h5>Total Bookings</h5>
                            </div>
                            <div class="summery-quantity">
                                <span>13</span>
                            </div>
                        </div>
                    </div>
                    <!--/ Booking Summery Col3 -->
                </div>
            </div>
        </div>
    </div>
    <!--/ booking summery -->

    <div class="row">
        <div class="col-12 pr-0">
          <div class="card animated bounceInDown">
            <div class="card-body">
              <!-- booking top row -->
              <div class="row">
                <div class="col-12">
                  <div class="bookings-route mb-2">
                    <div class="bookings-route-number">
                          <a href="javascript:;">
                           HM1823JDF323
                            </a>
                          <span class="badge badge-pill hashmove-badge-danger ml-4 pull-right">Documents Pending</span>
                    </div>
                    <small>By Texpo LLC om 23rd march 2018 </small>
                  </div>
                </div>
              </div>
              <!-- booking top row -->
              <!-- booking bottom row -->
              <div class="row">
                <div class="col-3 mt-1">
                  <div class="bookings-route">
                    <div class="ports pull-left">
                      <img src="../../../../assets/images/icons/Icons_Location-grey.svg"  class="ports-location-icon icon-size-16 pull-left">
                      <div class="ports d-inline-block">
                        <label class="ports-label">AEAJEA</label>
                        <small class="d-block">Dubai</small>
                      </div>
                    </div>
                    <img src="../../../../assets/images/icons/icon_route_dashboard.svg" class="pull-left icon-size-16 ports-direction" alt="">
                    <div class="ports pull-left">
                      <label class="ports-label">South Mumbai </label>
                      <small class="d-block">India</small>
                    </div>
                  </div>
                </div>
                <div class="col-3 ml-5">
                  <div class="bookings-route">
                    <div class="ports">
                      <label for="" class="ports-label-grey">Shipment Detail</label>
                      <img src="../../../../assets/images/icons/icons_container_grey.svg" alt="" class="icon-size-24 detail-icon">
                      <div class="d-flex">
                        <small> Good'20'ST*2 </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="bookings-route">
                    <div class="ports">
                      <label for="" class="ports-label-grey mb-2">DEPARTURE</label>
                      <small>23rd july 2018</small>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="bookings-route">
                    <div class="ports">
                      <label for="" class="ports-label-grey mb-2">ETA</label>
                      <small>20 july 2018 22:00</small>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="bookings-route">
                    <div class="ports">
                      <label for="" class="ports-label-grey mb-2">PRICE</label>
                      <small class="text-truncate" >AED 9090</small>
                    </div>
                  </div>
                </div>
              </div>

            </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-12 pr-0">
        <div class="card animated bounceInDown">
          <div class="card-body">
            <!-- booking top row -->
            <div class="row">
              <div class="col-12">
                <div class="bookings-route mb-2">
                  <div class="bookings-route-number">
                        <a href="javascript:;">
                         HM1823JDF323
                          </a>
                          <span class="badge badge-pill hashmove-badge-danger pull-right">In transmit</span>
                        <span class="badge badge-pill hashmove-badge-danger pull-right">Documents Pending</span>
                  </div>
                  <small>By Texpo LLC om 23rd march 2018 </small>
                </div>
              </div>
            </div>
            <!-- booking top row -->
            <!-- booking bottom row -->
            <div class="row">
              <div class="col-3 mt-1">
                <div class="bookings-route">
                  <div class="ports pull-left">
                    <img src="../../../../assets/images/icons/Icons_Location-grey.svg"  class="ports-location-icon icon-size-16 pull-left">
                    <div class="ports d-inline-block">
                      <label class="ports-label">AEAJEA</label>
                      <small class="d-block">Dubai</small>
                    </div>
                  </div>
                  <img src="../../../../assets/images/icons/icon_route_dashboard.svg" class="pull-left icon-size-16 ports-direction" alt="">
                  <div class="ports pull-left">
                    <label class="ports-label">South Mumbai </label>
                    <small class="d-block">India</small>
                  </div>
                </div>
              </div>
              <div class="col-3 ml-5">
                <div class="bookings-route">
                  <div class="ports">
                    <label for="" class="ports-label-grey">Shipment Detail</label>
                    <img src="../../../../assets/images/icons/icons_container_grey.svg" alt="" class="icon-size-24 detail-icon">
                    <div class="d-flex">
                      <small> Good'20'ST*2 </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="bookings-route">
                  <div class="ports">
                    <label for="" class="ports-label-grey mb-2">DEPARTURE</label>
                    <small>23rd july 2018</small>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="bookings-route">
                  <div class="ports">
                    <label for="" class="ports-label-grey mb-2">ETA</label>
                    <small>20 july 2018 22:00</small>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="bookings-route">
                  <div class="ports">
                    <label for="" class="ports-label-grey mb-2">PRICE</label>
                    <small class="text-truncate" >AED 9090</small>
                  </div>
                </div>
              </div>
            </div>

          </div>
      </div>
    </div>
  </div>
