<div class="user-dashboard bookings">
  <!-- row -->
  <div class="user-dashborad-welcome-section">
    <!-- <app-placeholder [heading]="'head'"></app-placeholder> -->
    <h3>Hey beryl Logistics,
      <span>Welcome Back</span>
    </h3>
    <p class="user-info">Last logged in login in 3 days back from 123.12346782 United Arab Emirates </p>
  </div>
  <!--/ row -->

  <!-- booking summery -->
  <div class="row">
    <div class="summary-section col-md-12 pr-0">
      <!-- <app-placeholder [heading]="'head'"></app-placeholder> -->
      <h4 class="summary-title">Revenue Summary</h4>
      <div class="booking-summery">
        <div class="row pointer">
          <!-- Booking Summery Col -->
          <div class="summary-section-boxes col-xl-6 col-md-6 col-sm-12">
            <!-- <div class="booking-summary">
              <app-placeholder></app-placeholder>
            </div> -->
            <div class="summarybox booking-summary">
              <div class="summary-icon">
                <img src="../../../../../assets/images/icons/icon_user02.svg">
              </div>
              <div class="summary-box-title ml-2">
                <h5>Total in voice Amount</h5>
              </div>
              <div class="summery-quantity pl-4">
                  <span class="ml-3">16</span>
              </div>
            </div>
          </div>
          <!--/ Booking Summery Col -->
          <!-- Booking Summery Col2 -->
  
          <!--/ Booking Summery Col2 -->
          <!-- Booking Summery Col3 -->
          <div class="summary-section-boxes col-xl-6 col-md-6 col-sm-12">
            <!-- <div class="booking-summary">
              <app-placeholder></app-placeholder>
            </div> -->
            <div class="summarybox booking-summary">
              <div class="summary-icon">
                <img src="../../../../../assets/images/icons/icon_billing.svg">
              </div>
              <div class="summary-box-title ml-2">
                <h5>total Revenue</h5>
              </div>
              <div class="summery-quantity d-flex">
                <small>USD</small>
                <span>1,000,0000.00</span>
              </div>
            </div>
          </div>
          <!--/ Booking Summery Col3 -->
        </div>
      </div>
    </div>
  </div>
  <!--/ booking summery -->

  <!-- booking summery -->
  <div class="row">
    <div class="summary-section col-md-12 pr-0">
      <!-- <app-placeholder [heading]="'head'"></app-placeholder> -->
      <h4 class="summary-title">Bookings</h4>
      <div class="booking-summery">
        <div class="row pointer">
          <!-- Booking Summery Col -->
          <div class="summary-section-boxes col-xl-6 col-md-6 col-sm-12">
            <!-- <div class="booking-summary">
                <app-placeholder></app-placeholder>
              </div> -->
            <div class="summarybox booking-summary">
              <div class="summary-icon">
                <img src="../../../../../assets/images/icons/icon_booking_current.svg">
              </div>
              <div class="summary-box-title ml-2">
                <h5>Current Bookings</h5>
              </div>
              <div class="summery-quantity pl-4">
                <span class="ml-3">16</span>
              </div>
            </div>
          </div>
          <!--/ Booking Summery Col -->

          <!-- Booking Summery Col2 -->
          <div class="summary-section-boxes col-xl-6 col-md-6 col-sm-12">
            <!-- <div class="booking-summary">
                <app-placeholder></app-placeholder>
              </div> -->
            <div class="summarybox booking-summary">
              <div class="summary-icon">
                <img src="../../../../../assets/images/icons/icon_booking_total.svg">
              </div>
              <div class="summary-box-title ml-2">
                <h5>Total Bookings</h5>
              </div>
              <div class="summery-quantity pl-4">
                <span class="ml-3">13</span>
              </div>
            </div>
          </div>
          <!--/ Booking Summery Col3 -->
        </div>
      </div>
    </div>
  </div>
  <!--/ booking summery -->

  <div class="row">
    <div class="col-12 pr-0">
      <div class="card animated bounceInDown">
        <div class="card-body pt-2">
          <!-- booking top row -->
          <div class="row">
            <div class="col-12">
              <div class="bookings-route">
                <div class="bookings-route-number d-flex no-gutters">
                  <div class="col-xl-6">
                      <a href="javascript:;">
                          HM1823JDF323
                        </a>
                        <small class="d-block">Booked on 6 nov 2018 </small>
                  </div>
                  <div class="col-xl-6 mt-3">
                      <span class="pull-right"><img src="../../../../../assets/images/icons/Icons_Calendar.svg">Maersk Line</span>
                  </div>
                </div>
                <hr class="hr-solid">
              </div>
            </div>
          </div>
          <!-- booking top row -->
          <!-- booking bottom row -->
          <div class="row">
            <div class="col-3 mt-1">
              <div class="bookings-route">
                <div class="ports pull-left">
                  <div class="ports d-inline-block">
                      <small class="d-block mb-3">From</small>
                    <label class="ports-label">AEAJEA</label>
                    <span class="d-block mb-3">Port of Jebal Ali,Dubai</span>
                    <span>
                      <img src="../../../../../assets/images/icons/Icons_Calendar.svg">12 Jul,2018 3:11 </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3 mt-1">
                <div class="bookings-route">
                  <div class="ports pull-left">
                    <div class="ports d-inline-block">
                        <small class="d-block mb-3">to</small>
                      <label class="ports-label">AEAJEA</label>
                      <span class="d-block mb-3">Port of Felixstowe, UK</span>
                    <div class="ports-calendar">
                      <span>
                        <img src="../../../../../assets/images/icons/Icons_Calendar.svg">12 Jul,2018 3:11 </span>
                    </div>
                   </div>
                  </div>
                </div>
              </div>

              <div class="col-3 mt-1">
                  <div class="bookings-route">
                    <div class="ports pull-left">
                      <div class="ports d-inline-block ">
                          <small class="d-block mb-3">CUSTOMER</small>
                        <label class="ports-label">TEXPO LLC</label>
                        <small class="d-block mt-4 mb-1">DOCUMENT STATUS</small>
                        <span class="pending">Pending</span>
                      </div>
                    </div>
                  </div>
                </div>

                
              <div class="col-3 mt-1">
                  <div class="bookings-route">
                    <div class="ports pull-left">
                      <div class="ports d-inline-block">
                          <small class="d-block mb-3">Price</small>
                        <label class="ports-label">TEXPO LLC</label>
                        <small class="d-block mt-4 mb-1">DOCUMENT STATUS</small>
                       <span class="secondary">In Transit</span>
                      </div>
                    </div>
                  </div>
                </div>


          </div>
        </div>
      </div>