@import "./assets/scss/_styles";
@import "./assets/fonts/fonts-hm.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

ng-scrollbar.main-scroll {
  height: 100vh;
}
.toast-container {
  .toast-warning {
    background-color: #fdf6ec;
    border: 1px solid #f89406;
    color: black !important;
    padding: 10px 15px 10px 65px;
    font-size: $font-size-base;
    background-image: unset;
    .toast-close-button {
      outline: 0;
    }
    .toast-message:before {
      content: "";
      width: 45px;
      height: 100%;
      background: #f89406;
      background-image: url("./assets/images/icons/icon_info.svg");
      background-size: 20px;
      background-position: 50%;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: 0;
      color: #f89406;
    }
    .toast-close-button {
      color: dimgrey !important;
    }
  }
  .toast-success {
    @extend .toast-warning;
    background-color: #e9f7f7;
    border: 1px solid #00bfb4;
    .toast-message:before {
      @extend .toast-message:before;
      background: #00bfb4;
      color: #00bfb4;
      background-image: url("./assets/images/icons/icon_success.svg");
      background-size: 20px;
      background-position: 50%;
      background-repeat: no-repeat;
    }
  }
  .toast-error {
    @extend .toast-warning;
    background-color: #fae7e9;
    border: 1px solid #d8242f;
    .toast-message:before {
      @extend .toast-message:before;
      background: #d8242f;
      color: #d8242f;
      background-image: url("./assets/images/icons/icon_error_white.svg");
      background-size: 20px;
      background-position: 50%;
      background-repeat: no-repeat;
    }
  }
  .toast-info {
    @extend .toast-warning;
    background-color: #fff;
    border: 1px solid #2f96b4;
    .toast-message:before {
      @extend .toast-message:before;
      background: #2f96b4;
      color: #2f96b4;
      background-image: url("./assets/images/icons/icon_info_white.svg");
      background-size: 20px;
      background-position: 50%;
      background-repeat: no-repeat;
    }
  }
}
.ng-select {
  .ng-select-container {
    border: 1px solid $provider-input-border;
    &:hover {
      box-shadow: 0px 0px 0px;
    }
    .ng-value-container .ng-input > input {
      height: 2.2rem;
    }
  }
}
.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-placeholder {
  font-size: $font-size-medium;
  font-family: $font-proxima;
  top: 11px;
}

// pagination

.ngx-pagination {
  padding-left: 0.75rem;
  .pagination {
    &-next {
      margin-left: 1px !important;
    }
    &-previous {
      margin-right: -3px !important;
    }
  }
  li {
    //background: #eaeaea;
    font-family: $font-proxima;
    font-size: $font-size-base;
    font-weight: $font-proxima-weight-semibold;
    width: 26px;
    height: 26px;
    border-radius: 4px !important;
    margin-left: 5px; //background: #eaeaea !important;
    border: solid 1px rgb(229, 229, 229);
    color: $secondary-text-color;
    background: $pagination-bg-color;
    /* Old browsers */
    background: -moz-linear-gradient(
      top,
      $white-color 0%,
      $pagination-bg-color 100%
    );
    /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      $white-color 0%,
      $pagination-bg-color 100%
    );
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      $white-color 0%,
      $pagination-bg-color 100%
    );
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$white-color', endColorstr='$pagination-bg-color', GradientType=0);
    /* IE6-9 */
    &.pagination-previous {
      a:before {
        content: "\f104";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: $secondary-text-color;
        z-index: 3;
        margin: 0;
        font-weight: $font-weight-bold;
      }
      span {
        margin-top: 10px;
        float: left;
        width: 100%;
      }
    }
    &.current {
      background: rgba(243, 243, 244, 1) !important;
      color: $secondary-text-color !important;
      padding: 3px 5px;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f4', endColorstr='#f3f3f4', GradientType=0);
      /* IE6-9 */
      background: -moz-linear-gradient(
        90deg,
        rgb(233, 235, 240) 0%,
        rgb(221, 224, 231) 100%
      );
      background: -webkit-linear-gradient(
        90deg,
        rgb(233, 235, 240) 0%,
        rgb(221, 224, 231) 100%
      );
      background: -ms-linear-gradient(
        90deg,
        rgb(233, 235, 240) 0%,
        rgb(221, 224, 231) 100%
      );
      border: 0;
      box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.004),
        inset 0 2px 3px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      span {
        opacity: 1;
      }
    }
    &.pagination-next.disabled,
    &.pagination-previous.disabled {
      display: none;
    }
    &:last-child {
      a:after {
        content: "\f105";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: $secondary-text-color;
        z-index: 3;
        margin: 0;
        font-weight: $font-weight-bold;
      }
    }
    a {
      outline: 0 !important;
      padding: 3px 5px;
      text-align: center;
      color: $secondary-text-color;
      &:hover {
        background: $pagination-bg-color;
        /* Old browsers */
        background: -moz-linear-gradient(
          top,
          $pagination-bg-color 0%,
          $white-color 100%
        );
        /* FF3.6-15 */
        background: -webkit-linear-gradient(
          top,
          $pagination-bg-color 0%,
          $white-color 100%
        );
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
          to bottom,
          $pagination-bg-color 0%,
          $white-color 100%
        );
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$pagination-bg-color', endColorstr='$white-color', GradientType=0);
        /* IE6-9 */
        height: 24px;
        border-radius: 3px;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
      }
    }
  }
}
