<section class="business-profile pl-1 pr-1">
  <h2>{{firstName}}, Add Your Business Profile </h2>
  <p>It takes less than 60 seconds to add your business and get started </p>

  <h5 class="d-flex justify-content-between">
    <span>Key Information</span>
    <span>معلومات أساسية</span>
  </h5>
  <hr class="hr-solid">
  <form autocomplete="off" novalidate [formGroup]="informationForm">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="Trade-License">Trade License No</label>
          <input type="text" class="form-control" formControlName='licenseNo' (ngModelChange)="tradeLiscenceNo('licenseNoAr', $event)">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group dir-otherLanguage">
          <label for="Issue-Date">الرخصة التجارية</label>
          <input type="text" class="form-control" formControlName='licenseNoAr' (ngModelChange)="tradeLiscenceNoTr('licenseNo', $event)">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="Trade-License">Issue Date</label>
          <div class="row">
            <div class="col-3">
              <select id="inputState" class="form-control" placeholder="DD" name="issueDate"
              [(ngModel)]="selectedIssueDate" (change) = "selectDate($event.target.value, 'issue')" formControlName='issueDate'>
                <option value="undefined">DD</option>
                <option *ngFor="let date of dates">{{date.dateNormal}}</option>
              </select>
            </div>
            <div class="col-4">
              <select id="inputState" class="form-control" placeholder="MM" name="issueMonth" 
              [(ngModel)]="selectedIssueMonth" (change)="selectMonth($event.target.value, 'issue')" formControlName='issueMonth'>
                <option value="undefined">MM</option>
                <option *ngFor="let month of months">{{month.name}}</option>
              </select>
            </div>
            <div class="col-4">
              <select id="inputState" class="form-control" name="issueYear" 
              [(ngModel)]="selectedIssueYear" (change)="selectYear($event.target.value, 'issue')" formControlName='issueYear'>
                <option value="undefined">YYYY</option>
                <option *ngFor="let year of pastYears">{{year.yearNormal}}</option>
              </select>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group dir-otherLanguage">
          <label for="Trade-License">تاريخ الاصدار</label>
          <div class="row">
            <div class="col-3">
              <select id="inputState" class="form-control" placeholder="DD" name="issueDateArabic"
              [(ngModel)]="selectedIssueDateAr" (change) = "selectDate($event.target.value, 'issue')" formControlName='issueDateArabic'>
                <option value="undefined">DD</option>
                <option *ngFor="let date of dates">{{date.dateArabic}}</option>
              </select>
            </div>
            <div class="col-4">
              <select id="inputState" class="form-control" placeholder="MM" name="issueMonthArabic" 
              [(ngModel)]="selectedIssueMonthAr" (change)="selectMonth($event.target.value, 'issue')" formControlName='issueMonthArabic'>
                <option value="undefined">MM</option>
                <option *ngFor="let month of months">{{month.arabicName}}</option>
              </select>
            </div>
            <div class="col-4">
              <select id="inputState" class="form-control" name="issueYearArabic" 
              [(ngModel)]="selectedIssueYearAr" (change)="selectYear($event.target.value, 'issue')" formControlName='issueYearArabic'>
                <option value="undefined">YYYY</option>
                <option *ngFor="let year of pastYears">{{year.yearArabic}}</option>
              </select>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="Trade-License">Expiry Date</label>
          <div class="row">
            <div class="col-3">
              <select id="inputState" class="form-control" placeholder="DD" name="expireDate"
              [(ngModel)]="selectedExpireDate" (change) = "selectDate($event.target.value, 'expire')" formControlName='expireDate'>
                <option value="undefined">DD</option>
                <option *ngFor="let date of dates">{{date.dateNormal}}</option>
              </select>
            </div>
            <div class="col-4">
              <select id="inputState" class="form-control" placeholder="MM" name="expireMonth"
              [(ngModel)]="selectedExpireMonth" (change)="selectMonth($event.target.value, 'expire')" formControlName='expireMonth'>
                <option value="undefined">MM</option>
                <option *ngFor="let month of months">{{month.name}}</option>
              </select>
            </div>
            <div class="col-4">
              <select id="inputState" class="form-control" name="expiryYear" 
              [(ngModel)]="selectedExpiryYear" (change)="selectYear($event.target.value, 'expire')" formControlName='expiryYear'>
                <option value="undefined">YYYY</option>
                <option *ngFor="let year of futureYears">{{year.yearNormal}}</option>
              </select>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group dir-otherLanguage">
          <label for="Trade-License">تاريخ الانتهاء</label>
          <div class="row">
            <div class="col-3">
              <select id="inputState" class="form-control" placeholder="DD" name="expireDateArabic"
              [(ngModel)]="selectedExpireDateAr" (change)= "selectDate($event.target.value, 'expire')" formControlName='expireDateArabic'>
                <option value="undefined">DD</option>
                <option *ngFor="let date of dates">{{date.dateArabic}}</option>
              </select>
            </div>
            <div class="col-4">
              <select id="inputState" class="form-control" placeholder="MM" name="expireMonthArabic"
              [(ngModel)]="selectedExpireMonthAr" (change)= "selectMonth($event.target.value, 'expire')" formControlName='expireMonthArabic'>
                <option value="undefined">MM</option>
                <option *ngFor="let month of months">{{month.arabicName}}</option>
              </select>
            </div>
            <div class="col-4">
              <select id="inputState" class="form-control" name="expiryYearArabic" 
              [(ngModel)]="selectedExpiryYearAr" (change)="selectYear($event.target.value, 'expire')" formControlName='expiryYearArabic'>
                <option selected>YYYY</option>
                <option *ngFor="let year of futureYears">{{year.yearArabic}}</option>
              </select>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="trade-license">VAT No</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group dir-otherLanguage">
          <label for="vat-no">ضريبة القيمة المضافة</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="trade-license-box">
      <label for="trade-license" class="m-0"> Trade License </label>
      <br>
      <small>Document must be valid for XX months </small>
      <div class="documentInfo">
        <img src="../../../assets/images/icons/manager-icon.png">
        <p> Drag here or browse to upload</p>
        <small> (supported types: pdf,jpeg,png,Maximum size per document: 4 MB) </small>
      </div>
    </div>
  </form>
  <h5 class="m-0"> Company Activities</h5>
  <small> Select the activities listed on your trade license </small>
  <hr class="hr-solid">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4" *ngFor="let service of serviceOffered">
      <div #selectService class="service-btn text-center d-flex flex-column justify-content-center pointer" (click)="serviceSelection(service, selectService)">
        <span>{{service.ServiceNameBaseLang}}</span>
        <span>{{service.ServiceNameOtherLang}}</span>
      </div>
    </div>
  </div>
  <h5> Business Location</h5>
  <hr class="hr-solid">

  <div class="business-map">
    <div class="map-box">
      <input type="text" class="form-control searchAddress" #search placeholder="Search">
      <agm-map [zoom]="zoomlevel" [latitude]="location.lat" [longitude]="location.lng">
        <agm-marker [latitude]="location.lat" [longitude]="location.lng" [markerDraggable]="draggable" (dragEnd)="markerDragEnd($event)"></agm-marker>
      </agm-map>
    </div>
  </div>

  <form autocomplete="off" novalidate [formGroup]="businessLocForm">
    <div class="row ">
      <div class="col-lg-6 col-md-6 col-sm-12">

        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" formControlName="address">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group dir-otherLanguage">

          <label for="address">عنوان</label>
          <input type="text" class="form-control" formControlName="transAddress">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="row">
          <div class="col-5">
            <div class="form-group">
              <label for="address">P.0 Box</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="row row justify-content-end">
          <div class="col-5">
            <div class="form-group dir-otherLanguage">
              <label for="address">صندوق بريد</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <h5> Business Information</h5>
  <hr class="hr-solid">

  <form autocomplete="off" novalidate [formGroup]="organizationForm">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="address">Upload Logo</label>
          <div class="upload-image">
            <img src="../../../assets/images/icons/manager-icon.png">
            <p> Drag here or browse to upload</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="address">Organization Name</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group dir-otherLanguage">
          <label for="address">اسم المنظمة</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Organization Type </label>
          <select class="form-control" id="exampleFormControlSelect1" name="organizationType"
            [(ngModel)]="selectedOrgType" (change) = "organizationType($event.target.value)" formControlName="organizationType">
            <option value="undefined">Please select</option>
            <option *ngFor="let type of organizationList">{{type.BaseLang}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group dir-otherLanguage">
          <label for="exampleFormControlSelect1">نوع المنظمة</label>
          <select class="form-control" id="exampleFormControlSelect2" name="organizationTypeAr"
            [(ngModel)]="selectedOrgTypeAr" (change) = "organizationType($event.target.value)" formControlName="organizationTypeAr">
            <option value="undefined">Please select </option>
            <option *ngFor="let type of organizationList">{{type.OtherLang}}</option>
          </select>
        </div>
      </div>
    </div>
  </form>


  <h5> Contact Details</h5>
  <hr class="hr-solid">

  <form autocomplete="off" novalidate [formGroup]="contactInfoForm">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Telephone</label>
          <div class="select-number">
            <div class="input-group-prepend">
              <div ngbDropdown>
                <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
                  <img *ngIf="!countryFlagImage" src="../../../../../assets/images/flags/4x3/ae.svg" alt="flags"
                  class="img-responsive">
                <img *ngIf="countryFlagImage" [src]="'../../../../../assets/images/flags/4x3/' + (countryFlagImage | lowercase) + '.svg'"
                  alt="flags" class="img-responsive">
               <span>{{phoneCode}}</span>
                </div>
                <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let list of countryList" (click)="selectPhoneCode(list)">
                      <img [src]="'../../../../../assets/images/flags/4x3/' + (list.code | lowercase) + '.svg'" alt="{{list.code + '-flag'}}">
                      <span> {{list.desc[0].CountryPhoneCode}}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <input type="text" class="form-control" 
               maxlength="9" placeholder="12 345 6789" formControlName="phone" [ngClass]="{'inputError': phoneError && contactInfoForm.controls['phone'].errors}" (focusout)="errorValidate()" (blur)="activePhone=false"
               (ngModelChange)="onModelPhoneChange(activeTransPhone, activePhone, 'transLangPhone', $event)" (focus)="phoneError=false; activePhone=true"
               (keypress)="NumberValid($event)"/>
            </div>
            <span class="animated fadeIn" *ngIf="phoneError">
                <p class="inputError animated fadeIn" *ngIf="contactInfoForm.controls['phone'].hasError('required') && (contactInfoForm.controls.phone.dirty || contactInfoForm.controls.phone.touched)">{{requiredFields}}</p>
                <p class="inputError animated fadeIn" *ngIf="!contactInfoForm.controls['phone'].hasError('pattern') && contactInfoForm.controls['phone'].hasError('minlength') && (contactInfoForm.controls.phone.dirty || contactInfoForm.controls.phone.touched)">Phone number should be minimum 7 digits</p>
                <p class="inputError animated fadeIn" *ngIf="!contactInfoForm.controls['phone'].hasError('pattern') && contactInfoForm.controls['phone'].hasError('maxlength') && (contactInfoForm.controls.phone.dirty || contactInfoForm.controls.phone.touched)">Phone number should not exceed from 9 digits</p>
                <p class="inputError animated fadeIn" *ngIf="contactInfoForm.controls['phone'].hasError('pattern') && (contactInfoForm.controls.phone.dirty || contactInfoForm.controls.phone.touched)">Please enter valid information</p>
              </span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group dir-otherLanguage">
          <label>رقم هاتف</label>
          <div class="select-number">
            <div class="input-group-append">
              <div ngbDropdown>
                <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
                  <img *ngIf="!countryFlagImage" src="../../../../../assets/images/flags/4x3/ae.svg" alt="flags"
                          class="img-responsive">
                        <img *ngIf="countryFlagImage" [src]="'../../../../../assets/images/flags/4x3/' + (countryFlagImage | lowercase) + '.svg'"
                          alt="flags" class="img-responsive">
                   <span>{{transPhoneCode}}</span>
                </div>
                <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let list of countryList" (click)="selectPhoneCode(list)">
                      <img [src]="'../../../../../assets/images/flags/4x3/' + (list.code | lowercase) + '.svg'" alt="{{list.code + '-flag'}}">
                    <span> {{list.desc[0].CountryPhoneCode_OtherLang}}</span>
                  </li>
                  </ul>
                </div>
              </div>
              <input type="text" class="form-control" formControlName="transLangPhone" (focusout)="errorValidate()" (blur)="activeTransPhone=false" (focus)="translangPhoneError=false; activeTransPhone=true"
               [ngClass]="{'inputError': translangPhoneError && contactInfoForm.controls['transLangPhone'].errors}" 
              (ngModelChange)="onModelTransPhoneChange(activePhone, activeTransPhone, 'phone', $event)" maxlength="9" placeholder="۶۷۸۹ ۳۴۵ ۱۲" (keypress)="NumberValid($event)">
            </div>
            <span class="animated fadeIn" *ngIf="translangPhoneError">
                <p class="inputError animated fadeIn" *ngIf="contactInfoForm.controls['transLangPhone'].hasError('required') && (contactInfoForm.controls.transLangPhone.dirty || contactInfoForm.controls.transLangPhone.touched)">{{requiredFieldsOthrLng}}</p>
                <p class="inputError animated fadeIn" *ngIf="!contactInfoForm.controls['transLangPhone'].hasError('pattern') && contactInfoForm.controls['transLangPhone'].hasError('minlength') && (contactInfoForm.controls.transLangPhone.dirty || contactInfoForm.controls.transLangPhone.touched)">يجب أن يكون رقم الهاتف 7 أرقام كحد أدنى</p>
                <p class="inputError animated fadeIn" *ngIf="!contactInfoForm.controls['transLangPhone'].hasError('pattern') && contactInfoForm.controls['transLangPhone'].hasError('maxlength') && (contactInfoForm.controls.transLangPhone.dirty || contactInfoForm.controls.transLangPhone.touched)">يجب ألا يتجاوز رقم الهاتف 9 أرقام</p>
                <p class="inputError animated fadeIn" *ngIf="contactInfoForm.controls['transLangPhone'].hasError('pattern') && (contactInfoForm.controls.transLangPhone.dirty || contactInfoForm.controls.transLangPhone.touched)">يرجى إدخال معلومات صحيحة</p>
              </span>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Fax</label>
          <div class="select-number">
            <div class="input-group-prepend">
              <div ngbDropdown>
                <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
                    <img *ngIf="!countryFlagImage" src="../../../../../assets/images/flags/4x3/ae.svg" alt="flags"
                    class="img-responsive">
                  <img *ngIf="countryFlagImage" [src]="'../../../../../assets/images/flags/4x3/' + (countryFlagImage | lowercase) + '.svg'"
                    alt="flags" class="img-responsive">
                 <span>{{phoneCode}}</span>
                </div>
                <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
                  <ul class="list-group">
                      <li class="list-group-item" *ngFor="let list of countryList" (click)="selectPhoneCode(list)">
                          <img [src]="'../../../../../assets/images/flags/4x3/' + (list.code | lowercase) + '.svg'" alt="{{list.code + '-flag'}}">
                          <span> {{list.desc[0].CountryPhoneCode}}</span>
                      </li>
                  </ul>
                </div>
              </div>
              <input type="text" class="form-control" maxlength="9" placeholder="12 345 6789" (keypress)="NumberValid($event)" />
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group dir-otherLanguage">
          <label>رقم الفاكس</label>
          <div class="select-number">
            <div class="input-group-append">
              <div ngbDropdown>
                <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
                    <img *ngIf="!countryFlagImage" src="../../../../../assets/images/flags/4x3/ae.svg" alt="flags"
                    class="img-responsive">
                  <img *ngIf="countryFlagImage" [src]="'../../../../../assets/images/flags/4x3/' + (countryFlagImage | lowercase) + '.svg'"
                    alt="flags" class="img-responsive">
                 <span>{{transPhoneCode}}</span>
                </div>
                <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
                  <ul class="list-group">
                      <li class="list-group-item" *ngFor="let list of countryList" (click)="selectPhoneCode(list)">
                          <img [src]="'../../../../../assets/images/flags/4x3/' + (list.code | lowercase) + '.svg'" alt="{{list.code + '-flag'}}">
                        <span> {{list.desc[0].CountryPhoneCode_OtherLang}}</span>
                      </li>
                  </ul>
                </div>
              </div>
              <input type="text" class="form-control" maxlength="9" placeholder="۶۷۸۹ ۳۴۵ ۱۲" (keypress)="NumberValid($event)">
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Social Media Accounts</label>
          <div class="select-number mt-3"  *ngFor = "let i of socialAccounts">
            <div class="input-group-prepend">
              <div ngbDropdown>
                <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
                  <span>Website</span>
                </div>
                <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
                  <ul class="list-group">
                    <li class="list-group-item">
                    <li class="list-group-item" *ngFor="let link of socialLink">
                      <span>{{link.title}}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <input type="text" class="form-control" maxlength="12" placeholder="www.company.com" />
            </div>

          </div>
       
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label class="d-flex justify-content-end">حساب وسائل الاعلام الاجتماعية</label>
          <div class="select-number mt-3"  *ngFor = "let i of socialAccounts">
            <div class="input-group-prepend">
              <div ngbDropdown>
                <div class="pointer phone" id="phoneCode" ngbDropdownToggle>
                  <span>Website</span>
                </div>
                <div class="animated fadeIn country-section" ngbDropdownMenu aria-labelledby="phoneCode">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let link of socialLink">
                      <span>{{link.title}}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <input type="text" class="form-control" maxlength="12" placeholder="www.company.com" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="add-more">
        <a href="javascript:;" (click)="addmoreSocialLink()">
        <img src="../../../assets/images/icons/icon_add.svg" alt="icons" class="mr-2 icon-size-16"> 
         Add More Accounts / إضافة المزيد من الحساب</a> 
    </div>

    <div class="contact-btn mt-5">
      <button class="btn btn-primary btn-register hvr-sweep-to-right pull-right" (click)="nextForm()">NEXT / التالى</button>
    </div>


  </form>

</section>
