<footer id="footer">
    <div class="container">
      <div class="row link-Section">
        <div class="col-md-4 info-links">
          <img src="../../../assets/images/icons/user_icon.svg" alt="user_icon">
          Over 
          <span >2,000+</span>
          Suppliers in the Logistics Industry
        </div>

        <div class="col-md-4 info-links">
         <img src="../../../assets/images/icons/gear_icon.svg" alt="gear_icon">
          Best Pricing and Rates in the Industry
        </div>

        <div class="col-md-4 info-links">
          <img src="../../../assets/images/shield.png" alt=""> Fast, Reliable, Secure and Easy Booking Engine
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 copyRights-Section">
          <i class="fa fa-copyright"></i> 2018 HashMove. All rights reserved.
          <a href="javascript:;" class="link-hover">Terms</a>
          <span>|</span>
          <a href="javascript:;" class="privacy link-hover">Privacy</a>
        </div>
      </div>
    </div>
  </footer>