@import '../../../../../../../assets/scss/_variables';
.thankyou {
    .thankyou-icon {
        margin-bottom: 28px;
        img {
            width: 350px;
            height: 150px;
        }
    }
    &-icon {
        display: flex;
    }
    .proceed-btn {
        text-align: center;
        .text {
            font-size: 0.8rem;
            font-weight: 500;
            margin-top: 0.5rem;
            color: $secondary-grey;
        }
        .btn {
            text-transform: uppercase;
            font-weight: 600;
            padding: 0.7rem 2.5rem;
        }
    }
}