<section class="shippinglines pl-1 pr-1">
  
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h5 class="mt-0"> Preffered Shipping Lines</h5>
      <small class="mt-2">Select your preferred shipping lines.</small>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 pt-4">
      <div class="fancyOptionBoxes pull-right ">
        <input id="" name="accountSetup" type="radio">
        <label for="">
          <span></span>
          Select All
        </label>
      </div>
    </div>
  </div>
  <hr class="hr-solid">
  <p class="mt-2"> Recommended</p>
  <div class="row">

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="shippinglines-service  text-center d-flex flex-column justify-content-center pointer active">
        <span class="pb-2">
          <img src="../../../assets/images/logos/shippping-lines/Msc.png"> </span>
        <span> Mediterranean </span>
        <span> Shipping Compamny </span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="shippinglines-service text-center d-flex flex-column justify-content-center pointer  active">
        <span class="pb-2">
          <img src="../../../assets/images/logos/shippping-lines/Maersk.png"> </span>
        <span> Maersk </span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="shippinglines-service text-center d-flex flex-column justify-content-center pointer ">
        <span class="pb-2">
          <img src="../../../assets/images/logos/shippping-lines/.png"> </span>
        <span> CMA CGM </span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="shippinglines-service text-center d-flex flex-column justify-content-center pointer ">
        <span class="pb-2">
          <img src="../../../assets/images/logos/shippping-lines/ship-logo-4.png"> </span>
        <span>American President </span>
        <span>Lines</span>
      </div>
    </div>


    <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
      <p class="pull-left pt-4"> all</p>
      <input type="text" name="userSearch" id="" class="shippinglines-search pull-right" placeholder="Search Shipping Line">
      <img src="../../../../assets/images/icons/icon_search.svg" alt="" class="shippinglines-search-icon icon-size-14">
    </div>


    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="shippinglines-service  text-center d-flex flex-column justify-content-center pointer active">
        <span class="pb-2">
          <img src="../../../assets/images/logos/shippping-lines/.png"> </span>
        <span> One Line </span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="shippinglines-service text-center d-flex flex-column justify-content-center pointer">
        <span class="pb-2">
          <img src="../../../assets/images/logos/shippping-lines/.png"> </span>
        <span> Cosco Shipping </span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="shippinglines-service text-center d-flex flex-column justify-content-center pointer active">
        <span class="pb-2">
          <img src="../../../assets/images/logos/shippping-lines/.png"> </span>
        <span> Messina Line </span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="shippinglines-service text-center d-flex flex-column justify-content-center pointer ">
        <span class="pb-2">
          <img src="../../../assets/images/logos/shippping-lines/.png"> </span>
        <span> Hapag-Lloyd </span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="shippinglines-service  text-center d-flex flex-column justify-content-center pointer ">
        <span class="pb-2">
          <img src="../../../assets/images/logos/shippping-lines/.png"> </span>
        <span> Evergreen Marine</span>
        <span>Corp. </span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="shippinglines-service text-center d-flex flex-column justify-content-center pointer  active">
        <span class="pb-2">
          <img src="../../../assets/images/logos/shippping-lines/.png"> </span>
        <span> Orient Overseas </span>
        <span> Container line</span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="shippinglines-service text-center d-flex flex-column justify-content-center pointer active">
        <span class="pb-2">
          <img src="../../../assets/images/logos/shippping-lines/.png"> </span>
        <span> United Arab </span>

        <span>Shipping Company </span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="shippinglines-service text-center d-flex flex-column justify-content-center pointer ">
        <span class="pb-2">
          <img src="../../../assets/images/logos/shippping-lines/.png"> </span>
        <span> Wan Hai Line </span>
      </div>
    </div>


    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="shippinglines-service  text-center d-flex flex-column justify-content-center pointer active">
        <span class="pb-2">
          <img src="../../../assets/images/logos/shippping-lines/.png"> </span>
        <span> One Line </span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="shippinglines-service text-center d-flex flex-column justify-content-center pointer">
        <span class="pb-2">
          <img src="../../../assets/images/logos/shippping-lines/.png"> </span>
        <span> Cosco Shipping </span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="shippinglines-service text-center d-flex flex-column justify-content-center pointer active">
        <span class="pb-2">
          <img src="../../../assets/images/logos/shippping-lines/.png"> </span>
        <span> Messina Line </span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="shippinglines-service text-center d-flex flex-column justify-content-center pointer ">
        <span class="pb-2">
          <img src="../../../assets/images/logos/shippping-lines/.png"> </span>
        <span> Hapag-Lioyd </span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="shippinglines-service  text-center d-flex flex-column justify-content-center pointer ">
        <span class="pb-2">
          <img src="../../../assets/images/logos/shippping-lines/.png"> </span>
        <span> Evergreen Marine </span>
        <span> Corp. </span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="shippinglines-service text-center d-flex flex-column justify-content-center pointer  active">
        <span class="pb-2">
          <img src="../../../assets/images/logos/shippping-lines/.png"> </span>
        <span> Orient Overseas </span>
        <span> Container Line </span>

      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="shippinglines-service text-center d-flex flex-column justify-content-center pointer active">
        <span class="pb-2">
          <img src="../../../assets/images/logos/shippping-lines/.png"> </span>
        <span> United Arab </span>
        <span> Shipping Company </span>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-3">
      <div #selectService class="shippinglines-service text-center d-flex flex-column justify-content-center pointer ">
        <span class="pb-2">
          <img src="../../../assets/images/logos/shippping-lines/.png"> </span>
        <span>Wan Hai Lines</span>
      </div>
    </div>
  </div>


  <div class="shippinglines-viewicon d-flex justify-content-center">
    <a class="cd-dropdown-trigger" href="javascript:;">View more
      <i class="fa fa-angle-down"></i>
    </a>
  </div>

  <div class="shippinglines-complete mt-5">
      <i class="fa fa-angle-left"></i>
    <a class="cd-dropdown-trigger" href="javascript:;">go back
    </a>
    <button class="btn btn-primary btn-register hvr-sweep-to-right pull-right">Complete setup</button>
  </div>

</section>