@import '../../../../assets/scss/_variables';
.user-desk {
    .h-100 {
        background: #f7f8fc;
    }
    .left-section {
        padding-top: 40px;
        background: $right-side-background;
    }
    .right-section-portal {
        background-color: $right-side-background;
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

@media (max-width: 767px) {
    .user-desk {
        .left-section {
            display: none;
        }
    }
}