@import '../../../../assets/scss/_variables';
.user-desk {
    .h-100 {
        background: $right-side-background;
    }
    .left-section {
        background-color: $left-sidebar-background;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
    }
    .right-section-portal {
        background-color: $right-side-background;
        padding: 75px 0 !important;
    }
}

@media (max-width: $screen-xs-max) {
    .user-desk {
        .left-section {
            display: none;
        }
    }
}