@import '../../../../assets/scss/_variables';
.user-desk {
    .h-100 {
        background: #fdfdff;
    }
    .left-section {
        //     background-color: $left-sidebar-background;
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-between;
        padding-top: 40px;
    }
    .right-section-portal {
        // background-color: $right-side-background;
        padding: 40px 0 !important;
    }
}

@media (max-width: $screen-md-screen) {
    .user-desk {
        .left-section {
            display: none;
        }
    }
}